<div class="dashboard-section">
  <main>
    <section
      class="container view-job-section mt-4 pt-2 start-section not-edit-mode"
    >
      <div class="row section-form-content">
        <div
          class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-8 job-left-content"
        >
          <div class="top-content">
            <h2 class="font-bold mb-3">
              {{ jobDetail?.job_title | titlecase }}
            </h2>
            <div class="row">
              <div class="col-sm col-sm-12 col-md-12 col-lg-12">
                <div class="form-row badge-group form-group">
                  <div class="col-sm col-lg-2 col-md-12 col-sm-12">
                    <input
                      type="text"
                      class="form-control badge-job-type"
                      placeholder="{{ jobDetail?.job_type | titlecase }}"
                      readonly
                    />
                  </div>
                  <div class="col-sm col-lg-2 col-md-12 col-sm-12">
                    <input
                      type="text"
                      placeholder="Senior"
                      class="form-control badge-job-level"
                      readonly
                    />
                  </div>
                  <div class="col-sm col-lg-3 col-md-12 col-sm-12">
                    <input
                      type="text"
                      placeholder="{{ jobDetail?.city | titlecase }}"
                      class="form-control badge-location"
                      readonly
                    />
                  </div>
                  <div class="col-sm col-lg-3 col-md-12 col-sm-12">
                    <input
                      type="text"
                      placeholder="{{ jobDetail?.post_vacancies }} Positions"
                      class="form-control badge-vacancy"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="
            col-sm col-sm-12 col-md-12 col-lg-4
            job-right-content
            top-content
          "
        >
          <div class="btn-group custom-dropdown min-w-250 mr-3">
            <button
              class="
                btn
                w-100
                btn-secondary
                dropdown-toggle
                text-primary
                active
              "
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="active"></span> Active
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item inactive">
                <span class="inactive"></span>In-Active</a
              >
              <a class="dropdown-item archive">
                <span class="archieve"></span>Archive</a
              >
            </div>
          </div>
          <button class="btn btn-secondary" (click)="editJob()">
            <span class="material-icons"> edit </span>
          </button>
        </div>
      </div>
      <div class="row parent-section-body">
        <div
          class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-8 job-left-content"
        >
          <div class="graph-cards row">
            <div class="col-sm col-sm-12 mb-sm-3 col-md-4 col-lg-4">
              <div class="card">
                <label class="font-14 text-grey text-center mb-3">
                  Post reach</label
                >
                <div
                  class="
                    d-flex
                    align-items-center
                    justify-content-space-between
                    mb-4
                  "
                >
                  <h2>45</h2>
                  <span class="arrow-space red"
                    ><span class="material-icons"> arrow_upward </span></span
                  >
                </div>
                <div class="progress red">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-sm col-sm-12 mb-sm-3 col-md-4 col-lg-4">
              <div class="card">
                <label class="font-14 text-grey text-center mb-3">
                  Applicants</label
                >
                <div
                  class="
                    d-flex
                    align-items-center
                    justify-content-space-between
                    mb-4
                  "
                >
                  <h2>{{ appliedUserList?.length }}</h2>
                  <span class="arrow-space green"
                    ><span class="material-icons"> arrow_upward </span></span
                  >
                </div>
                <div class="progress green">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-sm col-sm-12 mb-sm-3 col-md-4 col-lg-4">
              <div class="card">
                <label class="font-14 text-grey text-center mb-3">
                  Open Positions</label
                >
                <div
                  class="
                    d-flex
                    align-items-center
                    justify-content-space-between
                    mb-4
                  "
                >
                  <h2 class="d-flex align-items-center">
                    5/
                    <h6>7</h6>
                  </h2>
                  <span class="arrow-space blue"
                    ><span class="material-icons"> arrow_upward </span></span
                  >
                </div>
                <div class="progress blue">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-content">
            <h4 class="my-4 font-bold">Description</h4>
            <textarea class="form-control" rows="30" readonly>
                            {{ jobDetail?.job_description }}
                        </textarea
            >
          </div>
          <div class="col-sm col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card job-post-card px-3 py-3">
              <div class="border-none">
                <h6>
                  Candidates that match your requirements for recent job post
                </h6>
              </div>
              <div class="card-body">
                <div class="row d-flex justify-content-center">
                  <div class="col-sm col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let candidate of appliedUserList">
                    <div class="candidate-card">
                      <span class="top-pick-label mb-3"
                        ><span class="material-icons text-white mr-1 font-14">
                          stars</span
                        >Top Pick</span
                      >
                      <div class="user-content mt-3">
                        <div class="user-avatar">
                          <img
                            src="../../../../assets/images/temporary-images/candidate-placeholder-image-1.png"
                          />
                        </div>
                        <div class="user-text text-center">
                          <h4>{{candidate?.userByJob?.first_name}} {{candidate?.userByJob?.last_name}}</h4>
                          <label>UX Designer</label>
                        </div>
                        <div
                          class="user-action d-flex justify-content-center pb-3"
                        >
                          <button class="btn btn-primary btn-sm mr-2" >
                            <a [attr.href]="
                            candidate.resumeLink"                             target="_blank"
                             style="color:white">
                            View Profile
                            </a>
                           
                          </button>
                          <button class="btn btn-success btn-sm mr-2">
                            <span class="material-icons"> done </span>
                          </button>
                          <button class="btn btn-danger btn-sm mr-2">
                            <span class="material-icons"> close </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm col-sm-12 col-md-12 col-lg-4 job-right-content">
          <div class="area-grey">
            <div class="top">
              <h4 class="my-3">Job Specifications</h4>
              <div class="form-group">
                <span class="material-icons"> currency_rupee </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ jobDetail?.salary_range.max }}"
                  readonly
                />
              </div>
              <div class="form-group">
                <span class="material-icons"> school </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ jobDetail?.education_level }}"
                  readonly
                />
              </div>
              <div class="form-group">
                <span class="material-icons"> work </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ jobDetail?.minimum_experience_required }}-{{
                    jobDetail?.maximum_experience_required
                  }} Years of Experience"
                  readonly
                />
              </div>
            </div>
            <div class="">
              <h5 class="font-bold my-4 py-3">Skills Required</h5>
              <div class="selected-pill my-3">
                <span
                  class="btn btn-selected-pill mr-3"
                  *ngFor="let skill of jobDetail?.skills"
                  >{{ skill | titlecase }}
                </span>
              </div>
            </div>
            <div class="mandate-section">
              <div class="">
                <div class="input-group">
                  <div class="mr-2">
                    <input
                      type="checkbox"
                      aria-label="Checkbox for following text input"
                      checked="jobDetail?.is_visume"
                    />
                  </div>
                  <p>Addition of Visume is marked mandatory</p>
                </div>
                <div class="input-group">
                  <div class="mr-2">
                    <input
                      type="checkbox"
                      aria-label="Checkbox for following text input"
                      checked="jobDetail?.is_scandidate"
                    />
                  </div>
                  <p>Addition of bgv report is marked mandatory</p>
                </div>
              </div>
            </div>
            <div class="user-group">
              <div class="my-4">
                <h6 class="font-bold">All Applicants</h6>
                <p>add avatar group here</p>
              </div>
              <div class="my-3">
                <h6 class="font-bold">Shortlisted Applicants</h6>
                <p>add avatar group here</p>
              </div>
              <div class="my-2">
                <h6 class="font-bold">Rejected Applicants</h6>
                <p>add avatar group here</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
