<div *ngIf="toggleModal" class="modaledit" style=" border-radius:10px;position: fixed;border: 1px solid black; height:unset;top:20px;left:27%;background:white; z-index:999; padding:30px; ">
  <div class="start-section">
    <div class="section-form-content">
      <form
        [formGroup]="jobPostForm"
       
        noValidate
      >
        <div class="form-group">
          <input
            type="text"
            aria-describedby="title"
            formControlName="title"
            placeholder="Title"
            size="lg"
            class="form-control"
          />
        
        </div>
        <div class="form-row form-group">
          <div class="col">
            <ng-multiselect-dropdown
              [placeholder]="' Job Type'"
              [settings]="dropdownSettings1"
              formControlName="job_type"
              [data]="stateDrp"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
            
          </div>
          <div class="col">
            <ng-multiselect-dropdown
              [placeholder]="' Job Category'"
              [settings]="dropdownSettings1"
              formControlName="job_category"
              [data]="jobCategoryArray"
              (onSelect)="onJobCategoryItemSelect($event)"
              (onSelectAll)="onJobCategorySelectAll($event)"
            >
            </ng-multiselect-dropdown>
            
          </div>
        </div>
        <div class="form-row form-group">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="City"
              formControlName="city"
            />
           
            
          </div>
          <div class="col">
            <input
              type="text"
              placeholder="Country"
              class="form-control"
              formControlName="country"
            />
           
          </div>
        </div>
        <div class="form-row form-group">
          <div class="col">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Minimum Salary Expected"
                formControlName="min_salary"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  >INR</span
                >
              </div>
            </div>
           
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Maximum Salary Expected"
                formControlName="max_salary"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  >INR</span
                >
              </div>
            </div>
            
          </div>
        </div>
        <div
          class="
            form-row form-group
            mt-3
            w-100
            align-items-center
            d-small-block
          "
        >
          <div class="col">
            <label for="exampleFormControlSelect2"
              >Does this position support remote?
            </label>
          </div>
          <div class="col">
            <ng-multiselect-dropdown
              [placeholder]="'Full Time Remote'"
              [settings]="dropdownSettings1"
              formControlName="is_remote"
              [data]="remoteArray"
              (onSelect)="onRemoteItemSelect($event)"
              (onSelectAll)="onRemoteSelectAll($event)"
            >
            </ng-multiselect-dropdown>
          
          </div>
        </div>
        <div class="form-row form-group" style="align-items:center;justify-content:space-around">
          <div class="col">
            <label for="exampleFormControlSelect2"
              >Enter your education
            </label>
          </div>
          <div class="col" >
           
            <ng-multiselect-dropdown
              [placeholder]="'Education Level'"
              [settings]="dropdownSettings1"
              [data]="educationLevelArray"
              (onSelect)="onEducationSelect($event)"
              formControlName="education_level"
              (onSelectAll)="onEducationSelectAll($event)"
            >
            </ng-multiselect-dropdown>
           
          </div>
       
        </div>
        <div class="form-row form-group">
          <div class="col">
            <input
              type="text"
              placeholder="Minimum Experience Required"
              formControlName="min_experience"
              class="form-control"
            />
           
          </div>
          <div class="col">
            <input
              type="text"
              formControlName="max_experience"
              placeholder="Maximum Experience Required"
              class="form-control"
            />
           
          </div>
          <div class="col"></div>
        </div>
      
        <div
          class="
            form-row form-group
            mt-3
            w-100
            align-items-center
          "
        >
          <div class="col">
            <h5 for="exampleFormControlSelect2">
              Post Vacancies
            </h5>
          </div>
          <div class="col">
            <ng-multiselect-dropdown
              [placeholder]="'Select'"
              [settings]="dropdownSettings1"
              [data]="postVacancyArray"
              (onSelect)="onPostVacancySelect($event)"
              formControlName="post_vacancy"
              (onSelectAll)="onPostVacancySelectAll($event)"
            >
            </ng-multiselect-dropdown>
          
            <!-- <div class="btn-group custom-dropdown">
            <button class="btn w-100 btn-secondary btn-lg dropdown-toggle w-min-250" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              2
            </button>
            <div class="dropdown-menu">
              ...
            </div>
          </div> -->
          </div>
        </div>
        <div class="form-group my-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="gridCheck"
              formControlName="isVisume"
            />
            <label
              class="form-check-label text-center"
              for="gridCheck"
            >
              Is visume important for this role?
            </label>
          </div>
        </div>
        <div class="form-group my-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="gridCheck"
              formControlName="is_candidate_report"
            />
            <label
              class="form-check-label text-center"
              for="gridCheck"
            >
              Is Scandidate report important for this role?
            </label>
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea
            class="form-control"
            placeholder="Description"
            id="exampleFormControlTextarea1"
            rows="4"
            formControlName="job_description"
          ></textarea>
        
        </div>
        <div class="form-footer text-right my-4">
          <button
            type="button"
            class="btn btn-secondary btn-lg"
            data-dismiss="modal"
            (click)="showModal()">
          
            Back
          </button>
          <button
            type="submit"
            class="btn btn-primary w-min-250 btn-lg ml-2"
            (click)="handleUpdate()"
          >
            update job
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="dashboard-section">
  <main>
    <section
      class="container view-job-section mt-4 pt-2 start-section not-edit-mode"
    >
      <div class="row section-form-content">
        <div
          class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-8 job-left-content"
        >
          <div class="top-content">
            <h2 class="font-bold mb-3">
              {{ jobDetail?.job_title | titlecase }}
            </h2>
            <div class="row">
              <div class="col-sm col-sm-12 col-md-12 col-lg-12">
                <div class="form-row badge-group form-group">
                  <div class="col-sm col-lg-2 col-md-12 col-sm-12">
                    <input
                      type="text"
                      class="form-control badge-job-type"
                      placeholder="{{ jobDetail?.job_type | titlecase }}"
                      readonly
                    />
                  </div>
                  <div class="col-sm col-lg-2 col-md-12 col-sm-12">
                    <input
                      type="text"
                      placeholder="Senior"
                      class="form-control badge-job-level"
                      readonly
                    />
                  </div>
                  <div class="col-sm col-lg-3 col-md-12 col-sm-12">
                    <input
                      type="text"
                      placeholder="{{ jobDetail?.city | titlecase }}"
                      class="form-control badge-location"
                      readonly
                    />
                  </div>
                  <div class="col-sm col-lg-3 col-md-12 col-sm-12">
                    <input
                      type="text"
                      placeholder="{{ jobDetail?.post_vacancies }} Positions"
                      class="form-control badge-vacancy"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="
            col-sm col-sm-12 col-md-12 col-lg-4
            job-right-content
            top-content
          "
        >
          <div class="btn-group custom-dropdown min-w-250 mr-3">
            <button
              class="
                btn
                w-100
                btn-secondary
                dropdown-toggle
                text-primary
                active
              "
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              *ngIf="jobStatus=='Active'"
            >
             <span   *ngIf="jobStatus=='Active'" class="active" ></span> {{jobStatus}}
            </button>
            <button
            class="
              btn
              w-100
              btn-secondary
              dropdown-toggle
              text-primary
              inactive
            "
            style="display:flex;align-items:center;justify-content:center"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            *ngIf="jobStatus=='In-Active'"
          >
          <span class="inactive" *ngIf="jobStatus=='In-Active'" ></span> {{jobStatus}}
         
          </button>

            <div class="dropdown-menu">
              <a class="dropdown-item inactive"   (click)="toggleStatus('In-Active')">
                <span class="inactive"></span>In-Active</a
              >
              <a class="dropdown-item active"   (click)="toggleStatus('Active')">
                <span class="active"></span>Active</a
              >
             
            </div>
          </div>
          <button class="btn btn-secondary" (click)="showModal()">
            <span class="material-icons"> edit </span>
          </button>
        </div>
      </div>
      <div class="row parent-section-body">
        <div
          class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-8 job-left-content"
        >
          <div class="graph-cards row">
            <div class="col-sm col-sm-12 mb-sm-3 col-md-4 col-lg-4">
              <div class="card">
                <label class="font-14 text-grey text-center mb-3">
                  Post reach</label
                >
                <div
                  class="
                    d-flex
                    align-items-center
                    justify-content-space-between
                    mb-4
                  "
                >
                  <h2>45</h2>
                  <span class="arrow-space red"
                    ><span class="material-icons"> arrow_upward </span></span
                  >
                </div>
                <div class="progress red">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-sm col-sm-12 mb-sm-3 col-md-4 col-lg-4">
              <div class="card">
                <label class="font-14 text-grey text-center mb-3">
                  Applicants</label
                >
                <div
                  class="
                    d-flex
                    align-items-center
                    justify-content-space-between
                    mb-4
                  "
                >
                  <h2>{{ appliedUserList?.length }}</h2>
                  <span class="arrow-space green"
                    ><span class="material-icons"> arrow_upward </span></span
                  >
                </div>
                <div class="progress green">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-sm col-sm-12 mb-sm-3 col-md-4 col-lg-4">
              <div class="card">
                <label class="font-14 text-grey text-center mb-3">
                  Open Positions</label
                >
                <div
                  class="
                    d-flex
                    align-items-center
                    justify-content-space-between
                    mb-4
                  "
                >
                  <h2 class="d-flex align-items-center">
                    0/
                    <h6>{{ jobDetail?.post_vacancies }}</h6>
                  </h2>
                  <span class="arrow-space blue"
                    ><span class="material-icons"> arrow_upward </span></span
                  >
                </div>
                <div class="progress blue">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-content">
            <h4 class="my-4 font-bold">Description</h4>
            <textarea class="form-control" rows="30" readonly style="height:fit-content;max-height: 450px;">
                            {{ jobDetail?.job_description }}

                        </textarea
            >
          </div>
          <div class="col-sm col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="card job-post-card px-3 py-3">
              <div class="border-none">
                <h6>
                  Candidates that match your requirements for recent job post
                </h6>
              </div>
              <div class="card-body">
                <div class="row d-flex justify-content-center">
                  <div class="col-sm col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let candidate of appliedUserList">
                    <div class="candidate-card">
                      <span class="top-pick-label mb-3"
                        ><span class="material-icons text-white mr-1 font-14">
                          stars</span
                        >Top Pick</span
                      >
                      <div class="user-content mt-3">
                        <div class="user-avatar">
                          <img
                            [src]="image"
                          />
                        </div>
                        <div class="user-text text-center">
                          <h4>Priya Mishra</h4>
                          <!-- <label>UX Designer</label> -->
                        </div>
                        <div
                          class="user-action d-flex justify-content-center pb-3"
                        >
                          <button class="btn btn-primary btn-sm mr-2" (click)="manageUser(candidate.candidate_id)">
                            <a                             target="_blank"
                             style="color:white">
                            View Profile
                            </a>
                           
                          </button>
                          <button class="btn btn-success btn-sm mr-2">
                            <span class="material-icons"> done </span>
                          </button>
                          <button class="btn btn-danger btn-sm mr-2">
                            <span class="material-icons"> close </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm col-sm-12 col-md-12 col-lg-4 job-right-content">
          <div class="area-grey">
            <div class="top">
              <h4 class="my-3">Job Specifications</h4>
              <div class="form-group">
                <span class="material-icons"> currency_rupee </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ jobDetail?.salary_range.max }}"
                  readonly
                />
              </div>
              <div class="form-group">
                <span class="material-icons"> school </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ jobDetail?.education_level }}"
                  readonly
                />
              </div>
              <div class="form-group">
                <span class="material-icons"> work </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ jobDetail?.minimum_experience_required }}-{{
                    jobDetail?.maximum_experience_required
                  }} Years of Experience"
                  readonly
                />
              </div>
            </div>
            <div class="">
              <h5 class="font-bold my-4 py-3">Skills Required</h5>
              <div class="selected-pill my-3">
                <span
                  class="btn btn-selected-pill mr-3"
                  *ngFor="let skill of jobDetail?.skills"
                  >{{ skill | titlecase }}
                </span>
              </div>
            </div>
            <div class="mandate-section">
              <div class="">
                <div class="input-group">
                  <div class="mr-2">
                    <input
                      type="checkbox"
                      aria-label="Checkbox for following text input"
                      checked="jobDetail?.is_visume"
                    />
                  </div>
                  <p>Addition of Visume is marked mandatory</p>
                </div>
                <div class="input-group">
                  <div class="mr-2">
                    <input
                      type="checkbox"
                      aria-label="Checkbox for following text input"
                      checked="jobDetail?.is_scandidate"
                    />
                  </div>
                  <p>Addition of bgv report is marked mandatory</p>
                </div>
              </div>
            </div>
            <div class="user-group">
              <div class="my-4">
                <h6 class="font-bold">All Applicants</h6>
                <p>add avatar group here</p>
              </div>
              <div class="my-3">
                <h6 class="font-bold">Shortlisted Applicants</h6>
                <p>add avatar group here</p>
              </div>
              <div class="my-2">
                <h6 class="font-bold">Rejected Applicants</h6>
                <p>add avatar group here</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal_user" >
        <span class="toggle" (click)="toggleIt()">X</span>
        <div class="wrapper">
          <img src="https://www.cnet.com/a/img/gYqc1tZjVGRoIKdg_MqBeZfFltU=/940x0/2019/12/15/71f4408f-b4c7-4ecd-bfea-6f6151e9a3d9/gettyimages-1130598318.jpg" alt="">
          <div class="personalDetails">
            <h4>Raj kumar</h4>
          </div>
          <div class="professionalDetails">
            <h3>Education details</h3>
           
            <div class="edu">
              <span class="schoolName">Delhi University</span>
              <span class="duration">jan 2020-jan2022</span>
            </div>
            <h4>Work experience</h4>
            <div class="work">
              <span class="workName">infotech pvt</span>
              <span class="workDuration">jan 2020-jan2022</span>
            </div>
          </div>
          <div class="buttons">
            <button>view Resume</button>
            <button>view vesume</button>
            <button>view cover letter</button>
          </div>
        </div>
      </div> -->
      <div class="card profile-content-card" [ngStyle]="{display: isModal ? 'flex' :'none'}" style="position:fixed;top:20%;left:20%;width: 580px;height:auto">
        <div class="card-body">
          <button (click)="toggleIt()" style="float:right"> Close</button>
            <!-- <div class="form-group border-bottom">
                <h5 class="bold">Professional Summary</h5>
                <label class="text-color-light pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                    Proin mattis nisi id dolor varius, volutpat egestas lectus pharetra. Etiam tempor
                    lacus est, ac placerat arcu luctus pulvinar. Fusce mattis nibh at leo tincidunt
                    mollis. Fusce magna ligula, porta venenatis sagittis eu, cursus non augue. Ut purus
                    metus, venenatis eget augue in, vulputate congue nulla. Sed aliquam justo vel velit
                    finibus, qui</label>
            </div> -->
            <div class="form-group border-bottom education-section">
                <h5 class="bold pt-4">Experience Summary</h5>
                <label class="text-color-light">Last retained position in the company</label>


                <div >
                    <div class="pb-4 d-flex align-items-center" style="justify-content:space-around !important">
                        <img class="section-image"
                            src="../../../../assets/images/job-posting/education-icon.png"  width="80px"/>
                            <div class="wrapper" style="display: flex;justify-content:space-between;margin-left: 16px; width:65%">
                            <div *ngFor="let exp of expe"  style="width: 65%;">
                        <div class="content mt-3" style="margin-left:18px;width:100%">
                            <h5 class="bold">{{exp.company}} </h5>
                            <p class="font-16 text-grey mb-0">{{exp.designation}}</p>
                            <p class="font-14 text-grey mt-2"> start:{{exp.start_date}} </p><p> end: {{exp.end_date}}</p> 
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
               
            </div>
            <div class="form-group border-bottom education-section">
                <h5 class="bold pt-4">Educational Summary</h5>
                <label class="text-color-light">Last retained position in the company</label>
                <div class="pb-4 d-flex align-items-center" style="width: 77%;justify-content:space-evenly">
                    <img class="section-image"
                        src="../../../../assets/images/job-posting/education-icon.png"  width="80px"/>
                        <div  *ngFor="let edu of educ" >
                            <div class="content mt-3" style="margin-left: 16px;">
                                <h5 class="bold">{{edu.school_name}}</h5>
                                <p class="font-16 text-grey mb-0">{{edu.description}}</p>
                                <p class="font-14 text-grey mt-2"> {{edu.start_date.month}}{{edu.start_date.year}}  {{edu.end_data.month}}{{edu.start_date.year}} <span
                                        class="material-icons text-grey font-8 mx-3">
                                        fiber_manual_record
                                    </span> 1 Year</p>
                            </div>
                        </div>
               
                </div>
            </div>
         
            <div class="form-group border-bottom education-section">
              <h5 class="bold pt-4">Technical Skills</h5>
              <div class="skillsContainer" *ngFor="let skill of TS">
                <div style="margin-left: 10px;">{{skill.name}}</div>
                                </div>
              </div>
              <div class="form-group border-bottom education-section">
                <h5 class="bold pt-4">Soft Skills</h5>
                <div class="skillsContainer" *ngFor="let skill of SS">
                  <span style="margin-left: 10px;"> {{skill.name}}</span>
                                  </div>
                </div>
            <!-- <div class="form-group border-bottom">
                <h5 class="bold pt-4">Add Upskilling undertaken</h5>
                <label class="text-color-light">Showcase your latest achievements, this adds more
                    credability to your profile</label>
                <div class="card course-card border-none pb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                <div class="course-card mr-1">
                                    <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Build Wireframes & Low-Fidelity
                                            Prototypes</h5>
                                        <p class="card-text">Offered By Telitah Phil</p>
                                    </div>
                                    <div class="my-3 text-right px-2">
                                        <button class="btn btn-sm btn-primary">add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                <div class="card course-card mr-1">
                                    <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Build Wireframes & Low-Fidelity
                                            Prototypes</h5>
                                        <p class="card-text">Offered By Telitah Phil</p>
                                    </div>
                                    <div class="my-3 text-right px-2">
                                        <button class="btn btn-sm btn-primary">add</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="form-group border-bottom">
                <h5 class="bold pt-4">Add mentorship undertaken</h5>
                <label class="text-color-light">Showcase your latest achievements, this adds more
                    credability to your profile</label>
                <div class="experts-card pb-4">
                    <div class="card-body">
                        <div class="row px-3">
                            <div class="col-sm col-sm-12 col-lg-6 ">
                                <div class="row expert-card mr-3">
                                    <div class="col-sm col-lg-4 image-card">
                                        <img class=""
                                            src="../../../assets/images/expert-placeholder-image-1.jpg" />
                                    </div>
                                    <div class="col-sm col-lg-8 content-card">
                                        <h6>Soniya S</h6>
                                        <label>design and research instructor</label>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                            eget sapien
                                            ut erat vestibulum ultrices in vel lorem. Morbi leo lacus.
                                            Lorem ipsum
                                            dolor sit amet, consectetur adipiscing elit. Nam eget </p>
                                        <button size="small"
                                            class="btn btn-primary btn-sm mt-3">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="form-group feedback-section">
                <h5 class="bold pt-4">Add feedback</h5>
                <label class="text-color-light">No feedbacks available, request for some
                    feedback</label>
                <div class="d-flex align-items-center background-blue">
                    <div class="section-image">
                        <img src="../../../../assets/images/scandidatelogo.jpg">
                    </div>
                    <div class="content">
                        <h6 class="text-uppercase">Scandidate</h6>
                        <div class="text-grey mb-3">
                            On ReKonnect, candidates can choose total transparency - as a unique
                            offering, we conduct checks on identity, address, education and experience
                            along with a feedback report taken by our team directly from past employers.
                            A Scandidate report gives new employers the confidence to Know Your Hire.
                        </div>
                        <a class="text-primary text-right w-100 ">Request for Feedback <span
                                class="material-icons font-14">
                                arrow_forward_ios
                            </span> </a>
                    </div>
                </div>
            </div> -->
         
        </div>
    </div>
    </section>
  </main>
</div>
