.card-header{
padding-top: 20px;
display: flex;
}

.logo{
height: 70px;
width:70px;
margin: 20px;
}

.btnjob{
  padding: 10px;
  margin: 15px;
}

label{

  margin: 20px;
}

.job-content
{
  padding: 20px;
  max-width: 70%;
  justify-items: center;
}

.user-action-content{
  margin-left: auto;

}

.material-icons{
  margin: 0;
}

.container{
  margin-bottom: 40px;
}

.search{
  padding:12px;margin-bottom:15px;
}

.dropdown{
margin-left: auto;
}

h1{
  padding-top: 12px;
}

