<!-- Expert component -->
<div class="dashboard-section">
    <header>
        <div class="banner banner-bg-large">
            <img class="banner-img" src="../../../../assets/images/expert/expert-cover.jpg" />
        </div>
    </header>

    <main class="negative-top-offset">
        <section class="container organisation-section">
            <div class="row parent-section-body mt-3">
                <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-12 left-side">
                    <div class="top-content d-flex align-items-center">
                        <div class="image-section mr-4">
                            <img src="../../../../assets/images/testimonial-image.png" />
                        </div>
                        <div class="content d-flex align-items-center justify-content-space-between pt-4">
                            <div class="">
                                <h4 class="font-bold">Athiya Dwijen</h4>
                                <h5>Business analyst <a class="btn btn-link text-primary px-0">@gorumbainc</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="custom-organisation-tab">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                    role="tab" aria-controls="pills-home" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-team"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Reviews/Feedback</a>
                            </li>
                        </ul>
                        <div class="tab-content mentor-detail-view mt-4 pt-4" id="pills-tabContent">
                            <div class="tab-pane show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="row">
                                    <div class="col-sm col-sm-12 col-md-12 col-lg-7">
                                        <div class="">
                                            <h5 class="mb-3">Description</h5>
                                            <div class="body">
                                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem.
                                                    Morbi leo lacus. Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem.
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget
                                                    sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus.
                                                </p>
                                            </div>
                                            <div class="my-4 pys-3 expertise-badge">
                                                <h5 class="mb-3">Expertise</h5>
                                                <div class="badge-pills mb-3">
                                                    <span class="badge badge-primary">Tableu</span>
                                                    <span class="badge badge-secondary">Charts</span>
                                                    <span class="badge badge-info">Dashboard analysis</span>
                                                </div>
                                            </div>
                                            <div class="my-4 pys-3 fluent-badge">
                                                <h5 class="mb-3">Fluent In</h5>
                                                <div class="badge-pills mb-3">
                                                    <span class="badge badge-primary">Hindi</span>
                                                    <span class="badge badge-primary">English</span>
                                                    <span class="badge badge-primary">Marathi</span>
                                                </div>
                                            </div>
                                            <div class="my-4 pys-3 ">
                                                <h5 class="mb-3">Experience</h5>
                                                <div class="row experience-border-card align-items-center">
                                                    <div class="col-sm col-sm-12 col-md-2 col-lg-2 section-image">
                                                        <img class="img-fluid"
                                                            src="../../../../assets/images/google.png" />
                                                    </div>
                                                    <div class="col-sm col-sm-12 col-md-10 col-lg-10">
                                                        <div class="blue-pill">2019</div>
                                                        <h6>Lead Senior Developer</h6>
                                                        <p>Lorem Ipsum</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="my-4 pys-3">
                                                <h5 class="mb-3">Socials</h5>
                                                <div class="social-pill">
                                                    <img src="../../../../assets/images/linkedin.png" />
                                                    <p class="font-bold mb-0">Linkedin</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm col-sm-12 col-md-12 col-lg-5">
                                        <div class="availability-section card mb-4">
                                            <div
                                                class="price-banner d-flex justify-content-space-between align-items-center">
                                                <div class="content">
                                                    <h5>Session Price</h5>
                                                    <label>Book the first section with 15% discount</label>
                                                </div>
                                                <div class="price font-bold">
                                                    <h1 class="font-bold">105</h1>
                                                </div>
                                            </div>
                                            <div class="py-3 my-3 border-bottom">
                                                <h5>Available sessions</h5>
                                                <label class="text-grey">In your local timezone (Asia/Calcutta) <a class="btn btn-link text-primary">Update</a></label>
                                            </div>
                                            <div class="date-selection-section my-3">
                                                <div class="row align-items-center">
                                                    <div class="col-sm col-sm-6 col-md-3 col-lg-3">
                                                        <div class="slot-date-pill">
                                                            <span> SAT</span>
                                                            <h3>18 <div>March</div></h3>
                                                            <label> 3 slots</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm col-sm-6 col-md-3 col-lg-3">
                                                        <div class="slot-date-pill">
                                                            <span> SAT</span>
                                                            <h3>18 <div>March</div></h3>
                                                            <label> 3 slots</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm col-sm-6 col-md-3 col-lg-3">
                                                        <div class="slot-date-pill">
                                                            <span> SAT</span>
                                                            <h3>18 <div>March</div></h3>
                                                            <label> 3 slots</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm col-sm-6 col-md-3 col-lg-3">
                                                            <a class="btn btn-link text-primary">view all</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="time-selection-section my-3">
                                                <h5 class="pb-2 border-bottom">Available Time Slots</h5>
                                                <div class="row my-3">
                                                    <div class="col-sm col-sm-6 col-md-3 col-lg-3">
                                                        <div class="slot-time-pill">
                                                            <label> 9:45 am</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm col-sm-6 col-md-3 col-lg-3">
                                                        <div class="slot-time-pill">
                                                            <label> 9:45 am</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm col-sm-6 col-md-3 col-lg-3">
                                                        <div class="slot-time-pill">
                                                            <label> 9:45 am</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="my-3">
                                                <button data-toggle="modal" data-target="#sectionapproveModal" class="btn btn-primary w-100 btn-lg">Book session for 18 Mar</button>
                                            </div>
                                        </div>
                                        <div class="accordion accordian-guideline" id="accordionExample">
                                            <div class="card">
                                                <div class="card-header border-bottom-0 d-flex justify-content-space-between"
                                                    id="headingOne">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left" type="button"
                                                            data-toggle="collapse" data-target="#collapseOne"
                                                            aria-expanded="true" aria-controls="collapseOne">
                                                            What is Expert-Konnect?
                                                        </button>
                                                    </h2>
                                                    <div class="">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </div>
                                                </div>
                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        This is a platform for YOU, the learner, to build a career! It’s
                                                        a chance for you to connect with an individual who comes with a
                                                        fairly vast amount of experience in their field of work and for
                                                        you to spend time with them, ask them questions and seek answers
                                                        from them.

                                                        We hope that the time that you spend on this platform can give
                                                        you a heads-up on how to start making your dreams come true.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header border-bottom-0 d-flex justify-content-space-between"
                                                    id="headingTwo">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left collapsed"
                                                            type="button" data-toggle="collapse"
                                                            data-target="#collapseTwo" aria-expanded="false"
                                                            aria-controls="collapseTwo">
                                                            Who can avail this experience?
                                                        </button>
                                                    </h2>
                                                    <div class="">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        The Expert-Konnect platform is for anyone who wants to start
                                                        from scratch regardless of their background. It is also meant
                                                        for those who want to make career returns or sabbatical returns,
                                                        or switch their line of work or career, because all these
                                                        situations are acceptable and no longer a taboo in today’s
                                                        times!


                                                        We believe that there is no age, background, education, class,
                                                        community or any other barrier that can stop you from continuing
                                                        to learn, grow and pursue something that you love and are
                                                        passionate about.

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header border-bottom-0 d-flex justify-content-space-between"
                                                    id="headingThree">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left collapsed"
                                                            type="button" data-toggle="collapse"
                                                            data-target="#collapseThree" aria-expanded="false"
                                                            aria-controls="collapseThree">
                                                            How does this work?
                                                        </button>
                                                    </h2>
                                                    <div class="">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </div>
                                                </div>
                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        Register as a candidate on www.rekonnect.com On your dashboard,
                                                        you will get a one-shot view of potential experts who could
                                                        guide you. These experts are matched for you, with our
                                                        cutting-edge skills mapping algorithm that unifies your
                                                        strengths, passions and suggests the best possible career
                                                        avenues for you - your sweet spot, your Ikigai.


                                                        You can browse the expert profiles, choose the one that you
                                                        desire to connect with and book a meeting with them by clicking
                                                        on the Book a slot link


                                                        If you are looking to connect with experts from a particular
                                                        field, you can view them on ………..section on your dashboard
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header border-bottom-0 d-flex justify-content-space-between"
                                                    id="headingFour">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left collapsed"
                                                            type="button" data-toggle="collapse"
                                                            data-target="#collapseThree" aria-expanded="false"
                                                            aria-controls="collapseThree">
                                                            How does this help you, the learner?
                                                        </button>
                                                    </h2>
                                                    <div class="">
                                                        <span class="material-icons">
                                                            expand_more
                                                        </span>
                                                    </div>
                                                </div>
                                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        The skills that you carry are more relevant than the roles you
                                                        have managed or handled.

                                                        In this day and age of the Internet where pretty much everyone
                                                        can connect at the click of a button, all you need is an
                                                        internet connection on your phone and of course the will and the
                                                        determination to transform your passion into your profession :)


                                                        In reality, the industry needs a diverse talent pool and doesn't
                                                        have to choose people who’re only available in the current
                                                        talent pool but also those who are employable anywhere in India
                                                        & are currently outside of this talent pool.

                                                        So no matter where you’re located in India right now, you can
                                                        use our Expert-Konnect platform to connect with experienced
                                                        professionals and make a brand new start.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane posting-complete fade" id="pills-team" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm col-sm-12 col-md-12 col-lg-7">
                                        <div class="">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item mt-3">
                                                    <div class="review-item">
                                                        <div class="mb-2">
                                                            <label class="text-grey font-bold font-16">Febraury 23,
                                                                2022</label>
                                                        </div>
                                                        <p class="font-14">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                                            eget sapien ut erat vestibulum ultrices in vel lorem. Morbi
                                                            leo lacus. Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Nam eget sapien ut erat vestibulum ultrices
                                                            in vel lorem.
                                                        </p>
                                                        <div
                                                            class="d-flex justify-content-space-between align-items-center">
                                                            <div class="user-profile">
                                                                <div class="">
                                                                    <img class="img-fluid"
                                                                        src="../../assets/images/testimonial-image.png" />
                                                                </div>
                                                                <div class="">
                                                                    <h5 class="mb-0">Dinesh Kumar</h5>
                                                                    <span>Business analyst <a
                                                                            class="btn btn-link text-primary px-0">@infilab</a></span>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-secondary">write a feedback</button>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="review-item">
                                                        <div class="mb-2">
                                                            <label class="text-grey font-bold font-16">Febraury 23,
                                                                2022</label>
                                                        </div>
                                                        <p class="font-14">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                                            eget sapien ut erat vestibulum ultrices in vel lorem. Morbi
                                                            leo lacus. Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Nam eget sapien ut erat vestibulum ultrices
                                                            in vel lorem.
                                                        </p>
                                                        <div
                                                            class="d-flex justify-content-space-between align-items-center">
                                                            <div class="user-profile">
                                                                <div class="">
                                                                    <img class="img-fluid"
                                                                        src="../../assets/images/testimonial-image.png" />
                                                                </div>
                                                                <div class="">
                                                                    <h5 class="mb-0">Dinesh Kumar</h5>
                                                                    <span>Business analyst <a
                                                                            class="btn btn-link text-primary px-0">@infilab</a></span>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-secondary">write a feedback</button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm col-sm-12 col-md-12 col-lg-5 start-section">
                                        <div class="write-review-banner">
                                            <h5 class="font-bold">Tell us about your experience with the mentor</h5>
                                            <button class="btn btn-secondary">write a feedback</button>
                                            <img class="image-section"
                                                src="../../assets/images/expert/banner-corner-img.png" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>


<!-- charge popup -->
<div class="modal fade charge-modal section-approve-modal" id="sectionapproveModal" tabindex="-1" aria-labelledby="sectionapproveModallabel" aria-hidden="true"
    role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog custom-modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-space-between w-100 align-items-center">
                    <div>   
                        <h5 class="modal-title  mb-3" id="exampleModalLongTitle">Confirm your booking</h5>
                        <label>Mentorship session with <a class="btn btn-link text-primary px-0">Athiya Dwijen</a></label>
                        <div class="scontent d-flex">
                            <div class="calender text-primary">
                                <span class="material-icons font-14 mr-1">
                                    calendar_today
                                </span>
                                <label>18 Mar 2022</label>
                            </div>
                            <div class="time text-primary ml-3">
                                <span class="material-icons font-14 mr-1">
                                    schedule
                                </span>
                                <label>9:45am - 10:45am</label>
                            </div>
                        </div>
                    </div>
                   
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body start-section">
                <div class="section-form-content">
                    <label class="font-bold my-2">Select main topic</label>
                    <div class="form-group w-100">
                        <div class="form-group">
                            <div class="btn-group custom-dropdown w-100">
                                <button
                                    class="btn w-100 btn-secondary btn-lg dropdown-toggle"
                                    type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Select main topic
                                </button>
                                <div class="dropdown-menu">
                                    ...
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-bold my-2">What is the agenda of the meeting? Describe in brief</label>
                        <textarea type="text" placeholder="Tips on getting booking accepted 
                        · Keep your questions specific
                        · Include portfolio link
                        · Share your goal for session "
                            aria-describedby="Title of event" rows="10" size="lg"
                            class="form-control"></textarea>

                    </div>
                    <div class="banner my-3">
                        <h4>DISCLAIMER</h4>
                        <p>Good to know that you are interested in this session! Your booking will be confirmed soon through your email.</p>
                    </div>
                    <div class="footer-actions my-4">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-primary mx-4 w-100 btn-lg">Confirm booking Pay 105rs</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
