<!-- navbar -->
<nav id="navbar" class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container">
        <!-- local host changes -->
        <!-- <a class="navbar-brand" href="../Pages/home.html"><img class="brand-img" src="../Resources/Images/brand.png" /> Amey Naik</a> -->
        <!-- hosting changes -->
        <a class="navbar-brand" href=""><img class="brand-img" src="../assets/images/reonnect-logo.png" /></a>
        <button class="navbar-toggler float-right" id="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse custom-navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav w-100 d-flex justify-content-center">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Candidate
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- <a class="dropdown-item" href="../Pages/cases/grantmanagementtool.html">Grant Management Tool</a> -->
                        <!-- hosting changes -->
                        <a class="dropdown-item" href="">For Freshers</a>
                        <!-- <a class="dropdown-item" href="../Pages/cases/teams.html">Teams, Hr Application</a> -->
                        <!-- hosting changes -->
                        <a class="dropdown-item" href="">For Other</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- <a class="dropdown-item" href="art.html">Art</a> -->
                        <!-- hosting changes -->
                        <a class="dropdown-item" href="">Expert-Konnect</a>

                        <!-- <a class="dropdown-item" href="photography.html">Photography</a> -->
                        <!-- hosting changes -->
                        <a class="dropdown-item" href="">Prep to Earn</a>
                    </div>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="about.html">About</a> -->
                    <!-- hosting changes -->
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="about.html">About</a> -->
                    <!-- hosting changes -->
                    <a class="nav-link" href="">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 float-right ">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button *ngIf="!loginFlag" class="btn btn-primary my-2 my-sm-0" type="button" routerLink="/auth/user/signup">Sign
                    Up</button>
                <button *ngIf="!loginFlag" class="btn btn-primary ml-2 my-sm-0" type="button" routerLink="/auth/user/signin">Sign
                    In</button>
                <button *ngIf="loginFlag"class="btn btn-primary my-2 my-sm-0" type="button" (click)="openLogoutModal()">Logout</button>
            </form>

        </div>
        <!-- <br /> -->

    </div>
</nav>

<div class="modal fade" id="logoutmodal" tabindex="-2" role="dialog"
    aria-labelledby="candidateModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog custom-modal modal-dialog-centered" role="document">
        <div class="modal-content logout-modal-css">
            <div class="modal-header">
                <div class="text-center">
                    <h3 class="modal-title mb-3" id="exampleModalLongTitle">Logout
                    </h3>
                </div>
            </div>
            <div class="modal-body">
                Are you sure want to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    (click)="logout()">Yes</button>
                <button type="submit" class="btn btn-primary" (click)="dismiss()">No</button>
            </div>
        </div>
    </div>
</div>
<!-- <form class="form-inline my-2 my-lg-0 float-right "> -->
<!-- <a href="javascript:void(0)" class="mr-2" routerLink="/auth/user/signup">Sign up as employer</a>
    <a href="javascript:void(0)" routerLink="/auth/user/signin">Sign in as employer</a> -->
<!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0" type="button" routerLink="/auth/candidate/signup">Sign Up</button>
    <button class="btn btn-primary ml-2 my-sm-0" type="button" routerLink="/auth/candidate/signin">Sign In</button> -->