<div class="dashboard-section">
    <header>
        <div class="banner banner-bg-large">
            <img class="banner-img" src="../../../../assets/images/check-all-job/check-banner.jpg" />
        </div>
    </header>

    <main class="negative-top-offset">
        <section class="container job-list-section">
            <div class="row parent-section-body mt-3">
                <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="top-filter">
                            <div class="row start-section">
                                <div class="col-sm col-sm-12 col-md-12 col-lg-12 section-form-content">
                                    <div class="form-row form-group">
                                        <div class="col-sm col-lg-2 col-md-12 col-sm-12">
                                            <span class="material-icons"> search </span>
                                            <input type="text" class="form-control" placeholder="Company Name" />
                                        </div>
                                        <div class="col-sm col-lg-2 col-md-12 col-sm-12">
                                            <span class="material-icons">
                                                location_on
                                            </span>
                                            <input type="text" placeholder="Company Size" class="form-control" />
                                        </div>
                                        <div class="col-sm col-lg-3 col-md-12 col-sm-12">
                                            <span class="material-icons">
                                                apartment
                                            </span>
                                            <input type="text" placeholder="Company Size" class="form-control" />
                                        </div>
                                        <div class="col-sm col-lg-3 col-md-12 col-sm-12">
                                            <span class="material-icons">
                                                currency_rupee
                                            </span>
                                            <input type="text" placeholder="Company Size" class="form-control" />
                                        </div>
                                        <div class="col-sm col-lg-2 col-md-12 col-sm-12">
                                            <button type="button" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my-4 py-3">
                        <div class="top-card-content">
                            <div class="row start-section">
                                <div class="col-sm col-sm-12 mb-sm-3 col-md-5 col-lg-9 section-form-content d-flex">
                                    <div class="title">
                                        <h4 class="font-bold text-grey">Showing 46 results</h4>
                                    </div>
                                </div>
                                <div class="col-sm col-sm-12 mb-sm-3 col-md-7 col-lg-3 d-flex align-items-center">
                                    <label class="font-16 text-grey dropdown-title mb-0">Sort By:</label>
                                    <div class="btn-group custom-dropdown">
                                        <button
                                            class="btn w-100 btn-secondary btn-lg btn-link dropdown-toggle text-primary border-none"
                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Newest First
                                        </button>
                                        <div class="dropdown-menu">
                                            ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-card-content">
                            <div class="job-list-content">
                                <div class="card mb-4" *ngFor="let job of jobListData">
                                    <div class="card-content row">
                                        <div class="head col-sm col-xl-2 col-lg-3 col-md-2 col-sm-12 mr-4">
                                            <div class="image-section ">
                                                <img src="../../../../assets/images/check-all-job/dummy-logo.png" />
                                            </div>
                                        </div>
                                        <div class="col-sm col-xl-9 col-lg-9 col-md-8 col-sm-12">
                                            <div
                                                class="right-side d-flex align-items-center justify-content-space-between">
                                                <h5>{{job.job_title}}</h5>
                                                <div class="right-side d-flex align-items-center">
                                                    <label class="date mr-4 text-grey">
                                                        Posted {{job.created_at}}
                                                    </label>
                                                    <div class="user-action d-flex justify-content-center pb-3">
                                                        <button class="btn btn-primary btn-sm mr-2"
                                                            (click)="viewJob(job)"> View Job
                                                            Post</button>
                                                        <button class="btn btn-secondary btn-sm mr-2"><span
                                                                class="material-icons">
                                                                person_outline</span></button>
                                                        <button class="btn btn-secondary btn-sm mr-2"><span
                                                                class="material-icons">share</span></button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-content">
                                                <div class="badge-pills mb-3">
                                                    <span class="badge badge-primary">{{job.job_type}}</span>
                                                    <span class="badge badge-secondary">{{job.city}}</span>
                                                </div>
                                                <div class="body">
                                                    <p>{{job.job_description}} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>