<div class="dashboard-section">


    <main>
        <section class="container">
            <div class="alert alert-success" role="alert">
                This is a success alert—check it out!
            </div>
            <div class="row parent-section-body profile-page">
                <!-- row one -->
                <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-3">
                    <div class="card profile-basic-card">

                        <div class="card-body">
                            <div class="profile-user-block text-center">
                                <div class="user-profile">
                                    <div class="user-image">
                                        <img src="../../../assets/images/user-profile-placeholder.png" />
                                    </div>
                                    <div class="user-content my-3">
                                        <h5>Jayesh Kumar</h5>
                                        <label>UX Designer</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-12 col-lg-9">
                    <div class="d-flex justify-content-space-between align-items-center">
                        <div>
                            <div class="section-sub-small-title my-4">Apply for job</div>
                            <p class="text-grey mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                                mattis nisi id dolor varius, volutpat egestas lectus pharetra. Etiam tempor lacus est,
                                ac placerat arcu luctus pulvinar. Fusce mattis nibh at leo tincidunt mollis. Fusce magna
                                ligula, porta venenatis sagittis eu, cursus non augue. Ut purus metus, venenatis eget
                                augue in, vulputate congue nulla. Sed aliquam justo vel velit finibus, qui</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary w-min-250">Preview</button>
                        </div>
                    </div>
                    <div class="card profile-content-card px-3 py-3">
                        <div class="card-body">
                            <div class="form-group border-bottom">
                                <h5 class="bold">Professional Summary</h5>
                                <label class="text-color-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Proin mattis nisi id dolor varius, volutpat egestas lectus pharetra. Etiam tempor
                                    lacus est, ac placerat arcu luctus pulvinar. Fusce mattis nibh at leo tincidunt
                                    mollis. Fusce magna ligula, porta venenatis sagittis eu, cursus non augue. Ut purus
                                    metus, venenatis eget augue in, vulputate congue nulla. Sed aliquam justo vel velit
                                    finibus, qui</label>
                            </div>
                            <div class="form-group border-bottom">
                                <h5 class="bold">Experience Summary</h5>
                                <label class="text-color-light">Last retained position in the company</label>
                                <div class="">
                                    <img src="../../../../assets/images/get-placed.png" />
                                    <div class="content">
                                        <h6>PassionFruit Pvt Ltd</h6>
                                        <p>Lead UX</p>
                                        <p> Jan 2020 - Jan 2021 <span class="dot"></span> 1 Year</p>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group border-bottom">
                                <h5 class="bold">Educational Summary</h5>
                                <label class="text-color-light">Last retained position in the company</label>
                                <div class="">
                                    <img src="../../../../assets/images/job-posting/easy-to-manage.png" />
                                    <div class="content">
                                        <h6>Delhi University</h6>
                                        <p>Information Technology</p>
                                        <p> Jan 2020 - Jan 2021 <span class="dot"></span> 1 Year</p>
                                    </div>

                                </div>
                            </div>
                            <div class="start-section border-bottom">
                                <div class="section-form-content">
                                    <div class="form-group py-2">

                                        <h5 class="bold">Upload Resume</h5>
                                        <label class="text-color-light">Be sure to include an updated resume</label>
                                        <div class="custom-file w-max-300 d-block">
                                            <input type="file" class=" custom-file-input" id="inputGroupFile01 ">
                                            <label class="custom-file-label" for="inputGroupFile01">Upload
                                                Resume</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h5 class="bold">Upload Visume</h5>
                                        <label class="text-color-light">Visume is a mandatory field for this
                                            role</label>
                                        <div class="custom-file w-max-300 d-block">
                                            <input type="file" class=" custom-file-input" id="inputGroupFile01">
                                            <label class="custom-file-label" for="inputGroupFile01">Upload
                                                Visume</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h5 class="bold">Upload Cover Letter</h5>
                                        <div class="custom-file w-max-300 d-block">
                                            <input type="file" class=" custom-file-input" id="inputGroupFile01">
                                            <label class="custom-file-label" for="inputGroupFile01">Upload Cover
                                                Letter</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group border-bottom">
                                <h5 class="bold">Add Upskilling undertaken</h5>
                                <label class="text-color-light">Showcase your latest achievements, this adds more
                                    credability to your profile</label>
                                <div class="card course-card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                                <div class="course-card mr-1">
                                                    <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                                        class="card-img-top">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Build Wireframes & Low-Fidelity
                                                            Prototypes</h5>
                                                        <p class="card-text">Offered By Telitah Phil</p>
                                                    </div>
                                                    <div class="my-3 text-right">
                                                        <button class="btn btn-sm btn-primary">add</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                                <div class="card course-card mr-1">
                                                    <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                                        class="card-img-top">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Build Wireframes & Low-Fidelity
                                                            Prototypes</h5>
                                                        <p class="card-text">Offered By Telitah Phil</p>
                                                    </div>
                                                    <div class="my-3 text-right">
                                                        <button class="btn btn-sm btn-primary">add</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group border-bottom">
                                <h5 class="bold">Add mentorship undertaken</h5>
                                <label class="text-color-light">Showcase your latest achievements, this adds more
                                    credability to your profile</label>
                                <div class="experts-card">
                                    <div class="card-body">
                                        <div class="row px-3">
                                            <div class="col-sm col-sm-12 col-lg-6 ">
                                                <div class="row expert-card mr-3">
                                                    <div class="col-sm col-lg-4 image-card">
                                                        <img class=""
                                                            src="../../../assets/images/expert-placeholder-image-1.jpg" />
                                                    </div>
                                                    <div class="col-sm col-lg-8 content-card">
                                                        <h6>Soniya S</h6>
                                                        <label>design and research instructor</label>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                                            eget sapien
                                                            ut erat vestibulum ultrices in vel lorem. Morbi leo lacus.
                                                            Lorem ipsum
                                                            dolor sit amet, consectetur adipiscing elit. Nam eget </p>
                                                        <button size="small"
                                                            class="btn btn-primary btn-sm mt-3">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="bold">Add feedback</h5>
                                <label class="text-color-light">No feedbacks available, request for some
                                    feedback</label>
                                <div class="background-blue">
                                    <img src="../../../../assets/images/job-posting/curated-candidates.png">
                                </div>
                                <div class="content">
                                    <h6 class="uppercase">Scandidate</h6>
                                    <div class="text-grey">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Proin mattis nisi id dolor varius, volutpat egestas lectus pharetra. Etiam
                                        tempor
                                        lacus est, ac placerat arcu luctus pulvinar. Fusce mattis nibh at leo tincidunt
                                        mollis. Fusce magna ligula, porta venenatis sagittis eu, cursus non augue. Ut
                                        purus
                                        metus, venenatis eget augue in, vulputate congue nulla. Sed aliquam justo vel
                                        velit
                                        finibus, qui
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">"<"</button>

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                                <button type="button" class="btn btn-primary w-min-250">Apply for Job</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</div>
</section>
</main>
</div>