<div class="dashboard-section">
    <main>
        <section class="container">
            <div class="alert alert-success" role="alert">
                <span class="material-icons text-verified"> stars</span> Your Background is verified! It gives you
                upperhand and shows you as top candidate
            </div>
            <div class="row parent-section-body profile-page apply-for-job-section">
                <!-- row one -->
                <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-3">
                    <div class="card profile-basic-card">

                        <div class="card-body">
                            <div class="profile-user-block text-center">
                                <div class="user-profile pb-4">
                                    <div class="user-image">
                                        <img src="../../../assets/images/user-profile-placeholder.png" />
                                    </div>
                                    <div class="user-content my-3">
                                        <h5>Jayesh Kumar <span class="material-icons text-verified"> stars</span> </h5>
                                        <label>UX Designer</label>
                                    </div>
                                    <div class="mt-4 text-left sub-content">
                                        <h6 class="font-bold"> Email</h6>
                                        <label> <span class="material-icons font-16 mr-">
                                                mail_outline
                                            </span>some@email.com</label>

                                        <h6 class="font-bold mt-4"> Phone</h6>
                                        <label> <span class="material-icons font-16">
                                                phone
                                            </span> +919876543210</label>

                                        <h6 class="font-bold mt-4"> Total Experience</h6>
                                        <label> <span class="material-icons">
                                                business
                                            </span> 5years, 3months</label>

                                        <h6 class="font-bold mt-4"> Current Location</h6>
                                        <label> <span class="material-icons">
                                                location_on
                                            </span> India, Goa</label>

                                        <h6 class="font-bold mt-4"> Preffered Location</h6>
                                        <label> <span class="material-icons">
                                                location_on
                                            </span> Flexible </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-12 col-lg-9 profile-right-content">
                    <div class="d-flex t-block justify-content-space-between align-items-center">
                        <div class="top-content">
                            <div class="section-sub-small-title my-4">Apply for job</div>
                            <p class="text-grey mt-1 mb-4 font-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                                mattis nisi id dolor varius, volutpat egestas lectus pharetra. Etiam tempor lacus est,
                                ac placerat arcu luctus pulvinar. Fusce mattis nibh at leo tincidunt mollis. Fusce magna
                                ligula, porta venenatis sagittis eu, cursus non augue. Ut purus metus, venenatis eget
                                augue in, vulputate congue nulla. Sed aliquam justo vel velit finibus, qui</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary w-min-250">Preview</button>
                        </div>
                    </div>
                    <div class="card profile-content-card">
                        <div class="card-body">
                            <div class="form-group border-bottom">
                                <h5 class="bold">Professional Summary</h5>
                                <label class="text-color-light pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.
                                    Proin mattis nisi id dolor varius, volutpat egestas lectus pharetra. Etiam tempor
                                    lacus est, ac placerat arcu luctus pulvinar. Fusce mattis nibh at leo tincidunt
                                    mollis. Fusce magna ligula, porta venenatis sagittis eu, cursus non augue. Ut purus
                                    metus, venenatis eget augue in, vulputate congue nulla. Sed aliquam justo vel velit
                                    finibus, qui</label>
                            </div>
                            <div class="form-group border-bottom education-section">
                                <h5 class="bold pt-4">Experience Summary</h5>
                                <label class="text-color-light">Last retained position in the company</label>
                                <div class="pb-4 d-flex align-items-center">
                                    <img class="section-image"
                                        src="../../../../assets/images/job-posting/education-icon.png" />
                                    <div class="content mt-3">
                                        <h5 class="bold">Passionfruit Pvt </h5>
                                        <p class="font-16 text-grey mb-0">Lead UX Lead</p>
                                        <p class="font-14 text-grey mt-2"> Jan 2020 - Jan 2021 <span
                                                class="material-icons text-grey font-8 mx-3">
                                                fiber_manual_record
                                            </span> 1 Year</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group border-bottom education-section">
                                <h5 class="bold pt-4">Educational Summary</h5>
                                <label class="text-color-light">Last retained position in the company</label>
                                <div class="pb-4 d-flex align-items-center">
                                    <img class="section-image"
                                        src="../../../../assets/images/job-posting/education-icon.png" />
                                    <div class="content mt-3">
                                        <h5 class="bold">Delhi University</h5>
                                        <p class="font-16 text-grey mb-0">Information Technology</p>
                                        <p class="font-14 text-grey mt-2"> Jan 2020 - Jan 2021 <span
                                                class="material-icons text-grey font-8 mx-3">
                                                fiber_manual_record
                                            </span> 1 Year</p>
                                    </div>
                                </div>
                            </div>
                            <div class="start-section border-bottom">
                                <div class="section-form-content pb-4">
                                    <div class="form-group py-2 pt-4">
                                        <h5 class="bold">Upload Resume</h5>
                                        <label class="text-color-light">Be sure to include an updated resume</label>
                                        <div class="custom-file w-max-300 d-block">
                                            <input type="file" class=" custom-file-input" id="inputGroupFile01 "
                                                size="lg">
                                            <label class="custom-file-label" for="inputGroupFile01">Upload
                                                Resume</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h5 class="bold">Upload Visume</h5>
                                        <label class="text-color-light">Visume is a mandatory field for this
                                            role</label>
                                        <div class="custom-file w-max-300 d-block">
                                            <input type="file" class=" custom-file-input" id="inputGroupFile01"
                                                size="lg">
                                            <label class="custom-file-label" for="inputGroupFile01">Upload
                                                Visume</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h5 class="bold">Upload Cover Letter</h5>
                                        <label class="text-color-light">Please add cover letter</label>
                                        <div class="custom-file w-max-300 d-block">
                                            <input type="file" class=" custom-file-input" id="inputGroupFile01"
                                                size="lg">
                                            <label class="custom-file-label" for="inputGroupFile01">Upload Cover
                                                Letter</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group border-bottom">
                                <h5 class="bold pt-4">Add Upskilling undertaken</h5>
                                <label class="text-color-light">Showcase your latest achievements, this adds more
                                    credability to your profile</label>
                                <div class="card course-card border-none pb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                                <div class="course-card mr-1">
                                                    <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                                        class="card-img-top">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Build Wireframes & Low-Fidelity
                                                            Prototypes</h5>
                                                        <p class="card-text">Offered By Telitah Phil</p>
                                                    </div>
                                                    <div class="my-3 text-right px-2">
                                                        <button class="btn btn-sm btn-primary">add</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                                <div class="card course-card mr-1">
                                                    <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                                        class="card-img-top">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Build Wireframes & Low-Fidelity
                                                            Prototypes</h5>
                                                        <p class="card-text">Offered By Telitah Phil</p>
                                                    </div>
                                                    <div class="my-3 text-right px-2">
                                                        <button class="btn btn-sm btn-primary">add</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group border-bottom">
                                <h5 class="bold pt-4">Add mentorship undertaken</h5>
                                <label class="text-color-light">Showcase your latest achievements, this adds more
                                    credability to your profile</label>
                                <div class="experts-card pb-4">
                                    <div class="card-body">
                                        <div class="row px-3">
                                            <div class="col-sm col-sm-12 col-lg-6 ">
                                                <div class="row expert-card mr-3">
                                                    <div class="col-sm col-lg-4 image-card">
                                                        <img class=""
                                                            src="../../../assets/images/expert-placeholder-image-1.jpg" />
                                                    </div>
                                                    <div class="col-sm col-lg-8 content-card">
                                                        <h6>Soniya S</h6>
                                                        <label>design and research instructor</label>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                                            eget sapien
                                                            ut erat vestibulum ultrices in vel lorem. Morbi leo lacus.
                                                            Lorem ipsum
                                                            dolor sit amet, consectetur adipiscing elit. Nam eget </p>
                                                        <button size="small"
                                                            class="btn btn-primary btn-sm mt-3">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group feedback-section">
                                <h5 class="bold pt-4">Add feedback</h5>
                                <label class="text-color-light">No feedbacks available, request for some
                                    feedback</label>
                                <div class="d-flex align-items-center background-blue">
                                    <div class="section-image">
                                        <img src="../../../../assets/images/scandidatelogo.jpg">
                                    </div>
                                    <div class="content">
                                        <h6 class="text-uppercase">Scandidate</h6>
                                        <div class="text-grey mb-3">
                                            On ReKonnect, candidates can choose total transparency - as a unique offering, we conduct checks on identity, address, education and experience along with a feedback report taken by our team directly from past employers. 
                                            A Scandidate report gives new employers the confidence to Know Your Hire. 
                                        </div>
                                        <a class="text-primary text-right w-100 ">Request for Feedback <span class="material-icons font-14">
                                            arrow_forward_ios
                                            </span> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer text-right">
                                <button type="button" class="btn btn-secondary mr-2  btn-lg" data-dismiss="modal"><span
                                        class="material-icons font-16 text-center">
                                        arrow_back_ios
                                    </span></button>
                                <button type="button" class="btn btn-secondary mr-2 btn-lg"
                                    data-dismiss="modal">Save</button>
                                <button type="button" class="btn btn-primary mr-2 w-min-250 btn-lg">Apply for
                                    Job</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>