<router-outlet></router-outlet>
<div class="dashboard-section">
    <header>
        <div class="banner">
            <img class="banner-img" src="../../../assets/images/candidate-banner.jpg" />
        </div>
    </header>
    
    <main class="negative-top-offset">
        <section class="container">
            <div class="row parent-section-body">
                <!-- row one -->
                <div class="col-sm col-sm-12 col-md-3 col-lg-3">
                    <div class="card timeline-card">
                        <div class="card-header d-flex align-items-center justify-content-space-between">
                            <h6>Candidate Timeline</h6>
                            <a href=""><span class="material-icons">edit</span></a>
                        </div>
                        <div class="card-body">
                           <div class="timeline-block">
                               <label>Note that this is an placeholder image</label>
                                <img style="width: 210px; height: 300px" src="../../../assets/images/temporary-images/timeline-png.png" />
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-9 col-lg-9">
                    <div class="card profile-card">
                        <div class="card-header d-flex align-items-center justify-content-space-between">
                            <h6>Profile Stats</h6>
                            <a href=""><span class="material-icons">edit</span></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                 <!-- row two -->
                 <div class="col-sm col-sm-12 col-md-3 col-lg-3 mt-3">
                    <div class="card timeline-card">
                        <div class="card-header d-flex align-items-center justify-content-space-between">
                            <h6>Filter</h6>
                        </div>
                        <div class="card-body">
                           <div class="timeline-block">
                               <label>Note that this is an placeholder image</label>
                                <!-- <img style="width: 210px; height: 300px" src="../../../assets/images/temporary-images/timeline-png.png" /> -->
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-9 col-lg-9">
                    <div class="card profile-card">
                        <div class="card-header">
                            <h6>Profile Stats</h6>
                            <span></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                  <!-- row three -->
                  <div class="col-sm col-sm-12 col-md-3 col-lg-3 mt-3"></div>
                  <div class="col-sm col-sm-12 col-md-9 col-lg-9 mt-3">
                    <div class="card profile-card">
                        <div class="card-header">
                            <h6>Profile Stats</h6>
                            <span></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
