<div class="dashboard-section">
    <div class="alert alert-warning profile-completion m-0 d-flex justify-content-space-between align-items-center"
        role="alert">
        <span><strong>Profile 75% completed</strong>Complete your profiile for better reach. </span>

        <button class="btn btn-secondary">Edit Profile</button>
    </div>
    <header>
        <div class="banner">
            <img class="banner-img" src="../../../assets/images/employer-banner.jpg" />
        </div>
    </header>

    <main class="negative-top-offset">
        <section class="container">
            <div class="row parent-section-body">
                <!-- row zero -->
                <div class="col-sm col-sm-12 col-md-12 col-lg-12 mb-3">
                    <div class="card profile-card">
                        <div class="card-header d-none">
                        </div>
                        <div
                            class="card-body employer-header-band d-flex align-items-center justify-content-space-between">
                            <div class="user-profile mb-0">
                                <div class="user-image">
                                    <img [src]="employerInfo.company_logo" />
                                </div>
                                <div class="user-content">
                                    <h5>{{userProfileData?.first_name}} {{userProfileData?.last_name}}</h5>
                                    <label>- {{userProfileData?.employer_details[0].designation | titlecase}}</label>
                                </div>
                            </div>
                            <div class="user-content-action">
                                <button class="btn btn-primary mr-3 btn-lg" 
                               routerLink="/dashboard/employer-view-job">View job listing</button>
                                <button class="btn btn-primary mr-3 btn-lg" 
                                (click)='postJob()'>Post new job listing</button>
                                <button class="btn btn-secondary btn-lg">Recommend Expert</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row one -->
                <div class="col-sm col-sm-12 mb-sm-3 col-md-6 col-lg-3" style="display:none">
                    <!-- <div class="card timeline-card">
                        <div class="card-header d-flex align-items-center justify-content-space-between">
                            <h6>Employer Timeline</h6>
                            <a href=""><span class="material-icons">edit</span></a>
                        </div>
                        <div class="card-body">
                            <div class="timeline-block">
                                <p-timeline [value]="events1">
                                    <ng-template pTemplate="content" let-event>
                                        <p class="timeline-year">{{event.year}}</p>
                                        <p class="timeline-designation">{{event.company_name}}</p>
                                        <p class="timeline-company">{{event.designation}}</p>
                                    </ng-template>
                                </p-timeline>
                                 <label>Note that this is an placeholder image</label>
                                <img style="width: 210px; height: 300px"
                                    src="../../../assets/images/temporary-images/timeline-png.png" /> 
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                [dataLabels]="chartOptions1.dataLabels"
                [plotOptions]="chartOptions1.plotOptions"
                [responsive]="chartOptions1.responsive" [xaxis]="chartOptions1.xaxis"
                [legend]="chartOptions1.legend" [fill]="chartOptions1.fill"></apx-chart> -->

                <div class="col-sm col-sm-12 col-md-6 col-lg-9" style="flex:1 !important;max-width:100% !important;">
                    <div class="card profile-card" >
                        <div class="card-header d-flex align-items-center justify-content-space-between">
                            <h6>Profile Stats</h6>
                            <a href=""><span class="material-icons">edit</span></a>
                        </div>
                        <div class="card-body ">
                            <div class="row mt-2 px-3">
                                <div class="col-sm col-md-12 col-lg-12 employer-card-box mb-3">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="level-one-job-reach">
                                            <h2>7,500</h2>
                                            <label>New Applicants</label>
                                        </div>
                                        <span></span>
                                        <!-- <div class="level-one-job-reach">
                                            <h2>750K</h2>
                                            <label>Job Posting Reach</label>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-sm col-md-12 col-lg-4 employer-card-box">
                                    <div
                                        class="card-content d-flex align-items-center justify-content-space-between px-3 text-center">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                This Week
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">This Week</a>
                                                <a class="dropdown-item" href="#">This Month</a>
                                            </div>
                                        </div>
                                        <h5>Views</h5>
                                    </div>
                                    <!-- <div class="card-image"> -->
                                    <!-- <div id="chart1"> -->
                                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                                        [dataLabels]="chartOptions1.dataLabels"
                                        [plotOptions]="chartOptions1.plotOptions"
                                        [responsive]="chartOptions1.responsive" [xaxis]="chartOptions1.xaxis"
                                        [legend]="chartOptions1.legend" [fill]="chartOptions1.fill"></apx-chart>
                                    <!-- </div> -->
                                    <!-- <img src="../../../../assets/images/temporary-images/bargraph-views.png" /> -->
                                    <!-- </div> -->
                                </div>
                                <div class="col-sm col-md-12 col-lg-4 employer-card-box">
                                    <div
                                        class="card-content  d-flex justify-content-space-between align-items-center px-3 text-center">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                This Week
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">This Week</a>
                                                <a class="dropdown-item" href="#">This Month</a>
                                            </div>
                                        </div>
                                        <h5>Conversions</h5>
                                    </div>
                                    <div class="card-text px-3 py-3">
                                        <div class="d-flex align-items-center justify-content-space-between">
                                            <h5>176K</h5> Application with no Action <span class="light-blue"></span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-space-between">
                                            <h5>176K</h5> New Application <span class="dark-blue"></span>
                                        </div>
                                    </div>
                                    <!-- <div class="card-image mb-3 height-150"> -->
                                    <!-- <div id="chart"> -->
                                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                        [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels">
                                    </apx-chart>
                                    <!-- </div> -->
                                    <!-- <img src="../../../../assets/images/temporary-images/conversion-graph.png" /> -->
                                    <!-- </div> -->
                                </div>
                                <div class="col-sm col-md-11 col-lg-3 ">
                                    <button type="button" class="btn btn-primary upload-customised h-100" data-toggle="modal" data-target="#postjobModal">
                                       Add organisation information
                                      </button>
                                    <!-- <input type="file" id="myFile" name="filename">
                                    <div>
                                        <span class="material-icons">add</span>
                                        <p>Upload Visume</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row two -->
                <div class="col-sm col-sm-12 col-md-12 col-lg-12 mt-3">
                    <div class="card job-post-card">
                        <div class="card-header">
                            <h6>Candidates that match your requirements for recent job post</h6>
                        </div>
                        <div class="card-body">
                            <div class="row d-flex justify-content-center" *ngFor="let user of apppliedUserData">
                                <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                    <div class="candidate-card">
                                        <span class="top-pick-label">Top Pick</span>
                                        <div class="user-content">
                                            <div class="user-avatar">
                                                <img
                                                    src="../../../../assets/images/temporary-images/candidate-placeholder-image-1.png" />
                                            </div>
                                            <div class="user-text text-center">
                                                <h4>{{user.first_name}} {{user.last_name}}</h4>
                                                <label>UX Designer</label>
                                            </div>
                                            <div class="user-action d-flex justify-content-center pb-3">
                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                        class="material-icons"> person_outline</span></button>
                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                        class="material-icons">share</span></button>
                                                <button class="btn btn-primary btn-sm"><span
                                                        class="material-icons font-16">mail_outline </span>
                                                    Get in touch</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                    <div class="candidate-card">
                                        <span class="top-pick-label">Top Pick</span>
                                        <div class="user-content">
                                            <div class="user-avatar">
                                                <img
                                                    src="../../../../assets/images/temporary-images/candidate-placeholder-image-2.png" />
                                            </div>
                                            <div class="user-text text-center">
                                                <h4>Jayesh Kumar</h4>
                                                <label>UX Designer</label>
                                            </div>
                                            <div class="user-action d-flex justify-content-center pb-3">
                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                        class="material-icons"> person_outline</span></button>
                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                        class="material-icons">share</span></button>
                                                <button class="btn btn-primary btn-sm"><span
                                                        class="material-icons font-16">mail_outline </span>
                                                    Get in touch</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                    <div class="candidate-card">
                                        <div class="user-content">
                                            <div class="user-avatar">
                                                <img
                                                    src="../../../../assets/images/temporary-images/candidate-placeholder-image-3.png" />
                                            </div>
                                            <div class="user-text text-center">
                                                <h4>Jayesh Kumar</h4>
                                                <label>UX Designer</label>
                                            </div>
                                            <div class="user-action d-flex justify-content-center pb-3">
                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                        class="material-icons"> person_outline</span></button>
                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                        class="material-icons">share</span></button>
                                                <button class="btn btn-primary btn-sm"><span
                                                        class="material-icons font-16">mail_outline </span>
                                                    Get in touch</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                    <div class="candidate-card">
                                        <div class="user-content">
                                            <div class="user-avatar">
                                                <img
                                                    src="../../../../assets/images/temporary-images/candidate-placeholder-image-4.png" />
                                            </div>
                                            <div class="user-text text-center">
                                                <h4>Jayesh Kumar</h4>
                                                <label>UX Designer</label>
                                            </div>
                                            <div class="user-action d-flex justify-content-center pb-3">
                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                        class="material-icons"> person_outline</span></button>
                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                        class="material-icons">share</span></button>
                                                <button class="btn btn-primary btn-sm"><span
                                                        class="material-icons font-16">mail_outline </span>
                                                    Get in touch</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row three -->
                <div class="col-sm col-sm-12 col-md-12 col-lg-12 mt-3">
                    <div class="card experts-card">
                        <div class="card-header">
                            <h6>Recent Job Posts</h6>
                            <span></span>
                        </div>
                        <div class="card-body">
                            <div class="row px-3">
                                <div *ngFor="let job of entireJobInfo">
                                <div class="col-sm col-sm-12 mb-md-3 mb-2">
                                    <div class="posted-job-card mr-3">
                                        <div class="header-card">
                                            <div class="header-image">
                                                <h5>{{job.job_title}}</h5>
                                                <img
                                                    src="../../../../assets/images/temporary-images/smiley-image.jpg" />
                                            </div>
                                            <div class="user-profile">
                                                <div class="user-image">
                                                    <img
                                                    width="90px"
                                                       [src]="job.company_logo" />
                                                </div>
                                                <div class="user-content">
                                                    <h5>{{job.first_name}} {{job.last_name}}</h5>
                                                    <label>{{job.city}} {{job.country}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-card">
                                            <p>{{job.job_description}}</p>
                                            <label>{{job.job_type}} {{job.job_category}}</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-sm col-sm-12 col-lg-5 mb-md-3 mb-2">
                                    <div class="posted-job-card mr-3">
                                        <div class="header-card">
                                            <div class="header-image">
                                                <h5>Financial Analyst</h5>
                                                <img
                                                    src="../../../../assets/images/temporary-images/smiley-image.jpg" />
                                            </div>
                                            <div class="user-profile">
                                                <div class="user-image">
                                                    <img
                                                        src="../../../../assets/images/temporary-images/Cone-min.png" />
                                                </div>
                                                <div class="user-content">
                                                    <h5>ARMAN FINANCIAL SERVICES INC.</h5>
                                                    <label>Ahmedabad, Gujarat</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-card">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien
                                                ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit. Nam eget </p>
                                            <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                                <div class="col-sm col-sm-12 col-lg-2 d-flex align-items-center">
                                    <a class="btn btn-link text-primary">See more <span class="material-icons">
                                            play_circle_filled
                                        </span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row four -->
                <div class="col-sm col-sm-12 col-md-12 col-lg-7 my-3">
                    <div class="card job-posted-table-card">
                        <div class="card-header">
                            <h6>Other Job Posts</h6>
                            <span></span>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">JOB Listing</th>
                                            <th scope="col">APPLICANTS</th>
                                            <th scope="col">COMPLETION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="job-image d-flex align-items-center">
                                                    <div class="image-pic">
                                                        <img class=""
                                                            src="../../../../assets/images/temporary-images/Cube-min.png" />
                                                    </div>
                                                    <p class="m-0">Business Development</p>
                                                </div>
                                            </td>
                                            <td>
                                                <label class="mt-2">
                                                    <p-avatarGroup styleClass="p-mb-3">
                                                        <p-avatar image="assets/images/team-member-meenakshi.jpg"
                                                            size="large" shape="circle"></p-avatar>
                                                        <p-avatar image="assets/images/team-member-rima.jpg"
                                                            size="large" shape="circle"></p-avatar>
                                                        <p-avatar image="assets/images/team-member-riti.jpg"
                                                            size="large" shape="circle"></p-avatar>
                                                        <p-avatar image="assets/images/expert-placeholder-image-1.jpg"
                                                            size="large" shape="circle"></p-avatar>
                                                        <p-avatar label="+2" shape="circle" size="large"
                                                            [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}">
                                                        </p-avatar>
                                                    </p-avatarGroup>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="progress mt-2">
                                                    <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="job-image d-flex align-items-center">
                                                    <div class="image-pic">
                                                        <img class=""
                                                            src="../../../../assets/images/temporary-images/Cylinder-min.png" />
                                                    </div>
                                                    <p class="m-0">Business Development</p>
                                                </div>
                                            </td>
                                            <td>
                                                <label class="mt-2">
                                                    <p-avatarGroup styleClass="p-mb-3">
                                                        <p-avatar image="assets/images/team-member-meenakshi.jpg"
                                                            size="large" shape="circle"></p-avatar>
                                                        <p-avatar image="assets/images/team-member-rima.jpg"
                                                            size="large" shape="circle"></p-avatar>
                                                        <p-avatar image="assets/images/team-member-riti.jpg"
                                                            size="large" shape="circle"></p-avatar>
                                                        <p-avatar image="assets/images/expert-placeholder-image-1.jpg"
                                                            size="large" shape="circle"></p-avatar>
                                                        <p-avatar label="+2" shape="circle" size="large"
                                                            [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}">
                                                        </p-avatar>
                                                    </p-avatarGroup>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="progress mt-2">
                                                    <div class="progress-bar" role="progressbar" style="width: 100%;"
                                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-12 col-lg-5 my-3">
                    <div class="card recommended-expert-card">
                        <div class="card-header">
                            <h6>Recommended Experts</h6>
                            <span></span>
                        </div>
                        <div class="card-body">
                            <div class="recommended-expert-card-content d-flex align-items-center mb-2">
                                <img class="expert-image"
                                    src="../../../../assets/images/temporary-images/candidate-placeholder-image-1.png">
                                <div class="user-profile ">
                                    <h6>Ananya B</h6>
                                    <label class="designation">Web Designer</label>
                                </div>
                            </div>
                            <div class="recommended-expert-card-content d-flex align-items-center mb-2">
                                <img class="expert-image"
                                    src="../../../../assets/images/temporary-images/candidate-placeholder-image-1.png">
                                <div class="user-profile ">
                                    <h6>Ananya B</h6>
                                    <label class="designation">Web Designer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<!-- Job Listing Modal -->
<div class="modal fade" id="postjobModal" tabindex="-1" role="dialog" aria-labelledby="postjobModalLabel"
    aria-hidden="true">
    <div class="modal-dialog candidate-apply-job-modal" role="document" >

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Company Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="row start-section">
                    <div class="col-sm col-sm-12 col-md-12 col-lg-12 section-form-content">
                        <div class="user-profile mb-4 ">
                            <div class="user-image">
                                <img src="../../../assets/images/facebook-logo.png" />
                            </div>
                            <div class="form-group py-2 px-2">
                                <h5 class="bold">Upload Company logo</h5>
                                <label class="text-color-light">Add company logo</label>
                                <div class="custom-file w-max-300 d-block">
                                    <input type="file" class=" custom-file-input" id="inputGroupFile01 ">
                                    <label class="custom-file-label" for="inputGroupFile01">Upload Logo</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group py-2 px-2">
                            <h5 class="bold">Upload Introduction Video</h5>
                            <label class="text-color-light">Add company Introduction video</label>
                            <div class="custom-file w-max-300 d-block">
                                <input type="file" class=" custom-file-input" id="inputGroupFile01 ">
                                <label class="custom-file-label" for="inputGroupFile01">Upload Video</label>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col mb-2">
                                <input type="text" class="form-control" placeholder="Company Name" />
                            </div>
                            <div class="col mb-2">
                                <input type="text" placeholder="Company Size" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <textarea type="text" class="form-control mb-2" placeholder="Organisation Description"
                                id="exampleFormControlTextarea1" rows="3" formControlName="description" ></textarea>
                        </div>
                        
                        <div class="form-row form-group ">
                            <div class="col mb-2">
                                <input type="text" class="form-control" placeholder="Founded in year"/>
                            </div>
                            <div class="col mb-2">
                                <input type="text" placeholder="Headquarters" class="form-control"/>
                            </div>
                            <div class="col mb-2">
                                <input type="text" placeholder="Website" class="form-control"/>
                            </div>
                            <div class="col mb-2">
                                <input type="text" class="form-control" placeholder="Organisation Type"/>
                            </div>
                            <div class="col mb-2">
                                <input type="text" placeholder="Industry" class="form-control"/>
                            </div>
                        </div> 
                    
                       
                        <label for="exampleFormControlSelect2">Add Team members</label>
                        <div class="form-group py-2 px-2">
                            <h5 class="bold">Upload Image</h5>
                            <div class="custom-file w-max-300 d-block">
                                <input type="file" class=" custom-file-input" id="inputGroupFile01 ">
                                <label class="custom-file-label" for="inputGroupFile01">Upload Image</label>
                            </div>
                        </div>
                        <div class="form-row form-group ">
                            <div class="col mb-2">
                                <input type="text" class="form-control" placeholder="Name"/>
                            </div>
                            <div class="col mb-2">
                                <input type="text" placeholder="Designation" class="form-control"/>
                            </div>
                        </div> 
                        <button type="button" class="btn btn-primary btn-link w-min-250">Add more</button>
                        
                    </div>
                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary w-min-250">Save</button>
            </div>
        </div>
    </div>
</div>