<div class="dashboard-section">
    <div class="container alert alert-warning profile-completion m-0 d-flex justify-content-space-between align-items-center"
        role="alert">
        <span><strong>Profile 75% completed</strong>Complete your profiile for better reach. </span>

        <button class="btn btn-secondary">Edit Profile</button>
    </div>
    <header>
        <div class="banner">
            <img class="banner-img" src="../../../assets/images/candidate-banner.jpg" />
        </div>
    </header>

    <main class="negative-top-offset">
        <section class="container">
            <div class="row parent-section-body">
                <!-- row one -->
                <div class="col-sm col-sm-12 mb-sm-3 col-md-6 col-lg-3">
                    <div class="card timeline-card">
                        <div class="card-header d-flex align-items-center justify-content-space-between">
                            <h6>Candidate Timeline</h6>
                            <a href=""><span class="material-icons">edit</span></a>
                        </div>
                        <div class="card-body">
                            <div class="timeline-block">
                                <label>Note that this is an placeholder image</label>
                                <img style="width: 210px; height: 300px"
                                    src="../../../assets/images/temporary-images/timeline-png.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-6 col-lg-9">
                    <div class="card profile-card">
                        <div class="card-header d-flex align-items-center justify-content-space-between">
                            <h6>Profile Stats</h6>
                            <a href=""><span class="material-icons">edit</span></a>
                        </div>
                        <div class="card-body">
                            <div class="user-profile">
                                <div class="user-image">
                                    <img src="../../../assets/images/user-profile-placeholder.png" />
                                </div>
                                <div class="user-content">
                                    <h5>{{userProfileData?.first_name}} {{userProfileData?.last_name}}</h5>
                                    <label>- UX Designer</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm col-md-5 col-lg-4 card-box">
                                    <div class="card-content text-center">
                                        <label class="font-16">Jobs Applied</label>
                                        <h1>18</h1>
                                        <p><span class="material-icons">arrow_upward</span><span>10%</span> Increased
                                        </p>
                                    </div>
                                    <div class="card-image">
                                        <img src="../../../assets/images/orange-card-wave.png" />
                                    </div>
                                </div>
                                <div class="col-sm col-md-5 col-lg-4 card-box">
                                    <div class="card-content text-center">
                                        <label class="font-16">Suggested Jobs</label>
                                        <h1>23</h1>
                                        <p><span class="material-icons">arrow_upward</span><span>10%</span> Increased
                                        </p>
                                    </div>
                                    <div class="card-image">
                                        <img src="../../../assets/images/green-card-wave.png" />
                                    </div>
                                </div>
                                <div class="col-sm col-md-11 col-lg-3 card-box upload-customised">
                                    <input type="file" id="myFile" name="filename">
                                    <div>
                                        <span class="material-icons">add</span>
                                        <p>Upload Visume</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row two -->
                <div class="col-sm col-sm-12 col-md-4 col-lg-3 mt-3">
                    <div class="card filter-card">
                        <div class="card-header d-flex align-items-center justify-content-center border-0">
                            <h6>Filter</h6>
                        </div>
                        <div class="card-body">
                            <div class="filter-block">
                                <input type="search" placeholder="Specialization, Skills, experts" aria-label="Search"
                                    class="form-control mr-sm-2">
                            </div>
                            <div class="accordion filter-accordian" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Specialization
                                            </button>
                                        </h2>
                                        <span class="material-icons">expand_more</span>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                Suggested Experts in Area
                                            </button>
                                        </h2>
                                        <span class="material-icons">expand_more</span>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <div class="mr-2">
                                                            <input type="checkbox"
                                                                aria-label="Checkbox for following text input">
                                                        </div>
                                                        <label>Animation</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-8 col-lg-9 mt-3">
                    <div class="card job-post-card">
                        <div class="card-header">
                            <h6>Recent Job Posts</h6>
                        </div>
                        <div class="card-body">
                            <div class="job-card">
                                <div class="job-header d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="user-profile">
                                            <img class="" src="../../../assets/images/user-profile-placeholder.png" />
                                        </div>
                                        <div class="user-main-content">
                                            <p class="d-flex m-0 align-items-center"><label
                                                    class="font-bold"><span>Posted By </span> Sharman Singh</label>
                                                <span class="dot"></span>
                                                <label>3 hours ago</label>
                                            </p>
                                            <p class="d-flex m-0"><label class="mr-3"><span
                                                        class="material-icons">work</span> Full Time</label><label
                                                    class="mr-3"><span class="material-icons">location_on</span> Mumbai,
                                                    India</label> </p>
                                        </div>
                                    </div>
                                    <div class="user-action-content">
                                        <a><span class="material-icons">share</span></a>
                                        <button class="btn btn-primary btn-sm" size="small">Apply for job</button>
                                        <button class="btn btn-secondary btn-sm" size="small">View job</button>
                                    </div>
                                </div>
                                <div class="job-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat
                                        vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel
                                        lorem.</p>
                                </div>
                            </div>
                            <div class="job-card">
                                <div class="job-header d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="user-profile">
                                            <img class="" src="../../../assets/images/user-profile-placeholder.png" />
                                        </div>
                                        <div class="user-main-content">
                                            <p class="d-flex m-0 align-items-center"><label
                                                    class="font-bold"><span>Posted By </span> Sharman Singh</label>
                                                <span class="dot"></span>
                                                <label>3 hours ago</label>
                                            </p>
                                            <p class="d-flex m-0"><label class="mr-3"><span
                                                        class="material-icons">work</span> Full Time</label><label
                                                    class="mr-3"><span class="material-icons">location_on</span> Mumbai,
                                                    India</label> </p>
                                        </div>
                                    </div>
                                    <div class="user-action-content">
                                        <a><span class="material-icons">share</span></a>
                                        <button class="btn btn-primary btn-sm" size="small">Apply for job</button>
                                        <button class="btn btn-secondary btn-sm" size="small">View job</button>
                                    </div>
                                </div>
                                <div class="job-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat
                                        vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel
                                        lorem.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- row three -->
                <div class="col-sm col-sm-12 col-md-12 col-lg-3 mt-3"></div>
                <div class="col-sm col-sm-12 col-md-12 col-lg-9 mt-3">
                    <div class="card experts-card">
                        <div class="card-header">
                            <h6>Suggested experts for you</h6>
                            <span></span>
                        </div>
                        <div class="card-body">
                            <div class="row px-3">
                                <div class="col-sm col-sm-12 col-lg-6 ">
                                    <div class="row expert-card mr-3">
                                        <div class="col-sm col-lg-4 image-card">
                                            <img class="" src="../../../assets/images/expert-placeholder-image-1.jpg" />
                                        </div>
                                        <div class="col-sm col-lg-8 content-card">
                                            <h6>Soniya S</h6>
                                            <label>design and research instructor</label>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien
                                                ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit. Nam eget </p>
                                            <button size="small" class="btn btn-primary btn-sm mt-3">Schedule
                                                Meeting</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-sm-12 col-lg-6 ">
                                    <div class="row expert-card">
                                        <div class="col-sm col-lg-4 image-card">
                                            <img class="" src="../../../assets/images/expert-placeholder-image-2.jpg" />
                                        </div>
                                        <div class="col-sm col-lg-8 content-card">
                                            <h6>Chandan Bhatia</h6>
                                            <label>Financial Advisor</label>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien
                                                ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit. Nam eget </p>
                                            <button size="small" class="btn btn-primary btn-sm mt-3">Schedule
                                                Meeting</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row four -->
                <div class="col-sm col-sm-12 col-md-12 col-lg-3 mt-3"></div>
                <div class="col-sm col-sm-12 col-md-12 col-lg-9 my-3">
                    <div class="card course-card">
                        <div class="card-header">
                            <h6>Curated courses for you</h6>
                            <span></span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm col-sm-12 col-md-6 mb-md-3 mb-sm-3 col-lg-3">
                                    <div class="card course-card mr-1">
                                        <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                            class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Build Wireframes & Low-Fidelity Prototypes</h5>
                                            <p class="card-text">Offered By Telitah Phil</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                    <div class="card course-card mr-1">
                                        <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                            class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Build Wireframes & Low-Fidelity Prototypes</h5>
                                            <p class="card-text">Offered By Telitah Phil</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                    <div class="card course-card mr-1">
                                        <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                            class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Build Wireframes & Low-Fidelity Prototypes</h5>
                                            <p class="card-text">Offered By Telitah Phil</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                    <div class="card course-card mr-1">
                                        <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                            class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Build Wireframes & Low-Fidelity Prototypes</h5>
                                            <p class="card-text">Offered By Telitah Phil</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>