<div class="dashboard-section" style="position: unset !important">
    <div class= "alert alert-warning profile-completion m-0 d-flex justify-content-space-between align-items-center"
        role="alert">
        <span><strong>Profile 75% completed</strong>Complete your profiile for better reach. </span>

        <button class="btn btn-secondary">Edit Profile</button>
    </div>
    <header>
        <div class="banner">
            <img class="banner-img" src="../../../assets/images/profile-banner.jpg" />
        </div>
    </header>

    <main class="negative-top-offset">
        <section class="container">
            <div class="row parent-section-body profile-page">
                <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-3">
                    <div class="card profile-basic-card">
                        <div class="card-header d-flex align-items-center border-none justify-content-space-between">
                            <h6></h6>
                            <a href=""><span class="material-icons">edit</span></a>
                        </div>
                        <div class="card-body">
                            <div class="profile-user-block text-center">
                                <div class="user-profile">
                                    <div class="user-image">
                                        <img src="../../../assets/images/user-profile-placeholder.png" />
                                    </div>
                                    <div class="user-content my-3">
                                        <h5>{{userData.first_name}} {{userData.last_name}}</h5>
                                        <label>UX Design</label>
                                        <label class="d-block"><i>{{personalData.address_details.state.name}}</i></label>
                                        <h2><span class="badge badge-secondary">Candidate</span></h2>
                                    </div>
                                    <div class="user-socials">
                                        <div class="col-sm col-md-4 col-sm-12">
                                            <div class="border-outline-box">
                                                <img class="img-fluid" src="../../../assets/images/google.png" />
                                            </div>
                                        </div>
                                        <div class="col-sm col-md-4 col-sm-12">
                                            <div class="border-outline-box">
                                                <img class="img-fluid" src="../../../assets/images/facebook.png" />
                                            </div>
                                        </div>
                                        <div class="col-sm col-md-4 col-sm-12">
                                            <div class="border-outline-box">
                                                <img class="img-fluid" src="../../../assets/images/linkedin.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-12 col-lg-9">
                    <div class="card profile-content-card">
                        <div class="card-body">
                            <div class="accordion filter-accordian" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                <span class="material-icons">add</span> Basic Information
                                            </button>
                                        </h2>
                                       
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div style="position: relative;">
                                            <span style="position: absolute;top:5px;right:18px;font-size:16px" (click)="toggleEdit('first')">Edit</span>
                                           <div style="padding:22px">
                                               <div class="email" style="padding:9px;font-size:20px">Email:{{userData.email}}</div>
                                               <div class="PhoneandLocation" style="padding:9px;display:flex;align-items:center;justify-content:space-between ">
                                                  <span style="font-size:20px">Phone: {{userData.phone}}</span>  <span style="font-size:20px"> Location:{{personalData.address_details.state.name}}</span>
                                               </div>
                                               <div class="address" style="padding:9px;font-size:20px"> address:{{personalData.address_details.landmark}} {{personalData.address_details.street}} {{personalData.address_details.zip_code}}</div>
                                           </div>
                                        </div>
                                        <div *ngIf="isfirst" class="card-body">
                                            <div class="section start-section">

                                                <form class="section-form-content">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" (change)="updateUserField($event,'email')"
                                                                id="exampleInputEmail1" aria-describedby="emailHelp"
                                                                placeholder="Enter email">
                                                        </div>
                                                        <div class="form-row form-group">
                                                            <div class="col">
                                                                <input type="tel" class="form-control"
                                                                    placeholder="Phone" (change)="updateUserField($event,'phone')"/>
                                                            </div>
                                                            <div class="col">
                                                                <input type="text" placeholder="Location"
                                                                    class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <textarea type="text" class="form-control mb-2"
                                                                placeholder="address" id="addressTextarea1" rows="3"
                                                                formControlName="address"></textarea>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                <span class="material-icons">add</span> Education
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        
                                        <div style="position: relative;" >
                                            <span *ngIf="isUneducated" style="padding:22px">Please add your education!!</span>
                                            <span style="position: absolute;top:5px;right:18px;font-size:16px" (click)="toggleEdit('second')">Edit</span>
                                           <div *ngFor="let educ of personalData.education_data.education_details">
                                            <div style="padding:22px" *ngIf="isUneducated==false">
                                               <div class="email" style="padding:9px;font-size:20px">{{educ.school_name}}</div>
                                               <div class="PhoneandLocation" style="padding:9px;display:flex;align-items:center;justify-content:space-between ">
                                                  <span style="font-size:20px">{{educ.description}}</span>  <span style="font-size:20px"> {{educ.grade}}</span>
                                               </div>
                                               <div class="address" style="padding:9px;font-size:20px">{{educ.start_date}} {{educ.end_date}}</div>
                                           </div>
                                        </div>
                                        </div>
                                        <div class="card-body" *ngIf="issecond">
                                            <div class="section start-section">

                                                <form class="section-form-content">
                                                    <div class="form-row form-group">
                                                        <div class="col">
                                                            <input type="text" class="form-control"
                                                                placeholder="School Name"
                                                                formControlName="Designation" 
                                                                (change)="updateUserField($event,'schoolName')"/>
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="Grade"
                                                                formControlName="company" class="form-control" 
                                                                (change)="updateUserField($event,'schoolGrade')"

                                                                />
                                                        </div>
                                                    </div>
                                                   

                                                    <div class="form-row form-group mt-3">
                                                        <div class="col">
                                                            <label for="exampleFormControlSelect2">Start Date</label>
                                                            <input type="date" placeholder="Country"
                                                            (change)="updateUserField($event,'startDate')"

                                                                formControlName="country" class="form-control" />
                                                        </div>
                                                        <div class="col">
                                                            <label for="exampleFormControlSelect2">End Date</label>
                                                            <input type="date" placeholder="Country"
                                                            (change)="updateUserField($event,'endDate')"

                                                                formControlName="country" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group my-3">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                I am currently working here in this role
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-3">
                                                        <label for="exampleFormControlSelect2">Education Description</label>
                                                        <textarea (change)="updateUserField($event,'schoolDesc')"  class="form-control" id="exampleFormControlTextarea1"
                                                            rows="3"></textarea>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                <span class="material-icons">add</span> Expereince
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample">
                                       
                                        <div style="position: relative;">
                                            <span *ngIf="isFresher"> Fresher!</span>  <span style="position: absolute;top:5px;right:18px;font-size:16px" (click)="toggleEdit('third')">Edit</span>
                                           <div style="padding:22px">
                                            <div *ngFor="let pExp of personalData.experience_data.experience_details">
                                                <div style="padding:22px" *ngIf="isFresher==false">
                                                   <div class="email" style="padding:9px;font-size:20px">{{pExp.company}}</div>
                                                   <div class="PhoneandLocation" style="padding:9px;display:flex;align-items:center;justify-content:space-between ">
                                                      <span style="font-size:20px">{{pExp.job_description}}</span>  <span style="font-size:20px"> {{pExp.designation}}</span>
                                                   </div>
                                                   <div class="address" style="padding:9px;font-size:20px">{{pExp.start_date}} {{pExp.end_date}}</div>
                                               </div>
                                        </div>
                                        <div class="card-body" *ngFor="isthird">
                                            <div class="section start-section">

                                                <form class="section-form-content">
                                                    <div class="form-row form-group">
                                                        <div class="col">
                                                            <input type="text" class="form-control"
                                                                placeholder="Designation"
                                                                formControlName="Designation" />
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="Company"
                                                                formControlName="company" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-row form-group">
                                                        <div class="col">
                                                            <input type="text" class="form-control"
                                                                placeholder="location" formControlName="location" />
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" placeholder="Country"
                                                                formControlName="country" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="form-row form-group mt-3">
                                                        <div class="col">
                                                            <label class="text-grey" for="exampleFormControlSelect2">Start Date</label>
                                                            <input type="date" placeholder="Country"
                                                                formControlName="country" class="form-control" />
                                                        </div>
                                                        <div class="col">
                                                            <label class="text-grey" for="exampleFormControlSelect2">End Date</label>
                                                            <input type="date" placeholder="Country"
                                                                formControlName="country" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group my-3">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="gridCheck">
                                                            <label class="form-check-label text-grey" for="gridCheck">
                                                                I am currently working here in this role
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-3">
                                                        <label class="text-grey" for="exampleFormControlSelect2">Job Description</label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                            rows="3"></textarea>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                                <span class="material-icons">add</span> Certification
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="section start-section">

                                                <form class="section-form-content">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Name"
                                                            formControlName="Name" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                            placeholder="Issuing Organisation"
                                                            formControlName="organisation" />
                                                    </div>
                                                    <div class="form-group my-3">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                This Certificate does not expire
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <p class="form-group-label text-grey">Issue Date</p>
                                                    <div class="form-row form-group mt-3">
                                                        <div class="col">
                                                            <input type="date" placeholder="Country"
                                                                formControlName="country" class="form-control" />
                                                        </div>
                                                        <div class="col">
                                                            <input type="date" placeholder="Country"
                                                                formControlName="country" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <p class="form-group-label text-grey">Expiration Date</p>
                                                    <div class="form-row form-group mt-3">
                                                        <div class="col">
                                                            <input type="date" placeholder="Country"
                                                                formControlName="country" class="form-control" />
                                                        </div>
                                                        <div class="col">
                                                            <input type="date" placeholder="Country"
                                                                formControlName="country" class="form-control" />
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFive">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                                aria-controls="collapseFive">
                                                <span class="material-icons">add</span> Publication
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="section start-section">

                                                <form class="section-form-content">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Tilte"
                                                            formControlName="Title" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                            placeholder="Publisher/Publication"
                                                            formControlName="Publication" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                            placeholder="Author"
                                                            formControlName="Author" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="link" class="form-control"
                                                            placeholder="Publication URL"
                                                            formControlName="publicationlink" />
                                                    </div>
                                                    <div class="form-group ">
                                                        <textarea type="text" class="form-control mb-2"
                                                            placeholder="Description" id="addressTextarea1" rows="3"
                                                            formControlName="address"></textarea>
                                                    </div>
                                                   
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingSix">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                                aria-controls="collapseSix">
                                                <span class="material-icons">add</span> Awards
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="section start-section">

                                                <form class="section-form-content">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Name"
                                                            formControlName="Name" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                            placeholder="Associated With"
                                                            formControlName="association" />
                                                    </div>
                                                
                                                    <p class="form-group-label text-grey">Issue Date</p>
                                                    <div class="form-row form-group mt-3">
                                                        <div class="col">
                                                            <input type="date" placeholder="Country"
                                                                formControlName="country" class="form-control" />
                                                        </div>
                                                        <div class="col">
                                                            <input type="date" placeholder="Country"
                                                                formControlName="country" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <textarea type="text" class="form-control mb-2"
                                                            placeholder="Description" id="addressTextarea1" rows="3"
                                                            formControlName="address"></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </section>
        <button (click)="updateField()">Update</button>
    </main>
</div>