<!-- footer -->
<footer class="footer background-dark section mt-5">
    <div class="container">
        <div class="accordion w-100">
            <div class="row">
                <div class="col-sm col-lg-5 col-sm-12">
                    <div class="footer-branding"><img src="../../assets/images/reonnect-logo.png"></div>
                </div>

                <div class="col-sm mx-4 col-lg-5 col-sm-12 mb-md-4">
                    <div class="footer-parent-branding d-flex align-items-center">
                        <img class="" src="../../assets/images/inventiway-logo.png" />
                        <h5>Product of Inventiway</h5>
                    </div>
                </div>

                <div class="col-sm mx-4 col-lg-11 col-sm-12 mb-md-4">
                    <div>
                        <div class="footer-title mb-3 d-none d-md-block"> Contact us </div>
                        <!-- <div class="details-footer-text"> B 19/20 green acres, Salunkhe Vihar
                            road, Kondhwa, Pune 411048 </div> -->
                        <span class="material-icons">
                            call</span> +91 9008944855 / +91 9924121165
                    </div>
                </div>
                <div class="icons">
                    <span>Follow us:</span>
                    <a href="https://www.facebook.com/reonnectinventiway"><img src="../../../assets/images/fb.png" width="34px" height="34px" alt="Facebook">
                       </a>
                    
                  
                        <a href="https://www.instagram.com/rekonnect_inventiway/"><img src="../../../assets/images/insta.png"  width="34px" height="34px"alt="instagram"></a>
                   
                    
                        <a href="https://www.linkedin.com/company/67988133/admin/"><img src="../../../assets/images/linkedin.png" alt="linkedin" width="34px" height="34px"></a>
                   

                </div>
                <!-- <div class="col-sm col-lg-2 col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed pb-md-1" >
                                <span class="footer-title">Resources </span>
                                <i class="meds-chevron-right-line collapse-icon"></i>
                            </a>
                        </h2>
                    </div>
                    <div>
                        <div class="card-body">
                            <ul class="footer-menu-list list-unstyled">
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm col-lg-2 col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-header" >
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed  pb-md-1">
                                <span class="footer-title">For client </span>
                                <i class="meds-chevron-right-line collapse-icon"></i>
                            </a>
                        </h2>
                    </div>
                    <div>
                        <div class="card-body">
                            <ul class="footer-menu-list list-unstyled">
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Help Centre</a></li>
                                <li><a href="">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm col-lg-2 col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed  pb-md-1" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span class="footer-title">Opportunities </span>
                                <i class="meds-chevron-right-line collapse-icon"></i>
                            </a>
                        </h2>
                    </div>
                    <div>
                        <div class="card-body">
                            <ul class="footer-menu-list list-unstyled">
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                                <li><a href="">Lorem Ipsum</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            </div>
            <div class="footer-copyright w-100 text-center font-14 line-height-normal">Copyright © 2022</div>
        </div>
    </div>
</footer>