<div class="switch-button switch-button-lg">
  <input type="checkbox" name="item3" id="item3" (change)="changeUserRoleSwitch($event)" checked />
  <span><label for="item3"></label></span>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">State</th>
      <th scope="col">Street</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Education Type</th>
      <th scope="col">Experience Type</th>
      <th scope="col">Join Status</th>
      <th scope="col">Join Within</th>
      <th scope="col">Current Career</th>
      <th scope="col">Change Career?</th>
      <th scope="col">Change Career</th>
      <th scope="col">Language</th>
      <th scope="col">Passion</th>
      <th scope="col">Salary Range</th>
      <th scope="col">Soft Skills</th>
      <th scope="col">Technical Skills</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of userData">
      <td>{{candidate?.user_details.first_name}}</td>
      <td>{{candidate?.user_details.last_name}}</td>
      <td>{{candidate?.user_details.email}}</td>
      <td>{{candidate?.user_details.phone}}</td>
      <td>{{candidate?.candidate_details?.address_details?.state.name}}</td>
      <td>{{candidate?.candidate_details?.address_details?.street}}</td>
      <td>{{candidate?.candidate_details?.address_details?.zip_code}}</td>
      <td>{{candidate?.candidate_details?.education_data?.education_type}}</td>
      <td>{{candidate?.candidate_details?.experience_data?.experience_type}}</td>
      <td>{{candidate?.candidate_details?.joining_status === true?'Yes':'No'}}</td>
      <td>{{candidate?.candidate_details?.join_within}}</td>
      <td>{{candidate?.candidate_details?.current_career?.name}}</td>
      <td>{{candidate?.candidate_details?.changecareer === true?'Yes':'No'}}</td>
      <td>{{candidate?.candidate_details?.change_career?.name}}</td>
      <td><label *ngFor="let lang of candidate?.candidate_details?.languages;let i=index"><b>{{i+1}}.</b>
          {{lang.name}}</label>
      <td>{{candidate?.candidate_details?.passion}}</td>
      <td>Rs. {{candidate?.candidate_details?.salary_range?.min}} - Rs.
        {{candidate?.candidate_details?.salary_range?.max}}</td>
      <td><label *ngFor="let skill of candidate?.candidate_details?.soft_skills;let i=index"><b>{{i+1}}.</b>
          {{skill.name}}</label>
      <td><label *ngFor="let skill of candidate?.candidate_details?.technical_skills;let i=index"><b>{{i+1}}.</b>
          {{skill.name}}</label>
    </tr>
  </tbody>
</table>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>