

<div style="display: flex;"><div class="switch-button switch-button-lg">
 
  <input type="checkbox" name="item3" id="item3" (change)="changeUserRoleSwitch($event)" checked />
  <span><label for="item3"></label></span>
</div>
<span>Search </span>
<input type="text" (keyup)="filterUsers($event)">
<button class="btn" style="margin-left:10px"><a href="https://api.rekonnect.in/excel">download excel</a></button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name </th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Resume</th>
      <th  scope="col"> More information</th>
      <!-- <th scope="col">State</th>
      <th scope="col">Street</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Education Type</th>
      <th scope="col">Experience Type</th>
      <th scope="col">Join Status</th>
      <th scope="col">Join Within</th>
      <th scope="col">Current Career</th>
      <th scope="col">Change Career?</th>
      <th scope="col">Change Career</th>
      <th scope="col">Language</th>
      <th scope="col">Passion</th>
      <th scope="col">Salary Range</th>
      <th scope="col">Soft Skills</th>
      <th scope="col">Technical Skills</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of filterUser ">
      <td>{{candidate?.first_name}}</td>
      <td>{{candidate?.last_name}}</td>
      <td>{{candidate?.email}}</td>
      <td>{{candidate?.phone}}</td>
     <td >
       <button class="btn btn-primary" *ngIf="candidate.resume_present">  <a [attr.href]="candidate.resume_url"  target="_blank" style="color:white;text-decoration: none;"> View resume</a></button>
     </td>
     <td>
       <button class="btn btn-primary" (click)="toggleMore(candidate._id)"> View more</button>
     </td>
     <div
     *ngIf="toShowInfo"
     style="width:auto;height:600px;position:relative; border-radius:17px; -webkit-box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.75); box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.397);background-color:white;position: fixed;top:40px;left:30%;z-index:100;padding:3rem 2rem;"
     >
     <button class="btn" style="position:absolute; top:10px;right:10px;"(click)="toggleMore()" >Close</button>
     <div class="container" style="height:100%;display:flex;flex-direction:column;align-items:center;justify-content:space-around;text-align:center">
         <h1 style="font-size:28px;font-weight: 500;">Additional data</h1> 
         <img src="../../../assets/images/2.png" width="240x" height="260px"alt="" style="object-fit:cover">
       
       <div *ngIf="userThere" style="display:flex"> 
        <div   style="display:flex">
           <span>Address:</span>
           <span style="margin-left: 30px;">{{moreInfo.address_details.street}} {{moreInfo.address_details.state.name}} {{moreInfo.address_details.zip_code}}</span>
         </div>
         <div *ngIf="moreInfo.isFresher" >
           <span>Experience: </span>
           <span style="margin-left: 20px;">Fresher!</span>
         </div>
         <div *ngIf="!moreInfo.isFresher" >
           <span>Experience:</span>
           <span style="margin-left: 30px;">  {{moreInfo.experience_data.experience_details[0].designation}}   ,  {{moreInfo.experience_data.experience_details[0].company}} :{{moreInfo.experience_data.experience_details[0].start_date}}</span>
         </div>
        <div>
          <span>Salary range</span>

          <span style="margin-left:20px"> {{moreInfo.salary_range.min}}LPA- {{moreInfo.salary_range.min}}LPA</span>
        </div>
      </div>
     
         <div class="buttons">
             
             <button class="btn" (click)="toggleMore()"  >close</button>
         </div>
     </div>
     
     
     </div>
      <!-- <td>{{candidate?.candidate_details?.address_details?.state.name}}</td>
      <td>{{candidate?.candidate_details?.address_details?.street}}</td>
      <td>{{candidate?.candidate_details?.address_details?.zip_code}}</td>
      <td>{{candidate?.candidate_details?.education_data?.education_type}}</td>
      <td>{{candidate?.candidate_details?.experience_data?.experience_type}}</td>
      <td>{{candidate?.candidate_details?.joining_status === true?'Yes':'No'}}</td>
      <td>{{candidate?.candidate_details?.join_within}}</td>
      <td>{{candidate?.candidate_details?.current_career?.name}}</td>
      <td>{{candidate?.candidate_details?.changecareer === true?'Yes':'No'}}</td>
      <td>{{candidate?.candidate_details?.change_career?.name}}</td>
      <td><label *ngFor="let lang of candidate?.candidate_details?.languages;let i=index"><b>{{i+1}}.</b>
          {{lang.name}}</label>
      <td>{{candidate?.candidate_details?.passion}}</td>
      <td>Rs. {{candidate?.candidate_details?.salary_range?.min}} - Rs.
        {{candidate?.candidate_details?.salary_range?.max}}</td>
      <td><label *ngFor="let skill of candidate?.candidate_details?.soft_skills;let i=index"><b>{{i+1}}.</b>
          {{skill.name}}</label>
      <td><label *ngFor="let skill of candidate?.candidate_details?.technical_skills;let i=index"><b>{{i+1}}.</b>
          {{skill.name}}</label> -->
    </tr>
  </tbody>
</table>
<mat-paginator [pageSizeOptions]="[10,15,20]" (page)="paginateResult($event)" [length]='totalLength' ></mat-paginator>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>