<div class="dashboard-section">
    <div class="alert alert-warning profile-completion m-0 d-flex justify-content-space-between align-items-center"
        role="alert">
        <span><strong>Profile 75% completed</strong>Complete your profiile for better reach. </span>

        <button class="btn btn-secondary">Edit Profile</button>
    </div>
    <header>
        <div class="banner">
            <img class="banner-img" src="../../../assets/images/employer-banner.jpg" />
        </div>
    </header>

    <main class="negative-top-offset">
        <section class="container">
            <div class="row parent-section-body">
                <!-- row zero -->
                <div class="col-sm col-sm-12 col-md-12 col-lg-12 mb-3">
                    <div class="card profile-card">
                        <div class="card-header d-none">
                        </div>
                        <div
                            class="card-body employer-header-band d-flex align-items-center justify-content-space-between">
                            <div class="user-profile mb-0">
                                <div class="user-image">
                                    <img src="../../../assets/images/user-profile-placeholder.png" />
                                </div>
                                <div class="user-content">
                                    <h5>Jayesh Kumar</h5>
                                    <label>- UX Designer</label>
                                </div>
                            </div>
                            <div class="user-content-action">
                                <button class="btn btn-primary mr-3 btn-lg">Add New session</button>
                                <button class="btn btn-secondary btn-lg">Recommend Mentor</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row one -->
                <div class="col-sm col-sm-12 mb-sm-3 col-md-6 col-lg-3">
                    <div class="card timeline-card">
                        <div class="card-header d-flex align-items-center justify-content-space-between">
                            <h6>Expert Timeline</h6>
                            <a href=""><span class="material-icons">edit</span></a>
                        </div>
                        <div class="card-body">
                            <div class="timeline-block">
                                <label>Note that this is an placeholder image</label>
                                <img style="width: 210px; height: 300px"
                                    src="../../../assets/images/temporary-images/timeline-png.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-6 col-lg-9">
                    <div class="card profile-card">
                        <div class="card-header d-flex align-items-center justify-content-space-between">
                            <h6>Profile Stats</h6>
                            <a href=""><span class="material-icons">edit</span></a>
                        </div>
                        <div class="card-body ">
                            <div class="row mt-2 px-3">
                                <div class="col-sm col-md-12 col-lg-4 expert-card-box">
                                    <div
                                        class="card-content d-flex align-items-center justify-content-space-between px-3 text-center">
                                        <h6>Upcoming Sessions</h6>
                                        <div class="card-image">
                                            <img src="../../../../assets/images/upcoming-sessions.png" />
                                        </div>
                                    </div>
                                    <div class="card-text text-orange px-3 py-3">
                                        <h2>3</h2>
                                    </div>
                                    <div class="card-action px-3 py-3">
                                        <button class="btn btn-link"><span class="material-icons">
                                                outlined_flag</span></button>
                                        <button class="btn btn-link"><span class="material-icons"> <span
                                                    class="material-icons"> event_available</span></span></button>
                                        <button class="btn btn-link"><span class="material-icons">
                                                edit_calendar</span></button>
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">This is a dummy text</a>
                                                <a class="dropdown-item" href="#">This is a dummy text</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-md-12 col-lg-4 expert-card-box">
                                    <div
                                        class="card-content d-flex align-items-center justify-content-space-between px-3 text-center">
                                        <h6>Closed Sessions</h6>
                                        <div class="card-image">
                                            <img src="../../../../assets/images/closed-sessions.png" />
                                        </div>
                                    </div>
                                    <div class="card-text text-green px-3 py-3">
                                        <h2>3</h2>
                                    </div>
                                    <div class="card-action px-3 py-3">
                                        <button class="btn btn-link"><span class="material-icons">
                                                outlined_flag</span></button>
                                        <button class="btn btn-link"><span class="material-icons"> <span
                                                    class="material-icons"> event_available</span></span></button>
                                        <button class="btn btn-link"><span class="material-icons">
                                                edit_calendar</span></button>
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">This is a dummy text</a>
                                                <a class="dropdown-item" href="#">This is a dummy text</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-md-11 col-lg-3 card-box upload-customised">
                                    <input type="file" id="myFile" name="filename">
                                    <div>
                                        <span class="material-icons">add</span>
                                        <p>Upload Visume</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row two -->
                <div class="col-sm col-sm-12 col-md-12 col-lg-12 mt-3">
                    <div class="card job-tab-card">
                        <div class="card-body p-0">
                            <!-- Tabs navs -->
                            <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1"
                                        role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Upcoming Sessions</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2"
                                        role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Closed Sessions</a>
                                </li>

                            </ul>

                            <!-- Tabs content -->
                            <div class="tab-content" id="ex1-content">
                                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                                    aria-labelledby="ex1-tab-1">
                                    <div class="row">
                                        <div class="col-sm col-sm-12 col-md-6 col-lg-4">
                                            <div class="card session-card">
                                                <div class="card-body">
                                                    <label class="breadcrumb-label">Expert Scheduling <span
                                                            class="material-icons">chevron_right</span>
                                                        Programming</label>
                                                    <h5 class="card-title pt-3 pb-1">30 Minute Meeting</h5>
                                                    <p class="card-text pb-3">One-on-one, Programming</p>
                                                    <div class="card-link-text pt-2 pb-4 mb-2">
                                                        <p class="m-0"><span
                                                                class="material-icons font-16">calendar_today</span> 4th
                                                            Oct 2021</p>
                                                        <p class="m-0"><span
                                                                class="material-icons font-16">schedule</span> 4th Oct
                                                            2021</p>
                                                    </div>
                                                    <div class="participants-content mb-3">
                                                        <label>Participant</label>
                                                        <div> AVATAR GROUP </div>
                                                    </div>
                                                    <div
                                                        class="card-footer border-top d-flex justify-content-space-between px-0">
                                                        <button class="btn btn-link btn-sm"><span
                                                                class="material-icons font-16">
                                                                content_copy
                                                            </span> Copy link</button>
                                                        <button class="btn btn-secondary btn-sm">Share</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm col-sm-12 col-md-6 col-lg-4">
                                            <div class="card session-card">
                                                <div class="card-body">
                                                    <label class="breadcrumb-label">Expert Scheduling <span
                                                            class="material-icons">chevron_right</span>
                                                        Programming</label>
                                                    <h5 class="card-title pt-3 pb-1">30 Minute Meeting</h5>
                                                    <p class="card-text pb-3">One-on-one, Programming</p>
                                                    <div class="card-link-text pt-2 pb-4 mb-2">
                                                        <p class="m-0"><span
                                                                class="material-icons font-16">calendar_today</span> 4th
                                                            Oct 2021</p>
                                                        <p class="m-0"><span
                                                                class="material-icons font-16">schedule</span> 4th Oct
                                                            2021</p>
                                                    </div>
                                                    <div class="participants-content mb-3">
                                                        <label>Participant</label>
                                                        <div> AVATAR GROUP </div>
                                                    </div>
                                                    <div
                                                        class="card-footer border-top d-flex justify-content-space-between px-0">
                                                        <button class="btn btn-link btn-sm"><span
                                                                class="material-icons font-16">
                                                                content_copy
                                                            </span> Copy link</button>
                                                        <button class="btn btn-secondary btn-sm">Share</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel"
                                        aria-labelledby="ex1-tab-2">
                                        Tab 2 content
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row three -->
                <div class="col-sm col-sm-12 col-md-12 col-lg-3 mt-3">
                    <div class="card experts-card">
                        <div class="card-header">
                            <h6>Feedback</h6>
                            <span></span>
                        </div>
                        <div class="card-body">
                            <div class="row px-3">
                                <div class="col-sm col-sm-12 col-lg-12 mb-md-3 mb-2 p-0">
                                    <div class="feedback-job-card">
                                        <div class="card-text px-3 py-3">
                                            <div class="d-flex align-items-center justify-content-space-between mb-2">
                                                <h5>3</h5> Application with no Action <span class="light-blue"></span>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-space-between mb-2">
                                                <h5>3</h5> New Application <span class="dark-blue"></span>
                                            </div>
                                        </div>
                                        <div class="card-image mb-3 height-150">
                                            <img
                                                src="../../../../assets/images/temporary-images/conversion-graph.png" />
                                        </div>
                                        <div class="py-3 mt-2">
                                            <button class="btn btn-primary w-100">Complete Feedback</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row four -->
                <div class="col-sm col-sm-12 col-md-12 col-lg-9 my-3">
                    <div class="card video-card-section">
                        <div class="card-header d-flex justify-content-space-between">
                            <h6>Recommended Videos</h6>
                            <button class="btn btn-primary btn-sm ">Recommend Videos</button>
                        </div>
                        <div class="card-body py-2">
                            <div class="row">
                                <div class="col-sm col-sm-12 col-md-12 col-lg-4 p-4 mx-3">
                                    <div class="video-card">
                                        <video width="320" controls="controls" preload="metadata">
                                            <source src="https://www.youtube.com/watch?v=qz0aGYrrlhU" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="video-sub-text">
                                        <h5>Figma Essential:The Basics</h5>
                                        <label class="text-color-light">By: Brian Wood</label>
                                    </div>
                                </div>
                                <div class="col-sm col-sm-12 col-md-12 col-lg-4 px-2 pt-4 mx-3">
                                    <div class="video-card">
                                        <video width="320" controls="controls" preload="metadata">
                                            <source src="https://www.w3schools.com/html/mov_bbb.mp4#t=0.5"
                                                type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="video-sub-text">
                                        <h5>Figma Essential:The Basics</h5>
                                        <label class="text-color-light">By: Brian Wood</label>
                                    </div>
                                </div>
                                <div
                                    class="col-sm col-sm-12 col-md-12 col-lg-3 action-btns d-flex align-items-center justify-content-flex-end">
                                    <button class="btn btn-outline mr-1">
                                        <span class="material-icons">
                                            chevron_left
                                        </span>
                                    </button>
                                    <button class="btn btn-outline">
                                        <span class="material-icons">
                                            chevron_right
                                        </span>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- row five -->
                <div class="col-sm col-sm-12 col-md-12 col-lg-9 my-3">
                    <div class="card video-card-section">
                        <div class="card-header d-flex justify-content-space-between">
                            <h6>Recommended Certificates</h6>
                            <button class="btn btn-primary btn-sm ">Recommend Certificate</button>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm col-sm-12 col-md-6 mb-md-3 mb-sm-3 col-lg-3">
                                    <div class="card course-card mr-1">
                                        <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                            class="card-img-top">
                                        <div class="card-body">
                                            <h4 class="card-title font-bold">Build Wireframes & Low-Fidelity Prototypes
                                            </h4>
                                            <p class="card-text">Offered By Telitah Phil</p>
                                        </div>
                                        <div class="card-action py-4 px-3">
                                            <button class="btn btn-secondary btn-sm mr-2"><span
                                                class="material-icons"> person_outline</span></button>
                                            <button class="btn btn-secondary btn-sm mr-2"><span
                                                    class="material-icons">share</span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                    <div class="card course-card mr-1">
                                        <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                            class="card-img-top">
                                        <div class="card-body">
                                            <h4 class="card-title font-bold">Build Wireframes & Low-Fidelity Prototypes
                                            </h4>
                                            <p class="card-text">Offered By Telitah Phil</p>
                                        </div>
                                        <div class="card-action py-4 px-3">
                                            <button class="btn btn-secondary btn-sm mr-2"><span
                                                class="material-icons"> person_outline</span></button>
                                            <button class="btn btn-secondary btn-sm mr-2"><span
                                                    class="material-icons">share</span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                    <div class="card course-card mr-1">
                                        <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                            class="card-img-top">
                                        <div class="card-body">
                                            <h4 class="card-title font-bold">Build Wireframes & Low-Fidelity Prototypes
                                            </h4>
                                            <p class="card-text">Offered By Telitah Phil</p>
                                        </div>
                                        <div class="card-action py-4 px-3">
                                            <button class="btn btn-secondary btn-sm mr-2"><span
                                                class="material-icons"> person_outline</span></button>
                                            <button class="btn btn-secondary btn-sm mr-2"><span
                                                    class="material-icons">share</span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-sm-12 col-md-6 col-md-6 mb-sm-3 col-lg-3">
                                    <div class="card course-card mr-1">
                                        <img src="../../../assets/images/curated-courses-for-you-placeholder-image-1.jpg"
                                            class="card-img-top">
                                        <div class="card-body">
                                            <h4 class="card-title font-bold">Build Wireframes & Low-Fidelity Prototypes
                                            </h4>
                                            <p class="card-text">Offered By Telitah Phil</p>
                                        </div>
                                        <div class="card-action py-4 px-3">
                                            <button class="btn btn-secondary btn-sm mr-2"><span
                                                class="material-icons"> person_outline</span></button>
                                            <button class="btn btn-secondary btn-sm mr-2"><span
                                                    class="material-icons">share</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-12 col-lg-3 my-3">
                    <div class="card recommended-expert-card">
                        <div class="card-header">
                            <h6>Recommended Experts</h6>
                            <span></span>
                        </div>
                        <div class="card-body">
                            <div class="recommended-expert-card-content d-flex align-items-center mb-2">
                                <img class="expert-image"
                                    src="../../../../assets/images/temporary-images/candidate-placeholder-image-1.png">
                                <div class="user-profile ">
                                    <h6>Ananya B</h6>
                                    <label class="designation">Web Designer</label>
                                </div>
                            </div>
                            <div class="recommended-expert-card-content d-flex align-items-center mb-2">
                                <img class="expert-image"
                                    src="../../../../assets/images/temporary-images/candidate-placeholder-image-1.png">
                                <div class="user-profile ">
                                    <h6>Ananya B</h6>
                                    <label class="designation">Web Designer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>