<div class="pageTitle" style="background:url(../../../assets/images/about-us-bg-new-1.jpg) no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 rknt-about-banner-section">
                <h1 class="page-heading" style="text-align: center;">About Us</h1>
                <h3>Every day you reinvent yourself. You’re always in motion. But you decide every day: forward or
                    backward- <span style="font-weight:300">James Altucher</span></h3>
            </div>
        </div>
    </div>
</div>
<div class="inner-page">


    <!-- REKONNECT INDIA -->
    <div class="container-fluid rknt-about-bio-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 rknt-about-bio-section-desc about-us-text" data-aos="fade-right"
                    data-aos-duration="2000">
                    <!-- content TBI start -->
                    <h5>What is ReKonnect?</h5>
                    <p style="
      font-size: 20px;
      line-height: 1.5em;
  ">ReKonnect was inspired by the concept of ikigai, which is a Japanese concept that loosely translates to <b
                            style="font-weight:600">a reason for being.</b> </p><br>
                    <p>The Ikigai Model is an intersection of four things as shown in this image. Through these
                        overlapping concepts, you can track down the purpose of your life.</p>
                    <br>
                    <p>The ideology behind the same is that your Ikigai is the union point of four fundamental
                        components of life:</p><br>
                    <ul>
                        <li>Passion,</li>
                        <li>Mission,</li>
                        <li>Profession, and</li>
                        <li>Vocation</li>
                    </ul>

                    <p>It is an earnest yet a small effort at our end to provide you with an avenue that helps you find
                        your ikigai. </p>


                    <!-- content TBI end -->
                    <a href="/contact-us" class="rknt-about-bio-button">Contact Us</a>
                </div>

                <div class="col-sm-5 rknt-about-bio-section-img" data-aos="fade-left" data-aos-duration="2000">
                    <img src="../../../assets/images/ikigai1.jpg" class="img-responsive">
                </div>
            </div>

            <div class="row  about-us-text" style="margin-top: 30px">


                <div class="col-sm-5" data-aos="zoom-out" data-aos-duration="2000">
                    <img style="border-radius:30px; margin-top: 20px;"
                        src="../../../assets/images/about-us-page-why-rknt.jpg" class="img-responsive">
                </div>

                <div class="col-sm-7" data-aos="zoom-in" data-aos-duration="2000">
                    <div>
                        <h5>Why ReKonnect?</h5>
                        <p><b style="font-weight:600">ReKonnect</b> is not just an employment portal - we focus on your
                            employability. Our goal is to enable the best version of people and their careers - A space
                            for people to equip themselves with all they need, to pursue what their calling truly is.
                        </p>
                        <br>
                        <p>We help you connect with industry experts and help you become even more attractive through
                            our curated up-skilling programs, hence making you job-ready and getting you closer to
                            what’s needed from a prospective employer</p>
                        <br>
                        <p>
                            If you are immediately available to join the workforce, you are in the right place<br>
                            - You could be a fresher looking to make a start<br>
                            - You could be an experienced professional coming from a break looking to re-start<br>
                            - You could be looking to build a brand new career in an absolutely new field<br>
                        </p><br>
                        <p>Your reasons, your current location don't matter - what matters is your attitude and your
                            determination, and we help you see that</p><br>

                        <h6>We just need the following details from you during the time of registration:</h6>
                        <ul>
                            <li>Updated CV</li>
                            <li>Visume (a video introduction < 45 seconds)</li>
                            <li>Minimum three professional references from your last employer(s) (including at least 1
                                Reporting Manager and HR)</li>
                        </ul>
                    </div>
                </div>






            </div>
        </div>
    </div>
    <!-- REKONNECT INDIA  end -->
</div>



<!-- our team START -->

<div class="container-fluid rknt-about-team-section">


    <div class="container">
        <div class="row">
            <div class="col-sm-12 rknt-about-team-section-heading">
                <h3 style="
      font-size: 30px;
      padding-left: 3px;
      margin-bottom: 40px;">Our Team</h3>
            </div>
        </div>
        <div class="row rknt-about-team-members">

            <!--teamMember3-MG-->
            <div class="col-md-4 rknt-about-team-member-box" data-aos="fade-right" data-aos-duration="2000">
                <div class="team-member">
                    <figure>
                        <img src="../../../assets/images/team-member-meenakshi.jpg" class="img-responsive">
                        <figcaption>
                            <div id="memberthree">
                                <p>SREI I REBACA I TECHNOCRATS</p>
                                <p>ICFAI (DBA) I Vishwabharati (BBA)</p>
                                <p>15+ years </p>
                                <p>Talent Acquisition I Large-scale hiring I C-suite hiring I Domains: BFSI, IT I
                                    Business
                                    Development I Team management I Negotiations I HR solutions I </p>
                                <p>Employee onboarding and assimilation I Entrepreneurship I HR Generalist I
                                    Relationship
                                    management I Employee engagement</p>
                            </div>
                        </figcaption>
                    </figure>
                    <p class="rknt-team-member-name-bold"><a
                            href="https://www.linkedin.com/in/meenakshi-ginodia-jalan-19751616/">Meenakshi Ginodia</a>
                    </p>
                    <p class="rknt-about-team-member-box-desgignation">Co-Founder & Director</p>
                </div><!-- /.team-member-->
            </div>
            <div class="col-md-4 rknt-about-team-member-box" data-aos="zoom-out" data-aos-duration="2000">
                <div class="team-member">
                    <figure>
                        <img src="../../../assets/images/team-member-rima.jpg" class="img-responsive">
                        <figcaption>
                            <div id="memberfour">
                                <p>TAPMI (PGDM) I SYMBIOSIS (B.COM)</p>
                                <p>15+ years </p>
                                <p>ELECTROLUX - APAC I INFOSYS</p>
                                <p>HR consulting I Domains: IT / ITES / shared service / Media I Product & services
                                    environment
                                    I Multiple geo HR I Compensation & benefits I HR strategy & policy I OD & Talent
                                    management
                                    I Leadership hiring I Employer branding & communications I Culture building I
                                    Hire-to-Retire
                                    processes</p>
                            </div>
                        </figcaption>
                    </figure>
                    <p class="rknt-team-member-name-bold"><a
                            href="https://www.linkedin.com/in/rima-naware-893303a/">Rima
                            Naware</a></p>
                    <p class="rknt-about-team-member-box-desgignation">Co-Founder & Director</p>
                </div><!-- /.team-member-->
            </div>
            <div class="col-md-4 rknt-about-team-member-box" data-aos="fade-left" data-aos-duration="2000">
                <div class="team-member">
                    <figure>
                        <img src="../../../assets/images/Sushruta-Bhandage.png" class="img-responsive">
                        <figcaption>
                            <div id="membertwo">
                                <p>ABS (PGDM) I VVCE (B.E)</p>

                                <p>12+ years </p>

                                <p>Zapr | CAT | Lumen Technologies</p>

                                <p>Domains: IT / ITES/ Manufacturing /Media / Product & services environment
                                    HR Business Partner | Learning & Development I Talent Acquisition I Talent
                                    Engagement I
                                    HR Analytics/Operations | Project/Program Management</p>
                            </div>
                        </figcaption>
                    </figure>
                    <p class="rknt-team-member-name-bold"><a href="https://www.linkedin.com/in/sushruta-gb/">Sushruta
                            Bhandage</a></p>
                    <p class="rknt-about-team-member-box-desgignation">Business Head - ReKonnect</p>
                </div><!-- /.team-member-->
            </div>
            <!-- <div class="col-md-4 rknt-about-team-member-box" data-aos="fade-right" data-aos-duration="2000">
                <img src="../../../assets/images/team-member-meenakshi.jpg" class="img-responsive">
                <p class="rknt-team-member-name-bold"><a
                        href="https://www.linkedin.com/in/meenakshi-ginodia-jalan-19751616/">Meenakshi Ginodia</a></p>
                <p class="rknt-about-team-member-box-desgignation">Co-Founder & Director</p>
                <div class="rknt-member-bio">

                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#memberthree">Bio <i
                            class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div id="memberthree" class="collapse">
                        <p>SREI I REBACA I TECHNOCRATS</p>
                        <p>ICFAI (DBA) I Vishwabharati (BBA)</p>
                        <p>15+ years </p>
                        <p>Talent Acquisition I Large-scale hiring I C-suite hiring I Domains: BFSI, IT I Business
                            Development I Team management I Negotiations I HR solutions I </p>
                        <p>Employee onboarding and assimilation I Entrepreneurship I HR Generalist I Relationship
                            management I Employee engagement</p>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-md-4 rknt-about-team-member-box" data-aos="zoom-out" data-aos-duration="2000">
                <img src="../../../assets/images/team-member-rima.jpg" class="img-responsive">
                <p class="rknt-team-member-name-bold"><a href="https://www.linkedin.com/in/rima-naware-893303a/">Rima
                        Naware</a></p>
                <p class="rknt-about-team-member-box-desgignation">Co-Founder & Director</p>
                <div class="rknt-member-bio">

                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#memberfour">Bio <i
                            class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div id="memberfour" class="collapse">
                        <p>TAPMI (PGDM) I SYMBIOSIS (B.COM)</p>
                        <p>15+ years </p>
                        <p>ELECTROLUX - APAC I INFOSYS</p>
                        <p>HR consulting I Domains: IT / ITES / shared service / Media I Product & services environment
                            I Multiple geo HR I Compensation & benefits I HR strategy & policy I OD & Talent management
                            I Leadership hiring I Employer branding & communications I Culture building I Hire-to-Retire
                            processes</p>
                    </div>
                </div>
            </div> -->




            <!-- <div class="col-md-4 rknt-about-team-member-box" data-aos="fade-left" data-aos-duration="2000">
                <img src="../../../assets/images/Sushruta-Bhandage.png" class="img-responsive">
                <p class="rknt-team-member-name-bold"><a href="https://www.linkedin.com/in/sushruta-gb/">Sushruta
                        Bhandage</a></p>
                <p class="rknt-about-team-member-box-desgignation">Business Head - ReKonnect</p>
                <div class="rknt-member-bio">

                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#membertwo">Bio <i
                            class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div id="membertwo" class="collapse">
                        <p>ABS (PGDM) I VVCE (B.E)</p>

                        <p>12+ years </p>

                        <p>Zapr | CAT | Lumen Technologies</p>

                        <p>Domains: IT / ITES/ Manufacturing /Media / Product & services environment
                            HR Business Partner | Learning & Development I Talent Acquisition I Talent Engagement I
                            HR Analytics/Operations | Project/Program Management</p>
                    </div>
                </div>
            </div> -->




        </div>

        <div class="row rknt-about-team-members">

            <!--teamMember4 RN-->
            <div class="col-md-2"></div>

            <div class="col-md-4 rknt-about-team-member-box" data-aos="zoom-out" data-aos-duration="2000">
                <div class="team-member">
                    <figure>
                        <img src="../../../assets/images/Firozi-Karanjia.png" class="img-responsive">
                        <figcaption>
                            <div id="memberOne">
                                <p>7yrs</p>
                                <p>BCOM I MPM I PGDBF I IRDA Certified </p>
                                <p>DSA Citibank I DSA Standard Chartered Bank I SCFL</p>
                                <p>HL I Sales I Operations I Co-Ordinator I HR Data and Analytics I Training</p>
                                <p>HR Consulting I Talent Acquisition I Product Management I Recruitment & Selection I
                                    Learning
                                    & Development</p>
                            </div>
                        </figcaption>
                    </figure>
                    <p class="rknt-team-member-name-bold"><a
                            href="https://www.linkedin.com/in/firozi-karanjia-76085b209/">Firozi Karanjia</a></p>
                    <p class="rknt-about-team-member-box-desgignation">Head - Product Strategy, ReKonnect</p>
                </div><!-- /.team-member-->
            </div>
            <div class="col-md-4 rknt-about-team-member-box" data-aos="zoom-in" data-aos-duration="2000">
                <div class="team-member">
                    <figure>
                        <img src="../../../assets/images/clientSide.jpg" class="img-responsive">
                        <figcaption>
                            <div id="memberfive">
                                <p>15+ years | Managing Partner - Leadership Hiring | Talent Acquisition </p>
                                <p>Domains : BFSI | Real Estate | Startups</p>
                                <p>Training | Business Development | Entrepreneurship | Talent Management | Relationship
                                    Building </p>
                                <p>Indusion Consulting | Lodha Group, APAC</p>
                                <p>Public Relations | BCom </p>
                            </div>
                        </figcaption>
                    </figure>
                    <p class="rknt-team-member-name-bold"><a
                            href="https://www.linkedin.com/in/riti-bagra-rungta-318413100/">Nivedita</a></p>
                    <p class="rknt-about-team-member-box-desgignation">Managing Director Inventivo India</p>
                </div><!-- /.team-member-->
            </div>
            <!-- <div class="col-md-4 rknt-about-team-member-box" data-aos="zoom-out" data-aos-duration="2000">
                <img src="../../../assets/images/Firozi-Karanjia.png" class="img-responsive">
                <p class="rknt-team-member-name-bold"><a
                        href="https://www.linkedin.com/in/firozi-karanjia-76085b209/">Firozi Karanjia</a></p>
                <p class="rknt-about-team-member-box-desgignation">Head - Product Strategy, ReKonnect</p>
                <div class="rknt-member-bio">

                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#memberOne">Bio <i
                            class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div id="memberOne" class="collapse">
                        <p>7yrs</p>
                        <p>BCOM I MPM I PGDBF I IRDA Certified </p>
                        <p>DSA Citibank I DSA Standard Chartered Bank I SCFL</p>
                        <p>HL I Sales I Operations I Co-Ordinator I HR Data and Analytics I Training</p>
                        <p>HR Consulting I Talent Acquisition I Product Management I Recruitment & Selection I Learning
                            & Development</p>
                    </div>
                </div>
            </div> -->


            <!--teamMember5 RRN-->
            <!-- <div class="col-md-4 rknt-about-team-member-box" data-aos="zoom-in" data-aos-duration="2000">
                <img src="../../../assets/images/team-member-riti.jpg" class="img-responsive">
                <p class="rknt-team-member-name-bold"><a
                        href="https://www.linkedin.com/in/riti-bagra-rungta-318413100/">Riti Rungta</a></p>
                <p class="rknt-about-team-member-box-desgignation">Managing Director Inventivo India</p>
                <div class="rknt-member-bio">

                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#memberfive">Bio <i
                            class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div id="memberfive" class="collapse">
                        <p>15+ years | Managing Partner - Leadership Hiring | Talent Acquisition </p>
                        <p>Domains : BFSI | Real Estate | Startups</p>
                        <p>Training | Business Development | Entrepreneurship | Talent Management | Relationship
                            Building </p>
                        <p>Indusion Consulting | Lodha Group, APAC</p>
                        <p>Public Relations | BCom </p>
                    </div>
                </div>
            </div> -->
            <div class="col-md-2"></div>

        </div>



    </div>
</div>
<!-- our team END -->