
      <!-- Rekonnect Advantage -->
      <div class="rekonnect-adv">
        <h1 class="orange">Re <span class="blue">Konnect</span> Advantage</h1>
        <p class="para-adv">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s,</p>

                <!-- Cards Within Rekonnect Advantage -->
                <div class="card-deck mx-auto">
                  <div class="card">
                    <div class="card-body">
                      <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 69.jpg" />
              <h1 class="card-title">Equal Opportunity Employers</h1>
              <p class="card-text">First time Jobseekers</p>
              <p class="card-text">Returning back to job</p>
              <a href="#" class="card-link">Discover more</a>
              <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 5.jpg" />
            </div>
          </div>

           <!-- Card 2 -->
                          <div class="card">
                            <div class="card-body">
                              <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 70.jpg" />
                              <h1 class="card-title">Equal Opportunity Employers</h1>
                              <p class="card-text">First time Jobseekers</p>
                              <p class="card-text">Returning back to job</p>
                              <a href="#" class="card-link">Discover more</a>
                              <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 5.jpg" />
                            </div>
                          </div>

           <!-- Card 3 -->
           <div class="card">
            <div class="card-body">
              <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 71.jpg" />
              <h1 class="card-title">Equal Opportunity Employers</h1>
              <p class="card-text">First time Jobseekers</p>
              <p class="card-text">Returning back to job</p>
              <a href="#" class="card-link">Discover more</a>
              <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 5.jpg" />
            </div>
          </div>

        </div>
      </div>



      <!-- Roadmap Timeline -->
      <div class="timeline">
        <div class="main">
          <h3 class="head">How Rekonnect Career RoadMap works</h3>
        <div class="container">
            <ul>
                <li>
                    <h3 class="heading">Identify Job</h3>
                    <p>goal or select trending skill </p>
                    <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 71.jpg" />
                    <span class="circle"></span>
                </li>

                <li>
                    <h3 class="heading">Identify Gap </h3>
                    <p>take test to check readiness for job goal or skill set . On successful pass get rekonnect certification. Get recommendations for jobs to apply. On failure get recommendation for plan to reach goal </p>
                    <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 71.jpg" />
                    <span class="circle"></span>
                </li>

                <li>
                    <h3 class="heading">Recommendation for Plan to Reach Goal</h3>
                    <p>upskill , mentored</p>
                    <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 71.jpg" />
                    <span class="circle"></span>
                </li>

            </ul>
        </div>
    </div>
  </div>

    <!-- Find a job Text -->
    <div class="find-job">
      <div class="find-job-text">
        <h1>Find a job that suits your passion.</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s,</p>
      </div>

  <!-- Find a job Pagination -->
  <div class="pagination1">

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link " href="#">All Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Design</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Development</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Marketing</a>
      </li>
    </ul>
<hr width="80%">
  </div>
  <!--Card for Job display-->
                <div class="card-deck mx-auto">
                  <div class="card">
                    <div class="card-body">
              <h4 class="card-title">Equal Opportunity Employers</h4>
              <p class="card-text">First time Jobseekers</p>
              <p class="card-text">Returning back to job</p>
              <a href="#" class="card-link">Discover more</a>
              <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 5.jpg" />
            </div>
          </div>

           <!-- Card 2 -->
                          <div class="card">
                            <div class="card-body">

                              <h3 class="card-title">Equal Opportunity Employers</h3>
                              <p class="card-text">First time Jobseekers</p>
                              <p class="card-text">Returning back to job</p>
                              <a href="#" class="card-link">Discover more</a>
                              <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 5.jpg" />
                            </div>
                          </div>

           <!-- Card 3 -->
           <div class="card">
            <div class="card-body">
              <h3 class="card-title">Equal Opportunity Employers</h3>
              <p class="card-text">First time Jobseekers</p>
              <p class="card-text">Returning back to job</p>
              <a href="#" class="card-link">Discover more</a>
              <img class="adv-card-img" src="../../assets/images/july-2022-icons/Image 5.jpg" />
            </div>
          </div>

        </div>
      </div>


      <!-- Equal Opportunity Employers Text -->
      <div class="equal-opportunity">
        <h1>Equal Opportunity Employers</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry’s standard dummy text ever since the 1500s,</p>
      </div>



      <!-- partners band -->
      <section class="partner-band">
        <div class="container">
            <div class="row section  mx-4">
                <div class="col-sm col-lg-2 col-sm-12 d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/nurseryLive.png" />
                </div>
                <div
                    class="col-sm col-lg-2 col-sm-12 text-center d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/bridge.png" />
                </div>
                <div
                    class="col-sm col-lg-3 col-sm-12 text-center d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/UFO.png" />
                </div>
                <div
                    class="col-sm col-lg-3 col-sm-12 text-center d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/GoSports.png" />
                </div>
                <div
                    class="col-sm col-lg-2 col-sm-12 text-xl-right text-center d-flex align-items-center mb-sm-3 justify-content-center">
                    <img class="partner-image" src="../../assets/images/partners/AllCloud.png" />
                </div>
            </div>
        </div>
    </section>

      <!-- testimonial sections -->
      <section class="home-testimonial background-testimonial">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center testimonial-pos py-4">
                <div class="col-md-12 pt-4 d-flex justify-content-center">
                    <div class="section-alignment justify-content-center">
                        <div class="section-title  mb-3">
                            <p class="mb-0">Testimonials from our Customers</p>
                            <br>
                            <h1 class="quote">"</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <h2></h2>
                </div>

            </div>
        </div>

        <!-- testimonial section -->
        <section class="home-testimonial-bottom pb-3">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm col-lg-4 col-md-12">
                        <div class="tour-item ">
                            <div class="tour-desc">
                                <div class="tour-text color-grey-3 text-center"><span class="text-secondary"><span class="material-icons">format_quote</span></span> “It's been really great experience with
                                    team
                                    and Hr as they guided and provided me opportunity.Thanks to team and Hr for this
                                    placement.”</div>
                                <div class="card-footer">
                                    <img class="tm-people" src="../../assets/images/Suraj_Warthy.jpg" alt="" />
                                    <h6 class="link-name d-flex justify-content-center">Suraj Warthy</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
