<div class="dashboard-section">
  <header>
    <div class="banner banner-bg-large">
      <img class="banner-img" src="../../../../assets/images/bgv/bgv-band.jpg" />
    </div>
  </header>

  <!-- First Page -->
  <!-- <main class="negative-top-offset">
    <section class="container">
      <div class="row parent-section-body mt-3">
        <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-12">
          <div class="card experts-card">
            <div class="card-header border-none">
              <h6>Scandidate Form</h6>
              <span></span>
            </div>
            <div class="card-body">
              <div class="d-flex align-items-center background-blue">
                <div class="section-image">
                  <img src="../../../../assets/images/scandidatelogo.jpg">
                </div>
                <div class="content">
                  <h6 class="text-uppercase">Scandidate</h6>
                  <div class="text-grey mb-3">
                    On ReKonnect, candidates can choose total transparency - as a unique offering, we conduct checks on
                    identity, address, education and experience along with a feedback report taken by our team directly
                    from past employers.
                    A Scandidate report gives new employers the confidence to Know Your Hire.
                  </div>
                </div>
                <div class="content">
                  <p> What more can you do to increase your chances of getting selected?
                    91% of employers prefer their candidates to have work experience, and 65% of them prefer their
                    candidates to have relevant work experience.(NACE Job Outlook 2017)
                    Recruiters take an average of 6 seconds to scan a resume.(TheLadders)On average, each corporate job
                    offer attracts 250 resumes. Of those candidates, 4 to 6 will get called for an interview, and only 1
                    will get the job.(Glassdoor) - BE the Chosen 1. Increase your chances of success in ensuring you
                    stand out among others applying for the jobs through adding to your resume in a unique Re-Inventivo
                    way.
                    <strong class="bold"> What more can you do to increase your chances ?</strong>

                    You can increase recruiter's confidence in your profile and save some time for them to onboard you
                    too - Here's How:
                    If you choose, you can fast track on the path to getting re-started. You can indicate your consent
                    to us in getting your reference check done before recruiters start looking for you. Your resume will
                    hold greater value for potential employers if they know it is validated by us. We will also showcase
                    your profile as authentic, under our Premium Profiles section.
                    Pls click in the checkbox to indicate your interest in getting a reference check done through our
                    team. This is a premium service, offered for the following charges:
                    1) Rs. 499 - Reference check with 1 past employer + Highest educational qualification check
                    2) Rs. 899 - Reference checks with 2 past employers + Highest educational qualification check
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm col-sm-12 col-md-12 col-lg-7 my-4">
          <div class="card">
            <div class="content">
              <label>We will contact your previous employers for the bgv check, but you can also suggest a mentor,
                project manager to get detailed further information.</label>
              <div class="content">
                <div class="form-group education-section">
                  <h5 class="bold pt-4">Experience Summary</h5>
                  <label class="text-color-light">Last retained position in the company</label>
                  <div class="pb-4 d-flex align-items-center">
                    <img class="section-image" src="../../../../assets/images/job-posting/education-icon.png" />
                    <div class="content mt-3">
                      <h5 class="bold">Passionfruit Pvt </h5>
                      <p class="font-16 text-grey mb-0">Lead UX Lead</p>
                      <p class="font-14 text-grey mt-2"> Jan 2020 - Jan 2021 <span
                          class="material-icons text-grey font-8 mx-3">
                          fiber_manual_record
                        </span> 1 Year</p>
                    </div>
                  </div>
                  <a class="text-primary text-right w-100 "> <span class="material-icons font-14">
                      add
                    </span> Add more experience </a>
                  <div class="row start-section my-4">
                    <div class="col-sm col-sm-12 col-md-12 col-lg-12 section-form-content">
                      <div class="form-row form-group">
                        <div class="col">
                          <input type="phone" class="form-control" placeholder="Name" />
                        </div>
                        <div class="col">
                          <input type="text" placeholder="Email" class="form-control" />
                        </div>
                      </div>
                      <div class="form-row form-group">
                        <div class="col">
                          <div class="btn-group custom-dropdown w-100">
                            <button class="btn w-100 btn-secondary btn-lg dropdown-toggle" type="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Select Relationship
                            </button>
                            <div class="dropdown-menu">
                              ...
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="btn-group custom-dropdown w-100">
                            <button class="btn w-100 btn-secondary btn-lg dropdown-toggle" type="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Select Position at that time
                            </button>
                            <div class="dropdown-menu">
                              ...
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm col-sm-12 col-md-12 col-lg-5 my-4">
          <div class="card">
            <div class="card-header">
              <h5 class="bold">Have any questions</h5>
            </div>
            <div class="card-body">
              <div class="row start-section my-4">
                <div class="col-sm col-sm-12 col-md-12 col-lg-12 section-form-content">

                  <div class="form-row form-group">
                    <div class="col">
                      <input type="phone" class="form-control" size="sm" placeholder="Name" />
                    </div>
                    <div class="col">
                      <input type="text" placeholder="Email" size="sm" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col">
                      <textarea class="form-control" placeholder="Query" row="3"></textarea>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-secondary mr-4">Back</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main> -->

  <!-- Second Page -->
  <!-- <main class="negative-top-offset">
    <section class="container">
      <div class="row parent-section-body mt-3">
        <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-7">
          <div class="card">
            <div class="card-header border-none">
              <h6>Scandidate Form</h6>
              <span></span>
            </div>
            <div class="card-body">
              <div class="d-flex align-items-center background-blue">
                <div class="section-image">
                  <img src="../../../../assets/images/scandidatelogo.jpg">
                </div>
                <div class="content">
                  <h6 class="text-uppercase">Scandidate</h6>
                  <div class="text-grey mb-3">
                    On ReKonnect, candidates can choose total transparency - as a unique offering, we conduct checks on
                    identity, address, education and experience along with a feedback report taken by our team directly
                    from past employers.
                    A Scandidate report gives new employers the confidence to Know Your Hire.
                  </div>
                </div>
                <div class="content">
                  <p> What more can you do to increase your chances of getting selected?
                    91% of employers prefer their candidates to have work experience, and 65% of them prefer their
                    candidates to have relevant work experience.(NACE Job Outlook 2017)
                    Recruiters take an average of 6 seconds to scan a resume.(TheLadders)On average, each corporate job
                    offer attracts 250 resumes. Of those candidates, 4 to 6 will get called for an interview, and only 1
                    will get the job.(Glassdoor) - BE the Chosen 1. Increase your chances of success in ensuring you
                    stand out among others applying for the jobs through adding to your resume in a unique Re-Inventivo
                    way.
                    <strong class="bold"> What more can you do to increase your chances ?</strong>

                    You can increase recruiter's confidence in your profile and save some time for them to onboard you
                    too - Here's How:
                    If you choose, you can fast track on the path to getting re-started. You can indicate your consent
                    to us in getting your reference check done before recruiters start looking for you. Your resume will
                    hold greater value for potential employers if they know it is validated by us. We will also showcase
                    your profile as authentic, under our Premium Profiles section.
                    Pls click in the checkbox to indicate your interest in getting a reference check done through our
                    team. This is a premium service, offered for the following charges:
                    1) Rs. 499 - Reference check with 1 past employer + Highest educational qualification check
                    2) Rs. 899 - Reference checks with 2 past employers + Highest educational qualification check
                  </p>
                </div>
              </div>

              <label>Pay 499/- for the Scandidate information check and access premium benefits</label>
              <div class="pricing-card">
                <div class="row">
                  <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-6">
                    <h1 class="price">499/-</h1>
                    <label class="text-grey">Background check from one employer </label>

                  </div>
                  <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-6">
                    <div class="section-list">
                      <div class="image-section">
                        <div class="image">
                          <img src="../../../../assets/images/bgv/earn-verified-badge.png" />
                          <h6>Earn verified badge</h6>
                        </div>
                        <div class="content">
                          <p class="text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien
                            ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. </p>
                        </div>
                      </div>
                      <div class="image-section">
                        <div class="image">
                          <img src="../../../../assets/images/bgv/more-profile-reach.png" />
                          <h6>More Profile reach to employers</h6>
                        </div>
                        <div class="content">
                          <p class="text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien
                            ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. </p>
                        </div>
                      </div>
                      <div class="image-section">
                        <div class="image">
                          <img src="../../../../assets/images/bgv/access-free.png" />
                          <h6>Access to free sessions and mentorship</h6>
                        </div>
                        <div class="content">
                          <p class="text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien
                            ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <button type="button" class="btn btn-secondary">Back</button>
                <button type="submit" class="btn btn-primary">Pay 499/-</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm col-sm-12 col-md-12 col-lg-5 my-4">
          <div class="card">
            <div class="card-header bold">Scandidate Cost</div>
            <div class="card-body">
              <label class="text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat
                vestibulum ultrices in vel lorem. Morbi leo lacus. </label>
              <h1 class="price">499/-</h1>
              <p>Youll Earn:</p>
              <ul>
                <li>verified Badge</li>
                <li>More Profile reach to employers</li>
                <li>More access to free sessions and mentorships</li>
              </ul>
            </div>
          </div>
          <div class="right-side-accordian my-4">
            <div class="custom-accord" id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h4 class="mb-4 px-3 py-2 font-bold"> Frequently Asked questions</h4>
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      How to reach best candidates? <span class="material-icons">
                        expand_more
                      </span>
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      How to edit job listing?
                      <span class="material-icons">
                        expand_more
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">
                      How Lorem ipsum dolor sit amet?
                      <span class="material-icons">
                        expand_more
                      </span>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main> -->

  <!-- Third page -->
  <main class="negative-top-offset">
    <section class="container">
      <div class="row parent-section-body mt-3">
        <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-12">
          <div class="card">

            <div class="card-body">
              <div class="text-center">
                <h5 class="modal-title section-sub-title mb-3" id="exampleModalLongTitle">Payment Successful</h5>
                <p class="section-content font-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget
                  sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem.
                </p>
                <div class="image-section">
                  <img class="" src="../../../../assets/images/job-posting/job-posting-complete.png" />
                </div>
                <div class="form-footer text-right my-4">
                  <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Back</button>
                  <button type="button" class="btn btn-primary w-min-250 btn-lg ml-2">Checkout latest job posts</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>