<div class="dashboard-section">
    <header>
        <div class="banner banner-bg-large">
            <img class="banner-img" src="../../../../assets/images/organisation/organisation-cover.jpg" />
        </div>
    </header>

    <main class="negative-top-offset">
        <section class="container organisation-section">
            <div class="row parent-section-body mt-3">
                <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-12 left-side">
                    <div class="top-content d-flex align-items-center">
                        <div class="image-section mr-4">
                            <img src="../../../../assets/images/scandidatelogo.jpg" />
                        </div>
                        <div class="content d-flex align-items-center justify-content-space-between pt-4">
                            <div class="">
                                <h5 class="font-bold">Some Company</h5>
                                <p class="text-grey font-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat
                                    vestibulum ultrices in vel lorem. </p>
                                <div class="badge-pills mb-3">
                                    <span class="badge badge-primary">Full-time</span>
                                    <span class="badge badge-secondary">Delhi</span>
                                </div>
                            </div>
                            <div class="">
                                <button class="btn btn-primary btn-sm">Visit Website</button>
                            </div>
                        </div>
                    </div>
                    <div class="custom-organisation-tab">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                    role="tab" aria-controls="pills-home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Job
                                    Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-team"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Team</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-4 pt-4" id="pills-tabContent">
                            <div class="tab-pane show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="row">
                                    <div class="col-sm col-sm-12 col-md-12 col-lg-7">
                                        <div class="">
                                            <h5 class="mb-3">Description</h5>
                                            <div class="body">
                                                <p class="text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. 
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem.  </p>
                                            </div>
                                            <div class="my-4 pys-3">
                                                <h5 class="mb-3">Introduction Video</h5>
                                                <div class="video-card">
                                                    <video width="320" controls="controls" preload="metadata">
                                                        <source src="https://www.youtube.com/watch?v=qz0aGYrrlhU" type="video/mp4">
                                                    </video>
                                                </div>
                                            </div>
                                            <div class="row mt-4 pt-4">
                                                <div class="col-sm col-sm-12 col-md-6 col-lg-4 mb-4">
                                                    <div class="d-flex align-items-center">
                                                        <div class="image mr-3">
                                                            <img src="../../../../assets/images/" />
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="font-bold">Website</h5>
                                                            <label class="text-grey">www.loreipsum.com</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm col-sm-12 col-md-6 col-lg-4 mb-4">
                                                    <div class="d-flex align-items-center">
                                                        <div class="image mr-3">
                                                            <img src="../../../../assets/images/organisation/company-png.png" />
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="font-bold">Company Size</h5>
                                                            <label class="text-grey">1-1000 size</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm col-sm-12 col-md-6 col-lg-4 mb-4">
                                                    <div class="d-flex align-items-center">
                                                        <div class="image mr-3">
                                                            <img src="../../../../assets/images/organisation/type-png.png" />
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="font-bold">Type</h5>
                                                            <label class="text-grey">Public Company</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="col-sm col-sm-12 col-md-6 col-lg-4 mb-4">
                                                    <div class="d-flex align-items-center">
                                                        <div class="image mr-3">
                                                            <img src="../../../../assets/images/organisation/industry-png.png" />
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="font-bold">Industry</h5>
                                                            <label class="text-grey">Service Based</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm col-sm-12 col-md-6 col-lg-4 mb-4">
                                                    <div class="d-flex align-items-center">
                                                        <div class="image mr-3">
                                                            <img src="../../../../assets/images/organisation/headquarters-png.png" />
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="font-bold">Headquarters</h5>
                                                            <label class="text-grey">Gurgaon, India</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm col-sm-12 col-md-6 col-lg-4 mb-4">
                                                    <div class="d-flex align-items-center">
                                                        <div class="image mr-3">
                                                            <img src="../../../../assets/images/organisation/founded-png.png" />
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="font-bold">Founded</h5>
                                                            <label class="text-grey">2004</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm col-sm-12 col-md-12 col-lg-5">
                                        <h5 class="mb-3">Description</h5>
                                        <p>ADD LOCATION MAP HERE</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane posting-complete fade job-list-section" id="pills-profile"
                                role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="bottom-card-content">
                                    <div class="job-list-content">
                                        <div class="card mb-4 px-3 py-3">
                                            <div class="card-content row">
                                                <div class="head col-sm col-lg-2 mr-4">
                                                    <div class="image-section ">
                                                        <img
                                                            src="../../../../assets/images/check-all-job/dummy-logo.png" />
                                                    </div>
                                                </div>
                                                <div class="col-sm col-lg-9">
                                                    <div
                                                        class="d-flex align-items-center justify-content-space-between">
                                                        <h5>UX Designer</h5>
                                                        <div class="right-side d-flex align-items-center">
                                                            <label class="date mr-4 text-grey">
                                                                Posted 3 hour ago
                                                            </label>
                                                            <div class="user-action d-flex justify-content-center pb-3">
                                                                <button class="btn btn-primary btn-sm mr-2"> View Job
                                                                    Post</button>
                                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                                        class="material-icons">
                                                                        person_outline</span></button>
                                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                                        class="material-icons">share</span></button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card-content">
                                                        <div class="badge-pills mb-3">
                                                            <span class="badge badge-primary">Full-time</span>
                                                            <span class="badge badge-secondary">Delhi</span>
                                                        </div>
                                                        <div class="body">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Nam
                                                                eget sapien ut erat vestibulum ultrices in vel lorem.
                                                                Morbi
                                                                leo lacus. Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Nam eget sapien ut erat vestibulum
                                                                ultrices
                                                                in vel lorem. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-4 px-3 py-3">
                                            <div class="card-content row">
                                                <div class="head col-sm col-lg-2 mr-4">
                                                    <div class="image-section ">
                                                        <img
                                                            src="../../../../assets/images/check-all-job/dummy-logo.png" />
                                                    </div>
                                                </div>
                                                <div class="col-sm col-lg-9">
                                                    <div
                                                        class="d-flex align-items-center justify-content-space-between">
                                                        <h5>UX Designer</h5>
                                                        <div class="right-side d-flex align-items-center">
                                                            <label class="date mr-4 text-grey">
                                                                Posted 3 hour ago
                                                            </label>
                                                            <div class="user-action d-flex justify-content-center pb-3">
                                                                <button class="btn btn-primary btn-sm mr-2"> View Job
                                                                    Post</button>
                                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                                        class="material-icons">
                                                                        person_outline</span></button>
                                                                <button class="btn btn-secondary btn-sm mr-2"><span
                                                                        class="material-icons">share</span></button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card-content">
                                                        <div class="badge-pills mb-3">
                                                            <span class="badge badge-primary">Full-time</span>
                                                            <span class="badge badge-secondary">Delhi</span>
                                                        </div>
                                                        <div class="body">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Nam
                                                                eget sapien ut erat vestibulum ultrices in vel lorem.
                                                                Morbi
                                                                leo lacus. Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Nam eget sapien ut erat vestibulum
                                                                ultrices
                                                                in vel lorem. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane posting-complete fade" id="pills-team" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="row team-section">
                                    <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                        <div class="user-profile">
                                            <div class="image-section">
                                                <img src="../../../../assets/images/testimonial-image.png" />
                                            </div>
                                            <div class="user">
                                                <h4> Some Name</h4>
                                                <label class="font-16">UX Designer</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                        <div class="user-profile">
                                            <div class="image-section">
                                                <img src="../../../../assets/images/testimonial-image.png" />
                                            </div>
                                            <div class="user">
                                                <h4> Some Name</h4>
                                                <label class="font-16">UX Designer</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                        <div class="user-profile">
                                            <div class="image-section">
                                                <img src="../../../../assets/images/testimonial-image.png" />
                                            </div>
                                            <div class="user">
                                                <h4> Some Name</h4>
                                                <label class="font-16">UX Designer</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                        <div class="user-profile">
                                            <div class="image-section">
                                                <img src="../../../../assets/images/testimonial-image.png" />
                                            </div>
                                            <div class="user">
                                                <h4> Some Name</h4>
                                                <label class="font-16">UX Designer</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div> 

