<div class="dashboard-section">
    <main>
        <section class="container view-job-section start-section">
            <div class="row section-form-content">
                <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-8 job-left-content">
                    <div class="top-content">
                        <h5 class="font-bold">UX Designer</h5>
                        <div class="row ">
                            <div class="col-sm col-sm-12 col-md-12 col-lg-12 ">
                                <div class="form-row form-group">
                                    <div class="col-sm col-lg-2 col-md-12 col-sm-12">
                                        <input type="text" class="form-control" placeholder="Full" readonly />
                                    </div>
                                    <div class="col-sm col-lg-2 col-md-12 col-sm-12">
                                        <input type="text" placeholder="Senior" class="form-control" readonly />
                                    </div>
                                    <div class="col-sm col-lg-3 col-md-12 col-sm-12">
                                        <input type="text" placeholder="Delhi" class="form-control" readonly />
                                    </div>
                                    <div class="col-sm col-lg-3 col-md-12 col-sm-12">
                                        <input type="text" placeholder="7 Positions" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-12 col-lg-4 job-right-content">
                    <div class="btn-group custom-dropdown mr-3">
                        <button class="btn w-100 btn-secondary dropdown-toggle text-primary " type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="active"></span> Active
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item inactive" href="#">In-Active</a>
                            <a class="dropdown-item archive" href="#">Archive</a>
                        </div>
                    </div>
                    <button class="btn btn-secondary">
                        <span class="material-icons">
                            edit
                        </span>
                    </button>
                </div>
            </div>
            <div class="row parent-section-body">
                <div class="col-sm col-sm-12 mb-sm-3 col-md-12 col-lg-8 job-left-content">
                    <div class="graph-cards">
                        <div class="card">
                            <div class="">
                                <h3>45</h3>
                                <span><span class="material-icons">
                                        arrow_upward
                                    </span></span>
                            </div>
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="bottom-content">
                        <label>Description</label>
                        <textarea class="form-control" rows="4" readonly>
                            <Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. 
                                
                                Lore . Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, 
                                Lore . Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, 
                                Lore . Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, 
                                Lore . Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, 
                                Lore . Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, 
                                Lore . Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, 
                                
                                
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. Morbi leo lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum ultrices in vel lorem. 
                        </textarea>
                    </div>
                    <div class="col-sm col-sm-12 col-md-12 col-lg-12 mt-3">
                        <div class="card job-post-card">
                            <div class="card-header">
                                <h6>Candidates that match your requirements for recent job post</h6>
                            </div>
                            <div class="card-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                        <div class="candidate-card">
                                            <span class="top-pick-label">Top Pick</span>
                                            <div class="user-content">
                                                <div class="user-avatar">
                                                    <img
                                                        src="../../../../assets/images/temporary-images/candidate-placeholder-image-1.png" />
                                                </div>
                                                <div class="user-text text-center">
                                                    <h4>Jayesh Kumar</h4>
                                                    <label>UX Designer</label>
                                                </div>
                                                <div class="user-action d-flex justify-content-center pb-3">
                                                    <button class="btn btn-secondary btn-sm mr-2"><span
                                                            class="material-icons"> person_outline</span></button>
                                                    <button class="btn btn-secondary btn-sm mr-2"><span
                                                            class="material-icons">share</span></button>
                                                    <button class="btn btn-primary btn-sm"><span
                                                            class="material-icons font-16">mail_outline </span>
                                                        Get in touch</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                        <div class="candidate-card">
                                            <span class="top-pick-label">Top Pick</span>
                                            <div class="user-content">
                                                <div class="user-avatar">
                                                    <img
                                                        src="../../../../assets/images/temporary-images/candidate-placeholder-image-2.png" />
                                                </div>
                                                <div class="user-text text-center">
                                                    <h4>Jayesh Kumar</h4>
                                                    <label>UX Designer</label>
                                                </div>
                                                <div class="user-action d-flex justify-content-center pb-3">
                                                    <button class="btn btn-secondary btn-sm mr-2"><span
                                                            class="material-icons"> person_outline</span></button>
                                                    <button class="btn btn-secondary btn-sm mr-2"><span
                                                            class="material-icons">share</span></button>
                                                    <button class="btn btn-primary btn-sm"><span
                                                            class="material-icons font-16">mail_outline </span>
                                                        Get in touch</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                        <div class="candidate-card">
                                            <div class="user-content">
                                                <div class="user-avatar">
                                                    <img
                                                        src="../../../../assets/images/temporary-images/candidate-placeholder-image-3.png" />
                                                </div>
                                                <div class="user-text text-center">
                                                    <h4>Jayesh Kumar</h4>
                                                    <label>UX Designer</label>
                                                </div>
                                                <div class="user-action d-flex justify-content-center pb-3">
                                                    <button class="btn btn-secondary btn-sm mr-2"><span
                                                            class="material-icons"> person_outline</span></button>
                                                    <button class="btn btn-secondary btn-sm mr-2"><span
                                                            class="material-icons">share</span></button>
                                                    <button class="btn btn-primary btn-sm"><span
                                                            class="material-icons font-16">mail_outline </span>
                                                        Get in touch</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm col-sm-12 col-md-6 col-lg-3">
                                        <div class="candidate-card">
                                            <div class="user-content">
                                                <div class="user-avatar">
                                                    <img
                                                        src="../../../../assets/images/temporary-images/candidate-placeholder-image-4.png" />
                                                </div>
                                                <div class="user-text text-center">
                                                    <h4>Jayesh Kumar</h4>
                                                    <label>UX Designer</label>
                                                </div>
                                                <div class="user-action d-flex justify-content-center pb-3">
                                                    <button class="btn btn-secondary btn-sm mr-2"><span
                                                            class="material-icons"> person_outline</span></button>
                                                    <button class="btn btn-secondary btn-sm mr-2"><span
                                                            class="material-icons">share</span></button>
                                                    <button class="btn btn-primary btn-sm"><span
                                                            class="material-icons font-16">mail_outline </span>
                                                        Get in touch</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-sm-12 col-md-12 col-lg-4 job-right-content area-grey ">
                    <div class="top">
                        <h6>Job Specifications</h6>
                        <div class="form-group">
                            <span class="material-icons">
                                currency_rupee
                            </span>
                            <input type="text" class="form-control" placeholder="300000" readonly />
                        </div>
                        <div class="form-group">
                            <span class="material-icons">
                                school
                            </span>
                            <input type="text" class="form-control" placeholder="BE Graduate" readonly />
                        </div>
                        <div class="form-group">
                            <span class="material-icons">
                                work
                            </span>
                            <input type="text" class="form-control" placeholder="5-8 Years of Experience" readonly />
                        </div>
                    </div>
                    <div class="">
                        <h6>Skills Required</h6>
                        <div class="selected-pill my-3">
                            <span class="btn btn-selected-pill mr-3">Leadership </span>
                            <span class="btn btn-selected-pill mr-3">Management </span>
                        </div>
                    </div>
                    <div class="mandate-section">
                        <div class="">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <p>Addition of Visume is marked mandatory</p>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <p>Addition of Visume is marked mandatory</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-group">
                        <div class="">
                            <label>All Applicants</label>
                            <p> add avatar group here</p>
                        </div>
                        <div class="">
                            <label>Shortlisted Applicants</label>
                            <p> add avatar group here</p>
                        </div>
                        <div class="">
                            <label>Rejected Applicants</label>
                            <p> add avatar group here</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
