<button class="btn btn-primary" style="margin-bottom:18px;margin-left:10px"> <a href="/dashboard/employer"
    style="color: white;text-decoration: none; ">Dashboard</a> </button>

<!-- <div class="alert alert-warning profile-completion m-0 d-flex justify-content-space-between align-items-center"
  role="alert">
  <span><strong>Profile 75% completed</strong>Complete your profile for better reach. </span>

  <button class="btn btn-secondary">Edit Profile</button>
</div> -->
<header>
  <div class="banner">
    <img class="banner-img" src="../../../assets/images/employer-banner.jpg" />
  </div>
</header>


<div class="table-div">

  <div class="User-Info">
    <div class="col-sm col-sm-12 col-md-12 col-lg-12 mb-3">
      <div class="card profile-card">
        <div class="card-header d-none">
        </div>
        <div class="card-body employer-header-band d-flex align-items-center justify-content-space-between">
          <div class="user-profile mb-0">
            <div class="user-image">
              <img [src]="employerInfo?.company_logo" />
            </div>
            <div class="user-content">
              <h5>{{userProfileData?.first_name}} {{userProfileData?.last_name}}</h5>
              <label>- {{userProfileData?.employer_details[0].designation | titlecase}}</label>
            </div>
          </div>
          <div class="user-content-action">
            <button class="btn btn-primary mr-3 btn-lg" (click)='postJob()'>Post new job listing</button>
            <button class="btn btn-secondary btn-lg">Recommend Expert</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Job Title</th>
        <th scope="col">Job Category</th>
        <th scope="col">Job Type</th>
        <th scope="col">City</th>
        <th scope="col">Vacancy</th>
        <th scope="col">Action</th>
        <th scope="col">Delete Job</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobData">
        <td>{{ job?.job_title }}</td>
        <td>{{ job?.job_category }}</td>
        <td>{{ job?.job_type }}</td>
        <td>{{ job?.city }}</td>
        <td>{{ job?.post_vacancies }}</td>
        <td>

          <button class=" Job btn btn-primary btn-sm mr-2" (click)="viewJob(job)">
            View Job Post
          </button>
        </td>
        <td>
          <button class="Job btn btn-danger btn-sm mr-2" (click)="delJob(job._id)">
            Delete Job Post
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>


<!-- For Mobile View -->

<!-- <div class="Job-Box">

  <div *ngFor="let job of jobData" class="Price-Card">
    <div class="Card-1">
      <div class="Card-header">
        
        <p>{{ job?.job_title }}</p>
      </div>

      <div class="Card-Content">

        <div class="Card-Details">
          <ul>
            <li><b>Job Category:- </b> {{ job?.job_category }}</li>
            <li><b>Job Type:- </b> {{ job?.job_type }}</li>
            <li><b>City:- </b> {{ job?.city }}</li>
            <li><b>Vacancy:- </b> {{ job?.post_vacancies }}</li>
        
          </ul>
        </div>

        <div class="Card-Button">
          <button style="background-color: #15759A;" (click)="viewJob(job)">View Job</button>
          <button style="background-color: #dc3545;" (click)="delJob(job._id)">Delete Job</button>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="Job-Box col-sm col-sm-12 col-md-12 col-lg-12 mt-3">
  <div class="card experts-card">
    <!-- <div class="card-header">
      <h6>Recent Job Posts</h6>
      <span></span>
    </div> -->
    <div class="card-body">
      <div class="row px-3">
        <div style="margin:3% 0; border-bottom:0.5px solid rgb(209, 202, 202);" *ngFor="let job of jobData">
          <div class="col-sm col-sm-12 mb-md-3 mb-2">
            <div class="posted-job-card mr-3">
              <div class="header-card">
                <div class="header-image">
                  <h2>{{job?.job_title}}</h2>
                  <!-- <img src="../../../../assets/images/temporary-images/smiley-image.jpg" /> -->
                </div>
                <!-- <div class="user-profile">
                  <div class="user-image">
                    <img width="90px" [src]="job.company_logo" />
                  </div>
                  <div class="user-content">
                    <h5>{{job?.first_name}} {{job?.last_name}}</h5>
                    <label>{{job?.city}} {{job?.country}}</label>
                  </div>
                </div> -->
              </div>
              <div class="content-card">
                <p>{{job?.job_description}}</p>
                <div style="display:flex; justify-content:space-between;">
                  <label>
                    <h4 style="display: inline-block; line-height:0;">Location: </h4> {{ job?.city }} <br>
                    <h4 style="display: inline-flex; line-height:0;">Job Type: </h4> {{job?.job_type}} <br>
                    <h4 style="display: inline-block; line-height:0;">Job Category: </h4>{{job?.job_category}} <br>
                    <h4 style="display: inline-block; line-height:0;">Vacancy: </h4> {{ job?.post_vacancies }}
                  </label>

                  <label class="bttn" style="display: grid;">
                    <button style="background-color: #15759A;" (click)="viewJob(job)">View Job</button>
                    <button style="background-color: #dc3545;" (click)="delJob(job._id)">Delete Job</button>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-sm col-sm-12 col-lg-2 d-flex align-items-center">
          <a class="btn btn-link text-primary">See more <span class="material-icons">
              play_circle_filled
            </span></a>
        </div> -->
      </div>
    </div>
  </div>
</div>





























<!-- <div>
  <div class="Job-Box" *ngFor="let job of jobData">
    <table>
      <thead>
        <tr>
          <th scope="col">Job Title</th>
          <th scope="col">Job Category</th>
          <th scope="col">Job Type</th>
          <th scope="col">City</th>
          <th scope="col">Vacancy</th>
          <th scope="col">Action</th>
          <th scope="col">Delete Job</th>
        </tr>
      </thead>

      <div *ngIf="job; else elseBlock">

        <tbody>
          <tr>
            <td>{{ job?.job_title }}</td>
            <td>{{ job?.job_category }}</td>
            <td>{{ job?.job_type }}</td>
            <td>{{ job?.city }}</td>
            <td>{{ job?.post_vacancies }}</td>
            <td>

              <button class=" Job btn btn-primary btn-sm mr-2" (click)="viewJob(job)">
                View Job Post
              </button>
            </td>
            <td>
              <button class="Job btn btn-danger btn-sm mr-2" (click)="delJob(job._id)">
                Delete Job Post
              </button>
            </td>
          </tr>
        </tbody>

      </div>
      <ng-template #elseBlock>Content to render when condition is false.</ng-template>

    </table>

  </div>
</div> -->


\















































<!-- <table class="Job-Heading">
      <thead>
        <tr>
          <th scope="col">Job Title</th>
          <th scope="col">Job Category</th>
          <th scope="col">Job Type</th>
          <th scope="col">City</th>
          <th scope="col">Vacancy</th>
          <th scope="col">Action</th>
          <th scope="col">Delete Job</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobData">
          <td>{{ job?.job_title }}</td>
          <td>{{ job?.job_category }}</td>
          <td>{{ job?.job_type }}</td>
          <td>{{ job?.city }}</td>
          <td>{{ job?.post_vacancies }}</td>
          <td>

            <button class=" Job btn btn-primary btn-sm mr-2" (click)="viewJob(job)">
              View Job Post
            </button>
          </td>
          <td>
            <button class="Job btn btn-danger btn-sm mr-2" (click)="delJob(job._id)">
              Delete Job Post
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
