<button class="btn btn-primary" style="margin-bottom:18px;margin-left:10px"> <a href="/dashboard/employer" style="color: white;text-decoration: none; ">Dashboard</a> </button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Job Title</th>
      <th scope="col">Job Category</th>
      <th scope="col">Job Type</th>
      <th scope="col">City</th>
      <th scope="col">Vacancy</th>
      <th scope="col">Action</th>
      <th scope="col">Delete Job</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobData">
      <td>{{ job?.job_title }}</td>
      <td>{{ job?.job_category }}</td>
      <td>{{ job?.job_type }}</td>
      <td>{{ job?.city }}</td>
      <td>{{ job?.post_vacancies }}</td>
      <td>
        <button class="btn btn-primary btn-sm mr-2" (click)="viewJob(job)">
          View Job Post
        </button>
      </td>
      <td>
        <button class="btn btn-danger btn-sm mr-2" >
          Delete Job Post
        </button>
      </td>
    </tr>
  </tbody>
</table>
