<div class="new-landing">
    <section>
        <div class="row align-items-center">
            <div class="col-sm col-lg-5 col-sm-12">
                <div class="section-main-title mx-4">
                    <p class="mb-0">Welcome to <span class="text-primary">ReKonnect</span></p>
                </div>
                <div class="section-content mr-lg-5 mr-md-5 mb-sm-2 mx-4">
                    <p class="mb-4">Restart or kickstart your career regardless of your location or experience <br>

                        An effective platform to upskill, engage and hire the best and immediately available
                        talent
                    </p>
                </div>
            </div>
            <div class="col-sm col-lg-7 col-sm-12 pr-0">
                <div class="image-transform-section">
                    <img class="img-fluid" src="../../assets/images/new-landing/heroimage.png" alt="onboarding" />
                </div>
            </div>
        </div>
    </section>

    <!-- partners band -->
    <section class="partner-band">
        <div class="container">
            <div class="row section  mx-4">
                <div class="col-sm col-lg-2 col-sm-12 d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/bookmyshow.png" />
                </div>
                <div
                    class="col-sm col-lg-2 col-sm-12 text-center d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/centrum.png" />
                </div>
                <div
                    class="col-sm col-lg-3 col-sm-12 text-center d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/idealinsuranc.png" />
                </div>
                <div
                    class="col-sm col-lg-3 col-sm-12 text-center d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/reliance.png" />
                </div>
                <div
                    class="col-sm col-lg-2 col-sm-12 text-xl-right text-center d-flex align-items-center mb-sm-3 justify-content-center">
                    <img class="partner-image" src="../../assets/images/partners/sapiens.png" />
                </div>
            </div>
        </div>
    </section>

    <!-- job listing sections -->
    <section class="job-listing-section section">
        <div class="section-title py-2 d-flex justify-content-center">
            <p class="mb-0">How to get started, Lets go </p>
        </div>
        <div class="section-content mr-lg-5 mr-md-5">
            <p class="mt-3 ">
                You're aLorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum
                ultrices in vel lorem. Morbi leo lacus. </p>
        </div>
        <div class="">
            <img class="img-fluid" src="../../assets/images/new-landing/Flow.jpg" />
        </div>
    </section>


    <!-- service sections -->
    <section class="onboarding-section section">
        <div class="section-title py-4 d-flex justify-content-center mb-3">
            <p class="mb-5">One Place - Multiple Benefits </p>
        </div>
        <div class="">
            <ul class="nav custom-service-tab nav-pills mb-3 d-flex justify-content-center" id="pills-tab"
                role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-1" role="tab"
                        aria-controls="pills-home" aria-selected="true"><span class="material-icons">
                            rocket_launch
                        </span> Launch your career</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-2" role="tab"
                        aria-controls="pills-profile" aria-selected="false"><span class="material-icons">
                            rocket
                        </span> Relaunch your career</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-3" role="tab"
                        aria-controls="pills-contact" aria-selected="false">
                        <span class="material-icons">
                            hail
                        </span> Konnect as employer</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-4" role="tab"
                        aria-controls="pills-contact" aria-selected="false"> <span class="material-icons">
                            groups
                        </span> Konnect with expert</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-5" role="tab"
                        aria-controls="pills-contact" aria-selected="false"><span class="material-icons">
                            engineering
                        </span> Konnect as expert</a>
                </li>
            </ul>
            <div class="tab-content background-primary py-4" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                    <div class="row section">
                        <div class="col-sm col-lg-6 container col-md-12 col-sm-12">
                            <div class="section-wrapper-title mx-4 mb-3">
                                <p class="mb-0 font-bold mb-4">Launch your career </p>
                            </div>
                            <div class="section-content mx-4 mb-sm-2">
                                <p class="mt-3 text-white">
                                    You're a fresh graduate who wants to start a career from scratch or you're confused
                                    about career choices and need help
                                    Follow easy process of applying for jobs according to your preference
                                    Confused about what to choose? We have experts to guide you to what could be your
                                    big break.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm col-lg-6 col-md-12 col-sm-12">
                            <img class="img-fluid" src="../../assets/images/new-landing/launchyourcareer.png" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                    <div class="row section">
                        <div class="col-sm col-lg-6 container col-md-12 col-sm-12">
                            <div class="section-wrapper-title mx-4 mb-3">
                                <p class="mb-0 font-bold mb-4">Relaunch your career </p>
                            </div>
                            <div class="section-content mx-4 mb-sm-2">
                                <p class="mt-3 text-white">
                                    You're an experienced professional looking to return from your sabbatical or restart
                                    a career in entrepreneurship or in a different domain
                                </p>
                            </div>
                        </div>
                        <div class="col-sm col-lg-6 col-md-12 col-sm-12">
                            <img class="img-fluid" src="../../assets/images/new-landing/launchyourcareer.png" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                    <div class="row section">
                        <div class="col-sm col-lg-6 container col-md-12 col-sm-12">
                            <div class="section-wrapper-title mx-4 mb-3">
                                <p class="mb-0 font-bold mb-4">Konnect as career </p>
                            </div>
                            <div class="section-content mx-4 mb-sm-2">
                                <p class="mt-3 text-white">
                                    You're an organization that wants to hire the right kind of talent for your existing
                                    job postings
                                </p>
                            </div>
                        </div>
                        <div class="col-sm col-lg-6 col-md-12 col-sm-12">
                            <img class="img-fluid" src="../../assets/images/new-landing/launchyourcareer.png" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
                    <div class="row section">
                        <div class="col-sm col-lg-6 container col-md-12 col-sm-12">
                            <div class="section-wrapper-title mx-4 mb-3">
                                <p class="mb-0 font-bold mb-4">Konnect with expert </p>
                            </div>
                            <div class="section-content mx-4 mb-sm-2">
                                <p class="mt-3 text-white">
                                    Schedule a one on one with Experts in your domain and get your career-related
                                    queries answered!
                                </p>
                            </div>
                        </div>
                        <div class="col-sm col-lg-6 col-md-12 col-sm-12">
                            <img class="img-fluid" src="../../assets/images/new-landing/launchyourcareer.png" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab">
                    <div class="row section">
                        <div class="col-sm col-lg-6 container col-md-12 col-sm-12">
                            <div class="section-wrapper-title mx-4 mb-3">
                                <p class="mb-0 font-bold mb-4">Konnect as expert </p>
                            </div>
                            <div class="section-content mx-4 mb-sm-2">
                                <p class="mt-3 text-white">
                                    You're an individual with in-depth knowledge & experience in your respective field
                                    of work and you'd love to help out young professionals through your career advise
                                </p>
                            </div>
                        </div>
                        <div class="col-sm col-lg-6 col-md-12 col-sm-12">
                            <img class="img-fluid" src="../../assets/images/new-landing/launchyourcareer.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- job listing sections -->
    <section class="job-listing-section section">
        <div class="section-title py-2 d-flex justify-content-center">
            <p class="mb-0">Find a job that suits your passion </p>
        </div>
        <div class="section-content mr-lg-5 mr-md-5">
            <p class="mt-3 ">
                You're aLorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget sapien ut erat vestibulum
                ultrices in vel lorem. Morbi leo lacus. </p>
        </div>
        <div class="container">
            <div class="row section">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-all"
                            role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-marketting"
                            role="tab" aria-controls="v-pills-profile" aria-selected="false">Marketting</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-designing"
                            role="tab" aria-controls="v-pills-messages" aria-selected="false">Designing</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-development"
                            role="tab" aria-controls="v-pills-settings" aria-selected="false">Developement</a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel"
                            aria-labelledby="v-pills-all">
                            <div class="row">
                                <div class="col-sm col-lg-4 col-md-12 col-sm-12">
                                    <div class="content-card">
                                        <div class="image-section-tab">
                                            <img class="img-section"
                                                src="../../assets/images/curated-courses-for-you-placeholder-image-1.jpg" />
                                        </div>
                                        <div class="d-flex align-items-center py-2  px-3">
                                            <span class="mr-4"><span class="material-icons text-emphasis">
                                                    work_history
                                                </span> Full-time</span>
                                            <span> <span class="material-icons text-emphasis">
                                                    location_on
                                                </span>Mumbai, India</span>
                                        </div>
                                        <h6 class="py-1 mb-0 px-3">Software Developer - Level 4</h6>
                                        <p class="py-1 mb-0 px-3">MITx on edX</p>
                                        <div class="action-footer d-flex">
                                            <button class="btn btn-secondary"><span class="material-icons">
                                                    visibility
                                                </span></button>
                                            <button class="btn btn-primary">Apply For Job</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-lg-4 col-md-12 col-sm-12">
                                    <div class="content-card">
                                        <div class="image-section-tab">
                                            <img class="img-section"
                                                src="../../assets/images/curated-courses-for-you-placeholder-image-1.jpg" />
                                        </div>
                                        <div class="d-flex align-items-center py-2  px-3">
                                            <span class="mr-4"><span class="material-icons text-emphasis">
                                                    work_history
                                                </span> Full-time</span>
                                            <span> <span class="material-icons text-emphasis">
                                                    location_on
                                                </span>Mumbai, India</span>
                                        </div>
                                        <h6 class="py-1 mb-0 px-3">Software Developer - Level 4</h6>
                                        <p class="py-1 mb-0 px-3">MITx on edX</p>
                                        <div class="action-footer d-flex">
                                            <button class="btn btn-secondary"><span class="material-icons">
                                                    visibility
                                                </span></button>
                                            <button class="btn btn-primary">Apply For Job</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm col-lg-4 col-md-12 col-sm-12">
                                    <div class="content-card">
                                        <div class="image-section-tab">
                                            <img class="img-section"
                                                src="../../assets/images/curated-courses-for-you-placeholder-image-1.jpg" />
                                        </div>
                                        <div class="d-flex align-items-center py-2  px-3">
                                            <span class="mr-4"><span class="material-icons text-emphasis">
                                                    work_history
                                                </span> Full-time</span>
                                            <span> <span class="material-icons text-emphasis">
                                                    location_on
                                                </span>Mumbai, India</span>
                                        </div>
                                        <h6 class="py-1 mb-0 px-3">Software Developer - Level 4</h6>
                                        <p class="py-1 mb-0 px-3">MITx on edX</p>
                                        <div class="action-footer d-flex">
                                            <button class="btn btn-secondary"><span class="material-icons">
                                                    visibility
                                                </span></button>
                                            <button class="btn btn-primary">Apply For Job</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="v-pills-marketing" role="tabpanel"
                            aria-labelledby="v-pills-marketing-tab">...</div>
                        <div class="tab-pane fade" id="v-pills-designing" role="tabpanel"
                            aria-labelledby="v-pills-designing-tab">...</div>
                        <div class="tab-pane fade" id="v-pills-development" role="tabpanel"
                            aria-labelledby="v-pills-development-tab">...</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- events section -->
    <section class="webinar-section background-primary">
        <div class="row ">
            <div class="col-sm col-xl-7 col-lg-12 section ">
                <div class="section-alignment justify-content-center mx-4">
                    <div class="section-title mb-5">
                        <p class="mb-0">What We Do </p>
                    </div>
                    <div class="row">
                        <div class="col-sm col-lg-12 col-sm-12">
                            <div class="d-flex align-items-center webinar-content-section mb-4">
                                <div class="image-sectionn">
                                    <img class="img-fluid separate-img"
                                        src="../../assets/images/new-landing/webinar/webinarsexpert.png" />
                                </div>
                                <div class="content-section">
                                    <div class="section-wrapper-title mb-2">
                                        <p class="mb-0">We hold webinars from experts </p>
                                    </div>
                                    <div class="section-content mr-lg-5 mr-md-5 mb-sm-2">
                                        <p class="mt-3 font-16 line-height-normal">
                                            Attend from webinars industry experts; interact with them live and ask away
                                            all
                                            your
                                            doubts </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-12 col-sm-12 mb-4">
                            <div class="d-flex align-items-center  webinar-content-section mb-2">
                                <div class="image-sectionn">
                                    <img class="img-fluid mr-4"
                                        src="../../assets/images/new-landing/webinar/liveworkshop.png" />
                                </div>
                                <div class="content-section">
                                    <div class="section-wrapper-title mb-2">
                                        <p class="mb-0">Live Workshops </p>
                                    </div>
                                    <div class="section-content mr-lg-5 mr-md-5 mb-sm-2">
                                        <p class="mt-3 font-16 line-height-normal">
                                            From upskilling workshops to the most sought-after certifications, find out
                                            what
                                            skills
                                            are trending and how to become employable from the comfort of your home </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-12 col-sm-12">
                            <div class="d-flex align-items-center mb-4 webinar-content-section">
                                <div class="image-sectionn">
                                    <img class="img-fluid mr-4"
                                        src="../../assets/images/new-landing/webinar/careerguide.png" />
                                </div>
                                <div class="content-section">
                                    <div class="section-wrapper-title mb-2">
                                        <p class="mb-0">Career Guidance </p>
                                        <div class="section-content mr-lg-5 mr-md-5 mb-sm-2">
                                            <p class="mt-3 font-16 line-height-normal">
                                                It takes more than just a resume to get a job these days; find out what
                                                these tricks
                                                of
                                                the trade are and get on the journey to your ikigai </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-12 col-sm-12">
                            <div class="d-flex align-items-center mb-4 webinar-content-section">
                                <div class="image-sectionn">
                                    <img class="img-fluid mr-4"
                                        src="../../assets/images/new-landing/webinar/dreamjob.png" />
                                </div>
                                <div class="content-section">
                                    <div class="section-wrapper-title mb-2">
                                        <p class="mb-0">Land your dream job </p>
                                    </div>
                                    <div class="section-content mr-lg-5 mr-md-5 mb-sm-2">
                                        <p class="mt-3 font-16 line-height-normal">
                                            From building a career-specific resume or a cover letter tailored to the
                                            business to
                                            networking, follow all the steps you need to land that dream job </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm col-xl-5 col-lg-12 d-none d-xl-block  p-0">
                <img class="webinar-image img-fluid" src="../../assets/images/new-landing/webinar.png" />
            </div>
        </div>
    </section>

    <!-- testimonial sections -->
    <section class="home-testimonial background-testimonial">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center testimonial-pos py-4">
                <div class="col-md-12 pt-4 d-flex justify-content-center">
                    <div class="section-alignment justify-content-center">
                        <div class="section-title  mb-3">
                            <p class="mb-0">Testimonials </p>
                        </div>
                        <div class="section-content  mr-lg-5 mr-md-5 mb-sm-2">
                            <p class="mt-3 ">
                                What candidates say about us</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <h2></h2>
                </div>

            </div>
        </div>

        <!-- testimonial section -->
        <section class="home-testimonial-bottom pb-3">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm col-lg-4 col-md-12">
                        <div class="tour-item ">
                            <div class="tour-desc">
                                <div class="tour-text color-grey-3 text-center"><span class="text-secondary"><span class="material-icons">format_quote</span></span> “It's been really great experience with
                                    team
                                    and Hr as they guided and provided me opportunity.Thanks to team and Hr for this
                                    placement.”</div>
                                <div class="card-footer">
                                    <img class="tm-people" src="../../assets/images/Suraj_Warthy.jpg" alt="" />
                                    <h6 class="link-name d-flex justify-content-center">Suraj Warthy</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-lg-4 col-md-12">
                        <div class="tour-item ">
                            <div class="tour-desc">
                                <div class="tour-text color-grey-3 text-center"><span class="text-secondary"><span class="material-icons">format_quote</span></span>“I am learning a lot from the company
                                    and I
                                    am really enjoying my work and exploring myself together.[Software Developer]”</div>
                                <div class="card-footer">
                                    <img class="tm-people" src="../../assets/images/Rinkal_Nimbalkar.jpg" alt="" />
                                    <h6 class="link-name d-flex justify-content-center">Rethinavel moorthy</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-lg-4 col-md-12">
                        <div class="tour-item ">
                            <div class="tour-desc">
                                <div class="tour-text color-grey-3 text-center"><span class="text-secondary"><span class="material-icons">format_quote</span></span>“Interview process for Qfix infocomm
                                    pvt.
                                    Ltd arranged by inventiway was very nice, I got immediate from inventiway to my CV
                                    and
                                    as you already told me the JD and companies requirements in details already so it
                                    was
                                    easy for me present myself to interviewer overall great experience with interview
                                    process.”</div>
                                <div class="card-footer">
                                    <img class="tm-people" src="../../assets/images/Akshay_shinde.jpeg" alt="" />
                                    <h6 class="link-name d-flex justify-content-center">Akshay Shinde</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>