<div class="new-landing">
    <section>
        <div class="row align-items-center">
            <div class="col-sm col-lg-5 col-sm-12">
                <div class="section-main-title mx-4">
                    <p class="mb-0">Welcome to <span class="text-primary">ReKonnect</span></p>
                </div>
                <div class="section-content mr-lg-5 mr-md-5 mb-sm-2 mx-4">
                    <p class="mb-4">Restart or kickstart your career regardless of your location or experience <br>

                        An effective platform to upskill, engage and hire the best and immediately available
                        talent
                    </p>
                </div>
            </div>
            <div class="col-sm col-lg-7 col-sm-12 pr-0">
                <div class="image-transform-section">
                    <img class="img-fluid" src="../../assets/images/new-landing/heroimage.png" alt="onboarding" />
                </div>
            </div>
        </div>
    </section>

    <!-- partners band -->
    <section class="partner-band">
        <div class="container">
            <div class="row section  mx-4">
                <div class="col-sm col-lg-2 col-sm-12 d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/bookmyshow.png" />
                </div>
                <div
                    class="col-sm col-lg-2 col-sm-12 text-center d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/centrum.png" />
                </div>
                <div
                    class="col-sm col-lg-3 col-sm-12 text-center d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/idealinsuranc.png" />
                </div>
                <div
                    class="col-sm col-lg-3 col-sm-12 text-center d-flex align-items-center justify-content-center mb-sm-3">
                    <img class="partner-image" src="../../assets/images/partners/reliance.png" />
                </div>
                <div
                    class="col-sm col-lg-2 col-sm-12 text-xl-right text-center d-flex align-items-center mb-sm-3 justify-content-center">
                    <img class="partner-image" src="../../assets/images/partners/sapiens.png" />
                </div>
            </div>
        </div>
    </section>

    <!-- events section -->
    <section class="container webinar-section background-primary">
        <div class="row ">
            <div class="col-sm col-xl-7 col-lg-12 section ">
                <div class="section-alignment justify-content-center mx-4">
                    <div class="section-title mb-5">
                        <p class="mb-0">What We Do </p>
                    </div>
                    <div class="row">
                        <div class="col-sm col-lg-12 col-sm-12">
                            <div class="d-flex align-items-center webinar-content-section mb-4">
                                <div class="image-sectionn">
                                    <img class="img-fluid separate-img"
                                        src="../../assets/images/new-landing/webinar/webinarsexpert.png" />
                                </div>
                                <div class="content-section">
                                    <div class="section-wrapper-title mb-2">
                                        <p class="mb-0">We hold webinars from experts </p>
                                    </div>
                                    <div class="section-content mr-lg-5 mr-md-5 mb-sm-2">
                                        <p class="mt-3 font-16 line-height-normal">
                                            Attend from webinars industry experts; interact with them live and ask away
                                            all
                                            your
                                            doubts </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-12 col-sm-12 mb-4">
                            <div class="d-flex align-items-center  webinar-content-section mb-2">
                                <div class="image-sectionn">
                                    <img class="img-fluid mr-4"
                                        src="../../assets/images/new-landing/webinar/liveworkshop.png" />
                                </div>
                                <div class="content-section">
                                    <div class="section-wrapper-title mb-2">
                                        <p class="mb-0">Live Workshops </p>
                                    </div>
                                    <div class="section-content mr-lg-5 mr-md-5 mb-sm-2">
                                        <p class="mt-3 font-16 line-height-normal">
                                            From upskilling workshops to the most sought-after certifications, find out
                                            what
                                            skills
                                            are trending and how to become employable from the comfort of your home </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-12 col-sm-12">
                            <div class="d-flex align-items-center mb-4 webinar-content-section">
                                <div class="image-sectionn">
                                    <img class="img-fluid mr-4"
                                        src="../../assets/images/new-landing/webinar/careerguide.png" />
                                </div>
                                <div class="content-section">
                                    <div class="section-wrapper-title mb-2">
                                        <p class="mb-0">Career Guidance </p>
                                        <div class="section-content mr-lg-5 mr-md-5 mb-sm-2">
                                            <p class="mt-3 font-16 line-height-normal">
                                                It takes more than just a resume to get a job these days; find out what
                                                these tricks
                                                of
                                                the trade are and get on the journey to your ikigai </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-lg-12 col-sm-12">
                            <div class="d-flex align-items-center mb-4 webinar-content-section">
                                <div class="image-sectionn">
                                    <img class="img-fluid mr-4"
                                        src="../../assets/images/new-landing/webinar/dreamjob.png" />
                                </div>
                                <div class="content-section">
                                    <div class="section-wrapper-title mb-2">
                                        <p class="mb-0">Land your dream job </p>
                                    </div>
                                    <div class="section-content mr-lg-5 mr-md-5 mb-sm-2">
                                        <p class="mt-3 font-16 line-height-normal">
                                            From building a career-specific resume or a cover letter tailored to the
                                            business to
                                            networking, follow all the steps you need to land that dream job </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm col-xl-5 col-lg-12 d-none d-xl-block  p-0">
                <img class="webinar-image img-fluid" src="../../assets/images/new-landing/webinar.png" />
            </div>
        </div>
    </section>

    <section class="home-testimonial">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center testimonial-pos py-4">
                <div class="col-md-12 pt-4 d-flex justify-content-center">
                    <div class="section-alignment justify-content-center">
                        <div class="section-title  mb-3">
                            <p class="mb-0">Testimonials </p>
                        </div>
                        <div class="section-content  mr-lg-5 mr-md-5 mb-sm-2">
                            <p class="mt-3 ">
                                What candidates say about us</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <h2></h2>
                </div>

            </div>
        </div>

        <!-- testimonial section -->
        <section class="home-testimonial-bottom pb-3">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm col-lg-4 col-md-12">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">“It's been really great experience with
                                    team
                                    and Hr as they guided and provided me opportunity.Thanks to team and Hr for this
                                    placement.”</div>
                                <div class="card-footer">
                                    <img class="tm-people" src="../../assets/images/Suraj_Warthy.jpg" alt="" />
                                    <h6 class="link-name d-flex justify-content-center">Suraj Warthy</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-lg-4 col-md-12">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">“I am learning a lot from the company
                                    and I
                                    am really enjoying my work and exploring myself together.[Software Developer]”</div>
                                <div class="card-footer">
                                    <img class="tm-people" src="../../assets/images/Rinkal_Nimbalkar.jpg" alt="" />
                                    <h6 class="link-name d-flex justify-content-center">Rethinavel moorthy</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-lg-4 col-md-12">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">“Interview process for Qfix infocomm
                                    pvt.
                                    Ltd arranged by inventiway was very nice, I got immediate from inventiway to my CV
                                    and
                                    as you already told me the JD and companies requirements in details already so it
                                    was
                                    easy for me present myself to interviewer overall great experience with interview
                                    process.”</div>
                                <div class="card-footer">
                                    <img class="tm-people" src="../../assets/images/Akshay_shinde.jpeg" alt="" />
                                    <h6 class="link-name d-flex justify-content-center">Akshay Shinde</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>


<!-- our services -->
<section class="services-section">
    <img class="service-img" src="/assets/images/background-illustration-services.png">
    <div class="container">
        <div class="row section mx-4">
            <div class="col-sm col-xl-6 col-lg-12 col-md-12">
                <div class="section section-alignment justify-content-center">
                    <div class="section-title mb-3">
                        <p class="mb-0">Our Services </p>
                    </div>
                    <div class="section-content mr-lg-5 mr-md-5 mb-sm-2">
                        <p class="mt-3">
                            Calling all job Seekers:whether you are a fresher or an experienced folk...we are looking
                            for you if you are immediately available
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-xl-6 col-lg-12 col-md-12">
                <div class="row section mx-4 mt-lg-n7">
                    <div class="col-sm col-lg-6 col-sm-12">
                        <div class="row">
                            <div data-aos="fade-up" data-aos-duration="2000"
                                class="col-sm col-lg-10 col-sm-12 service-card flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img class="service-image" src="../../assets/images/launch-your-career.png" />
                                        <h5>Launch your career</h5>
                                    </div>
                                    <div class="flip-card-back">
                                        <h5>Launch your career</h5>
                                        <p>You're a fresh graduate who wants to start a career from scratch or you're
                                            confused about career choices and need help</p>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade-up" data-aos-duration="4000"
                                class="col-sm col-lg-10 col-sm-12 service-card flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img class="service-image" src="../../assets/images/relaunch-your-career.png" />
                                        <h5>Relaunch your career</h5>
                                    </div>
                                    <div class="flip-card-back">
                                        <h5>Relaunch your career</h5>
                                        <p>You're an experienced professional looking to return from your sabbatical or
                                            restart a career in entrepreneurship or in a different domain</p>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade-up" data-aos-duration="6000"
                                class="col-sm col-lg-10 col-sm-12 service-card flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img class="service-image" src="../../assets/images/connect-as-employer.png" />
                                        <h5>Konnect as employer</h5>
                                    </div>
                                    <div class="flip-card-back">
                                        <h5>Konnect as employer</h5>
                                        <p>You're an organization that wants to hire the right kind of talent for your
                                            existing job postings </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm col-lg-6 col-sm-12 mt-5">
                        <div class="row">
                            <div data-aos="fade-up" data-aos-duration="8000"
                                class="col-sm col-lg-10 col-sm-12 service-card flip-card">

                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img class="service-image" src="../../assets/images/connect-with-expert.png" />
                                        <h5>Konnect with expert</h5>
                                    </div>
                                    <div class="flip-card-back">
                                        <h5>Konnect with expert</h5>
                                        <p>Schedule a one on one with Experts in your domain and get your career-related
                                            queries answered!</p>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade-up" data-aos-duration="10000"
                                class="col-sm col-lg-10 col-sm-12 service-card flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img class="service-image" src="../../assets/images/connect-as-expert.png" />
                                        <h5>Konnect as expert</h5>
                                    </div>
                                    <div class="flip-card-back">
                                        <h5>Konnect as expert</h5>
                                        <p>You're an individual with in-depth knowledge & experience in your respective
                                            field of work and you'd love to help out young professionals through your
                                            career advise</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- how it works sections -->
<section class="container onboarding-section section">
    <div class="section-title  d-flex justify-content-center mb-3">
        <p class="mb-5">How it works </p>
    </div>
    <div class="row container">
        <div class="col-sm col-xl-3 col-lg-6 col-sm-12 p-0 mb-md-5">
            <div class="onboard-card">
                <div class="w-100 text-sm-center text-lg-left"><img class="how-it-works-image"
                        src="../../assets/images/create-an-account.png" /></div>

                <h4 class="onboard-title">Create an Account</h4>
                <p class="section-content onboarding-content font-16 line-height-normal"> An email address, your digits
                    and a password is all we need to get you signed up! </p>
                <div class="border-line  d-none d-xl-block "></div>
            </div>
        </div>
        <div class="col-sm col-xl-3 col-lg-6 col-sm-12 p-0 mb-md-5">
            <div class="onboard-card">
                <img class="how-it-works-image text-md-center" src="../../assets/images/update-details.png" />
                <h4 class="onboard-title">Update details</h4>
                <p class="section-content onboarding-content font-16 line-height-normal"> As a next step, create a
                    stand-out profile by filling in important information about yourself - we promise this won't take
                    long!</p>
                <div class="border-line d-none d-xl-block "></div>
            </div>
        </div>
        <div class="col-sm col-xl-3 col-lg-6 col-sm-12 p-0">
            <div class="onboard-card">
                <img class="how-it-works-image text-md-center" src="../../assets/images/upskill-yourself.png" />
                <h4 class="onboard-title">Konnect with Experts and Upskill</h4>
                <p class="section-content onboarding-content font-16 line-height-normal">
                    Our AI enabled tech matches you with Experts in diverse fields that can help you build your career
                    and a curated list of
                    courses and programs that we publish will unveil upskilling avenues for you </p>
                <div class="border-line  d-none d-xl-block "></div>
            </div>
        </div>
        <div class="col-sm col-xl-3 col-lg-6 col-sm-12 p-0">
            <div class="onboard-card">
                <img class="how-it-works-image text-md-center" src="../../assets/images/get-placed.png" />
                <h4 class="onboard-title">Get placed</h4>
                <p class="section-content onboarding-content font-16 line-height-normal">Well if you've gotten this far,
                    then you've got a job-ready profile and you'll get placed in no time</p>
                <div class="border-line d-none d-xl-block "></div>
            </div>
        </div>
    </div>
</section>