/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.line-height-normal {
  line-height: normal !important;
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  h5 {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  h6 {
    font-size: 0.8rem;
  }
}

.background-light-green {
  background: #f0f8eb;
}

.background-dark {
  background-color: #3E3E3E;
  color: #fff;
}

.background-dark-blue {
  background: #141327;
  color: #fff;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-primary {
  color: #15759A;
}

.text-secondary {
  color: #FF6400 !important;
}

.text-color-light {
  color: #949597 !important;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-22 {
  margin-top: 22px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.w-100 {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.section.section-compact {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (max-width: 576px) {
  .section.section-compact {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.material-icons {
  vertical-align: middle;
}

.section-main-title {
  font-family: "Inter", sans-serif;
  font-size: 3.3rem;
  text-shadow: none;
  font-weight: 700;
  line-height: 100px;
  padding: 2rem 0rem;
}

@media (max-width: 1200px) {
  .section-main-title {
    font-size: 2.8rem;
    line-height: 48px;
  }
}

@media (max-width: 768px) {
  .section-main-title {
    font-size: 2.4rem;
    line-height: 34px;
  }
}

.section-title {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  line-height: normal;
  font-weight: 700;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.section-subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.section-wrapper-title {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

@media (max-width: 768px) {
  .section-wrapper-title {
    font-size: 1rem;
  }
}

.section-content {
  font-weight: 300;
  line-height: 50px;
  font-size: 2rem;
  color: #949597;
}

@media (max-width: 768px) {
  .section-content {
    line-height: 32px;
    font-size: 1.5rem;
  }
}

.btn {
  border-radius: 50px;
}

.btn.btn-primary {
  background-color: #15759A;
  color: #fff;
  border-color: #15759A;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #0C1A27;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #b9e4f5;
  border-radius: 24px;
  height: 50px;
}

.login-image {
  height: 100vh;
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
}

@media (max-width: 1200px) {
  .login-image {
    width: 350px;
  }
}

@media (max-width: 992px) {
  .login-image {
    display: none;
  }
}

@media (max-width: 992px) {
  .start-section {
    padding: 50px;
  }
}

@media (max-width: 576px) {
  .start-section {
    padding: 50px 0 0 24px;
  }
}

.start-section .section-heading {
  padding-bottom: 24px;
}

.start-section .section-form-content .form-control {
  height: calc(3rem + 2px);
  border-color: #EEEEEE;
}

.start-section .section-form-content .form-control:focus, .start-section .section-form-content .form-control:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #15759A;
}

.start-section .section-form-content .form-text > button {
  font-size: 12px;
  color: #0C1A27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.start-section .section-form-content .form-text > button > span {
  font-size: inherit;
}

.start-section .section-footer {
  padding: 16px 0;
}

.start-section .section-footer .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
}

.start-section .section-footer .title::after, .start-section .section-footer .title::before {
  content: '';
  width: 45%;
  height: 1px;
  background: #C1D4D9;
  display: block;
}

.start-section .section-footer .title > span {
  background: #fff;
  min-width: 90px;
}

.start-section .section-footer .border-outline-box {
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  height: 60px;
  position: relative;
  cursor: pointer;
  width: 200px;
}

@media (max-width: 1200px) {
  .start-section .section-footer .border-outline-box {
    width: 144px;
  }
}

@media (max-width: 992px) {
  .start-section .section-footer .border-outline-box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .start-section .section-footer .border-outline-box {
    margin-bottom: 8px;
  }
}

.start-section .section-footer .border-outline-box > img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 15px;
  left: 78px;
}

@media (max-width: 1200px) {
  .start-section .section-footer .border-outline-box > img {
    left: 50%;
  }
}

.navbar-custom .navbar-brand > .brand-img {
  height: 70px;
  width: 70px;
}

.navbar-custom .custom-navbar-collapse {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-custom .navbar-nav .nav-item {
  margin-right: 32px;
  font-size: 20px;
}

.navbar-custom .navbar-nav .nav-item > a {
  color: #3E3E3E;
  font-weight: 600;
}

.navbar-custom .navbar-nav .nav-item:hover .dropdown-menu {
  display: block !important;
}

.navbar-custom .form-inline {
  display: contents;
}

.navbar-custom .form-inline .form-control, .navbar-custom .form-inline::-webkit-input-placeholder {
  border-radius: 50px;
  min-width: 150px;
  border-color: #15759A;
  color: #15759A;
  height: calc(3.25rem + 2px);
  font-size: 1rem;
}

.navbar-custom .form-inline .form-control, .navbar-custom .form-inline:-ms-input-placeholder {
  border-radius: 50px;
  min-width: 150px;
  border-color: #15759A;
  color: #15759A;
  height: calc(3.25rem + 2px);
  font-size: 1rem;
}

.navbar-custom .form-inline .form-control, .navbar-custom .form-inline::-ms-input-placeholder {
  border-radius: 50px;
  min-width: 150px;
  border-color: #15759A;
  color: #15759A;
  height: calc(3.25rem + 2px);
  font-size: 1rem;
}

.navbar-custom .form-inline .form-control, .navbar-custom .form-inline::placeholder {
  border-radius: 50px;
  min-width: 150px;
  border-color: #15759A;
  color: #15759A;
  height: calc(3.25rem + 2px);
  font-size: 1rem;
}

.navbar-custom .form-inline > .btn {
  min-width: 150px;
  height: calc(3.25rem + 2px);
  font-size: 1rem;
}

.section .image-transform-section > img {
  height: 500px;
  width: 550px;
}

@media (max-width: 1200px) {
  .section .image-transform-section > img {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .section .image-transform-section > img {
    display: none;
  }
}

.counter-band .section-emphasis-letter {
  color: #949597;
  font-size: 18px;
  text-transform: uppercase;
}

.partner-band {
  background: #f0f8eb;
}

.partner-band .partner-image {
  width: 150px;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  cursor: pointer;
}

.partner-band .partner-image:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.services-section {
  position: relative;
}

.services-section .service-img {
  width: 1330px;
  z-index: -2;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .services-section .service-img {
    display: none;
  }
}

.services-section .section-alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

@media (max-width: 1200px) {
  .services-section .section-alignment {
    height: 100%;
  }
}

.services-section .service-card {
  margin-bottom: 24px;
  margin-right: 24px;
  width: 235px;
  padding: 0;
  border-radius: 8px;
}

.services-section .service-card .service-image {
  width: 235px;
  height: 196px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  .services-section .service-card .service-image {
    width: 100%;
  }
}

.services-section .service-card h5 {
  padding: 16px 8px 8px;
  text-align: center;
}

.services-section .flip-card {
  position: relative;
  height: 250px;
}

.services-section .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.services-section .flip-card .flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(121, 93, 93, 0.1);
          box-shadow: 0 4px 8px 0 rgba(121, 93, 93, 0.1);
}

.services-section .flip-card .flip-card-front, .services-section .flip-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.services-section .flip-card .flip-card-front {
  background: #fff;
}

.services-section .flip-card .flip-card-back {
  background-color: #15759A;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
}

.webinar-section .webinar-image {
  width: 100%;
  height: 520px;
}

@media (max-width: 768px) {
  .onboarding-section .onboard-card {
    text-align: center;
  }
}

.onboarding-section .onboard-card .how-it-works-image {
  width: auto;
  height: 160px;
}

.onboarding-section .onboard-card .onboard-title {
  margin-top: 24px;
}

.onboarding-section .onboard-card .onboarding-content {
  padding: 16px 32px 8px 0;
}

.onboarding-section .onboard-card .border-line {
  border-radius: 12px;
  background: #0C1A27;
  height: 6px;
}

.onboarding-section .onboard-card:nth-child(1) .border-line {
  width: calc(100% - 170px);
}

.testimonial-section .testimonial-section-content .text-secondary * {
  color: #FF6400;
  font-size: 48px;
}

.testimonial-section .testimonial-section-content .text-secondary:first-of-type {
  text-align: left;
}

.testimonial-section .testimonial-section-content .text-secondary:first-of-type span {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.testimonial-section .testimonial-section-content .text-secondary:last-of-type {
  text-align: right;
}

.testimonial-section .testimonial-section-content .testimonial-text {
  border-left: 4px solid #15759A;
  padding-left: 32px;
  margin-left: 22px;
}

.testimonial-section .testimonial-section-content .testimonial-text > p {
  font-size: 32px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .testimonial-section .testimonial-section-content .testimonial-text > p {
    font-size: 18px;
  }
}

.testimonial-section .testimonial-section-content .testimonial-text > h5 {
  margin-top: 24px;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .testimonial-section .testimonial-section-content .testimonial-text > h5 {
    font-size: 18px;
  }
}

.testimonial-section .testimonial-image-section {
  position: relative;
}

.testimonial-section .testimonial-image-section .curve-skew {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
}

@media (max-width: 1200px) {
  .testimonial-section .testimonial-image-section .curve-skew {
    display: none;
  }
}

.testimonial-section .testimonial-image-section .curve-skew > img {
  height: inherit;
  width: 100px;
}

.testimonial-section .testimonial-image-section .curve-skew .text-secondary {
  position: absolute;
  left: 40px;
  top: 43%;
  font-size: 40px;
  font-weight: 700;
}

.testimonial-section .testimonial-image-section .testimonial-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

@media (max-width: 768px) {
  .testimonial-section .testimonial-image-section .testimonial-image {
    display: none;
  }
}

.footer .footer-branding > img {
  width: 70px;
  height: 70px;
}

.footer .footer-title {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.footer .footer-parent-branding {
  margin-top: 40px;
}

.footer .footer-parent-branding > img {
  width: 70px;
  height: 70px;
  margin-right: 32px;
}

.footer .footer-parent-branding h5 {
  font-size: 1rem;
  font-weight: 700;
}

.footer .card {
  background-color: transparent;
  border: none;
}

.footer .card .card-header {
  background: transparent;
  border: none;
  padding-left: 0;
}

.footer .card .card-header * {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.footer .card .card-body > ul li {
  margin-bottom: 5px;
}

.footer .card .card-body > ul li > a {
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */