//write css here if needed

.banner {
  display: flex;

  .banner-Info {
    margin: 10% 0 0 10%;
    flex: 6;
  }

  .banner-Img {
    flex: 6;
  }
}

.inner-card {
  margin: 0 5% 0 0;
}

.Price-Card {
  display: flex;
  // border: 1px solid black;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;

  .Card-1 {
    border: 1px solid #15759a;
    border-radius: 20px;
    overflow: hidden;
    width: 35%;
    height: 100%;

    .Card-header {
      color: aliceblue;
      height: 30%;
      text-align: center;
      border: 1px solid black;
      padding: 5% 8%;
      background-color: #15759a;
      font-family: "Poppins", Sans-serif;
      line-height: 30px;
      border: 1px solid red;

      h3 {
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 700;
      }

      p {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .Card-Content {
      // border: 1px solid black;
      position: relative;
      height: 70%;
      padding: 10% 0 10% 0;

      .Card-Price {
        text-align: center;
        font-weight: 900;
        h2 {
          font-size: 30px;

          small {
            font-size: 18px;
          }
        }
      }

      .Card-Details {
        li {
          line-height: 45px;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .Card-Button {
        width: 100%;
        position: absolute;
        bottom: 5%;
        right: 0;
        text-align: center;

        button {
          border: none;
          cursor: pointer;
          color: #15759a;
          border: 1px solid #15759a;
          margin: 5px 5px;
          padding: 15px 25px;
          border-radius: 10px;
          font-size: 20px;
        }
        button:hover {
          background-color: #15759a;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (min-width: "1200px") {
  .outer-card {
    margin: 0 0 0 100px;
  }
}

@media screen and (max-width:"1150px") {
  .Price-Card{
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
